[2017-02-16 17:32] chanansh commented on #314
What version of eigen to use?

[2017-02-16 17:33] chanansh commented on #314
I compiled with CPU

[2017-02-16 17:34] neubig commented on #314
@chanansh The only way to fix the problem (that I know at the moment) is reverting the version of DyNet according to my instructions. The official version of Eigen recommended in the doc should work, both on CPU and GPU. Fixing this is top priority, so it should be fixed in the next couple hours.

[2017-02-16 17:55] neubig commented on #314
@chanansh @pmichel31415 This should be fixed in the master branch by this commit: https://github.com/clab/dynet/commit/5807b4364e237e135d025d335578e5c0211df4f0

Could you please try pulling the latest master and seeing if it works for you?

[2017-02-16 18:07] pmichel31415 commented on #314
@neubig I'm about to test it now.

Do you think this could be linked to the python version? I used python 2.7 and had no bug, this had also been tested by someone else in #255

[2017-02-16 18:20] neubig commented on #314
@pmichel31415 This is quite possibly linked to the python version, yes.

[2017-02-16 18:29] pmichel31415 commented on #314
So I wasn't able to reproduce this bug neither before nor after your patch @neubig . (tried on ubuntu CPU, both python 2.7 and 3.4

Looking at the error trace it looks like it could be a c++ problem.

@chanansh let me know if the patch solved it for you and/or if it works if you checkout 7f45b7e6b1dd85f510f7e6ce362dfd1e8942b52a

In the meantime i'll take a look. If the bug persists then I think it

[2017-02-16 19:19] chanansh commented on #314
7f45b7 resolved the issue

[2017-02-16 19:34] mattr1 commented on #309
I'm not sure why it's not working properly for you. I just tried this myself in Windows and it works fine. However, according to the Intel documentation (https://software.intel.com/en-us/node/528547), they recommend that you don't set MKL_DYNAMIC to false unless needed. I leave it unset. Can you try leaving MKL_DYNAMIC not set, and then change the MKL_NUM_THREADS and see what happens? Also, there

[2017-02-16 20:42] neubig commented on #314
@chanansh OK, if you have time to verify the latest version as well that would be greatly appreciated!

[2017-02-17 14:41] neubig opened #315 "Immediate Computation needs Python Implementation"
Immediate computation (http://dynet.readthedocs.io/en/latest/debugging.html) is useful for debugging, but not implemented for Python. This can probably be added easily by adding optional arguments to the `renew_cg()` function.

[2017-02-17 15:40] talbaumel commented on #78
I updated CUDA and it didn't work

btw, the cmake line in the documantation should be:
cmake .. -DEIGEN3_INCLUDE_DIR=../../eigen -DPYTHON=`which python` -DBACKEND=cuda
intead of:
cmake .. -DEIGEN3_INCLUDE_DIR=../eigen -DPYTHON=`which python` -DBACKEND=cuda

[2017-02-17 15:52] neubig commented on #78
Sorry, not updating CUDA, updating DyNet. Are you using the most recent version from master? And thanks for pointing out the error with the Eigen path.

[2017-02-17 16:04] talbaumel commented on #78
Yeah, I tried to install the latest version

Thank you for the support and the great library!

[2017-02-17 17:08] anglil commented on #309
Thanks. I've tried all these combinations of these variables - It turns out that the only two configurations that worked for me are the following:
OMP_NUM_THREADS=2
OMP_NESTED=TRUE
MKL_DYNAMIC=FALSE

unset everything MKL and OMP, and then
MKL_NUM_THREADS=2
both of which led to CPU% = 200%.
Any configuration that's not any of these leads to just one core being used. Especially, when OMP_NUM_THREADS

[2017-02-17 19:16] mattr1 commented on #309
I would stick with option (b) -- that's what I've been doing and seen work fine with varying the number of threads.

Okay, I think I found the problem. I just tried train_encdec myself and it's only using one core for me also. The problem is the default input and hidden dimensions are tiny (2 and 4, respectively)! So there is no option for MKL to multi-thread the matrix operations. Can you append

[2017-02-17 19:24] anglil commented on #309
Thanks! I replicated what's happened on your end after setting the hidden size to 200 and sticking with option (b).
Final question, Is OpenMP introduced by installing MKL? If this is not the case, I wonder if using option (b) would affect parallelism in other applications or software that use multi-threading?  Thanks!

[2017-02-17 19:46] mattr1 commented on #309
On Windows at least, installing MKL also installs OpenMP libraries, since MKL depends on them (look for libiomp). I would presume that whether or not you have installed MKL, if you set the OMP environment variables, it would affect any program that uses OpenMP. I would also hope that setting MKL_NUM_THREADS would only affect MKL, not OpenMP. The best bet it to set MKL_NUM_THREADS in your local env

[2017-02-17 20:03] anglil commented on #309
That's really helpful. Thanks for your input :-)

[2017-02-17 20:03] #309 closed

[2017-02-17 22:05] iamyoungjo opened #317 "Bus Error 10 - Any ideas?"
I recently got installed dynet with gpu option but I'm seeing this error whenever I run the actual code with _gdynet.

[code]

Anyone had this error before? I searched similar errors in the issues but not able to find any. The same code works flawlessly with 'dynet' (non-gpu) import.

Could possibly be related to my rare system setup (OS X 10.11.8 + GPU enabled).

Thank,
YJ

[2017-02-18 01:52] neubig commented on #317
Hmm, I've never heard of anyone encountering this, but as you suspect it might be an error that only occurs on Mac with CUDA, which is a rather unusual setting. Could you please attach an example of the code that you're running, and also the command line arguments you're using?

Also, you mentioned you're importing `_gdynet` directly. Are you following the instructions here http://dynet.readthedoc

[2017-02-18 06:23] iamyoungjo commented on #317
I tweaked a bit on the tutorial_bilstm_viterbi_tagger in order to use command line inputs (for file inputs) and python3 compatible, but nothing major has changed. About "dy.init()", I tried to include the dy.init() but it showed very weird error:

I went through the instruction again but wasn't able to find the solution.
If I've done anything wrong on my setup, let me know.
[tutorial_bilstm_viterb

[2017-02-18 06:46] iamyoungjo opened #318 "implementation of flip_gradient on dynet"
Hello.

This is more like proposal or suggestion than issue finding. I would like to implement flip_gradient, which is kind of a key feature for adversarial training. But dynet doesn't have it. I know this will never be a complicated tweak as it's just putting negative on backprop process only. But as I am lack of fundamental ideas of dynet structure, can you suggest which codes that I need to loo

[2017-02-18 12:44] neubig commented on #318
Sure, for this it'd probably be best to create a "flip_gradient" operation. A brief description of how to do so is here at the very end of the slides:
http://phontron.com/slides/emnlp2016-dynet-tutorial-part1.pdf

My suggestion would be to take a look at the code for the "nobackprop" operation and the unary "-" operation, and combine the ideas together. If you get this working we'd love to have a

[2017-02-18 12:47] neubig commented on #317
OK, if ``init()'' is missing from ``_gdynet'' this seems like a bug. Could you get it to work by doing the standard ``import dynet'' and adding the ``--dynet-gpu'' command line argument?

[2017-02-18 13:55] iamyoungjo commented on #318
This tutorial is exactly what I was looking for. I will work on it and get back to you soon!

[2017-02-18 14:40] iamyoungjo commented on #317
I tried --dynet-gpu but it shows the similar behavior.

I pulled out dy.init() from the code and tried, but no luck.

Strangely, I figured that if I put more memory size (e.g. 6114MB), it shows a bit different error.

I don't think it's because of "out of memory" is indicating system memory as I know it works in non-gpu dynet flawlessly with lower size allocation. Or, could it be related to my GPU

[2017-02-18 18:07] iamyoungjo commented on #318
Hi,

I implemented as you suggested.

This is a snippet from nodes.cc
[code]
And this is from simd_funtors.h.
[code]

Currently I am writing a sample code to see if this works fine in actual training process. If I missed some part to be changed or got anything wrong, glad to have your feedback.

Thanks,

[2017-02-18 19:32] iamyoungjo commented on #318
Hi,

I implemented as you suggested.

This is a snippet from nodes.cc
[code]
And this is from simd_funtors.h.
[code]

Currently I am writing a sample code to see if this works fine in actual training process. If I missed some part to be changed or got anything wrong, glad to have your feedback.

Thanks,

[2017-02-19 13:21] vicmak opened #320 "Installing DyNet on Windows with CUDA"
Windows Server R2
Visual Studio 2013 (Community)

I am having a trouble of installing DyNet on Windows.
After running cmake with all necessary cmake flags and parameters got a dynet sln solution file.
The solution in VS does not compile after I try to build it. I get 2 error types:

1) Error	135	error C2398: Element '2': conversion from 'unsigned int' to 'const __int64 &' requires a narrowing conv

[2017-02-19 18:43] iamyoungjo commented on #318
I initiated a pull request. Thanks @neubig !

[2017-02-19 19:43] cndn opened #322 "Dynet build crash on AWS p2 instance"
Hi,

I'm using AWS p2 instance on Ubuntu 16.04. CUDA version is 8.0. I installed and configured CUDA following instruction of this link:
http://expressionflow.com/2016/10/09/installing-tensorflow-on-an-aws-ec2-p2-gpu-instance/

When I build dynet with GPU support it crashed.

make.log is as follows. Thanks.

[2017-02-19 19:53] neubig commented on #322
From the error: `catastrophic error: error while writing generated C file: No space left on device`, it looks like you might have run out of disk space? You can either re-create your instance with more disk space, or increase the disk space of your existing instance. Please tell me if this works: http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ebs-expand-volume.html

[2017-02-19 20:49] cndn commented on #322
Yes it is due to lack of disk space. When launching p2.xlarge, the default disk space is 8G. Seems the peak usage exceeds that a little. Use more than 10G for safety. (For test I use 30G and it is perfectly OK)

[2017-02-19 20:54] neubig commented on #322
OK, I'll close this then. Thanks for the report!

[2017-02-19 20:54] #322 closed

[2017-02-20 02:46] neubig opened #324 ""cout" of expressions doesn't work with batched expressions"
In the C++ API, attempting to print batched expressions causes a cryptic error:

    Assertion failed: (d.batch_elems() == 1), function operator*,

This should be fixed to actually print out the expression in the standard format for Eigen tensors.

[2017-02-20 03:39] pcyin opened #325 "Picking and setting values of tensors at particular batch"
Hi,

It would be nice that `pick` could support retrieving values from a specific batch. Similarly, we could have a `set` operation to allow setting values of particular rows/columns/batches. This is extremely useful to allow for mixed batching/unbatching operations. E.g.,

[code]

[2017-02-20 03:42] neubig commented on #325
Yes, I think this is definitely useful, but maybe we can merge the comments into this already-open issue: https://github.com/clab/dynet/issues/170

[2017-02-20 04:43] vicmak commented on #320
Was solved by installing Microsoft Visual Studio 2015 (Community) and boost 1 61.
Previously tried VS 2013 and boost 1 55.

[2017-02-20 04:44] #320 closed

[2017-02-20 08:02] ilkerkesen commented on #298
Sorry for the late response. I don't think this is the same problem, because I couldn't have find libboost in the paths you mentioned. I just followed the installation guide and installed libboost via apt. My libboost version is 1.58.0.

[2017-02-20 11:31] neubig commented on #298
@ilkerkesen OK, could you please remove the `CC=gcc-4.9 CXX=g++-5` variable declaration, and do a clean build following these instructions?

If you can send the `make.log` file we might be able to debug your original problem.

[2017-02-20 20:16] ilkerkesen commented on #298
[Here](https://gist.github.com/ilkerkesen/48447911c6ac32c43ca2e75f4196235b) is the new make log. Thanks a lot for your concern.

[2017-02-20 20:35] neubig commented on #298
Hmm, I still strongly suspect that you have two different versions of boost installed on your machine. Does DyNet compile without any of the Boost flags? Try removing `-DBOOST_ROOT:PATHNAME=/usr/include/boost -DBoost_LIBRARY_DIRS:FILEPATH=/usr/lib/x86_64-linux-gnu -DBoost_NO_BOOST_CMAKE=TRUE -DBoost_NO_SYSTEM_PATHS=TRUE` and see if compilation works.

[2017-02-20 20:42] ilkerkesen commented on #298
I've just updated the [gist](https://gist.github.com/ilkerkesen/48447911c6ac32c43ca2e75f4196235b).

[2017-02-20 22:02] pmichel31415 opened #326 "Input with numpy.ndarray or tensors"
It would be a real quality of life improvement if one could input expressions as numpy multidimensional arrays directly without flattening + specifying the dimension. This is tricky currently especially since it looks like numpy [is row major by default](https://docs.scipy.org/doc/numpy/reference/generated/numpy.ndarray.flatten.html) whereas [dynet expects column major ordering](https://github.com

[2017-02-20 22:47] neubig commented on #326
Simultaneously, I'd like to fix this:
https://github.com/clab/dynet/issues/175

You're correct that the difference between the row-major and column-major difference is annoying, but I imagine that we'll just have to re-map row major format (in numpy) into column major (in the computation graph).

[2017-02-20 22:50] pmichel31415 commented on #326
Yes it can be done easily, actually you only need to call `numpy.flatten(_,order='F')` but it should probably be invisible to the end python user.

[2017-02-20 23:17] neubig commented on #326
Yes, totally agree on this. And actually, because inputting things to the computation graph is causing a memory copy anyway this probably shouldn't be a huge performance hit.

[2017-02-21 05:07] neubig commented on #314
This seems to be fixed, so I'll close it unless someone else can confirm it's broken.

[2017-02-21 05:07] #314 closed

[2017-02-21 09:40] jcyk opened #328 "Install problem: Error compiling Cython file"
Hi, I got the following error when installing the python dynet module.
Is there any idea to fix that?

My cython version is 0.19
with gcc (GCC) 4.8.5 20150623 (Red Hat 4.8.5-4)

[code]

[2017-02-21 13:32] dpressel commented on #236
I have the Kim algorithm implemented in Keras, PyTorch, Torch7 and TensorFlow.  I'm interested in implementing it in DyNet as well, once this issue is resolved.  If helpful for reference of what other FWs do, code is here:

https://github.com/dpressel/baseline/tree/master/classify

[2017-02-22 03:23] neubig commented on #248
The issue of the doc should be updated here: https://github.com/clab/dynet/commit/f9481829e80ffee418ec81ba9084286d3b67d9ab

With regards to the problem of multiplication, basically I would recommend implementing the attention model without mini-batching, then only making two changes: changing `lookup()` (with a single word ID) to `lookup_batch()` (with a list of word IDs for time step t), and `pic

[2017-02-22 03:23] #248 closed

[2017-02-22 03:34] neubig commented on #328
I'm not sure, but perhaps your Cython version is too old? It looks like mine is 0.24. Could you try upgrading to a more recent version (possibly using anaconda?) and see if that helps.

[2017-02-22 05:58] jcyk commented on #328
@neubig  Thanks for your suggestion. I tried upgrading Cython to 0.25.2 (from downloaded .whl file), and the problem disappeared. It's should be caused by old version cython.

[2017-02-22 13:34] neubig commented on #328
OK, glad to hear this fixed the problem. We should add a check to `setup.py` to check the Cython version.

[2017-02-22 13:54] pmichel31415 opened #329 "Dynet accepts only weight decay between 0 and 1"
I tried to set the weight decay parameter to 1 and it gave me an exception : is there a rationale behind this choice?

The only constraint that I see is that the weight decay parameter be >=0, there is no probabilistic interpretation that justifies that it should be 0 < . < 1

Let me know and I'll fix this

[2017-02-22 16:45] neubig commented on #329
I actually think weight decay sets the weights W to be equal to: `W <- (1 - weight_decay) * W`. I don't think values more than 1 make sense here?

[2017-02-24 13:39] ilkerkesen commented on #298
I think I've solved the issue, this is the output of train_xor:

[https://gist.github.com/ilkerkesen/1105d1fa319cbd9d2ec9f5f9487a7e99](https://gist.github.com/ilkerkesen/1105d1fa319cbd9d2ec9f5f9487a7e99)

What I did is, I just compared my compilation process with Travis CI building. Ubuntu versions differ. So do the library versions. I've set CC/CXX variables to gcc-5/g++-5 (in Travis configuratio

[2017-02-24 14:52] neubig commented on #298
Glad to hear it was resolved!

[2017-02-24 14:52] #298 closed

[2017-02-24 23:09] neubig commented on #318
Resolved by #321

[2017-02-24 23:09] #318 closed

[2017-02-25 03:32] neubig commented on #315
Fixed by #334

[2017-02-25 03:32] #315 closed

[2017-02-25 03:41] neubig commented on #285
No, I don't think you need to do padding here. This code looks valid as-is.

[2017-02-25 03:41] #285 closed

[2017-02-27 14:50] pmichel31415 commented on #329
So my intuition was that it corresponded to the coefficient of the l2 penalty but that doesn't seem to be the case.

However it still seems fishy, the only place I see it used is [here (SimpleSGDTrainer for example)](https://github.com/clab/dynet/blob/master/dynet/training.cc#L123) the weight decay seems to be used to _divide_ the gradient. Is there something I'm missing?

[2017-02-27 18:08] neubig commented on #328
Perhaps something in this repository could be used to add this check? https://github.com/thewtex/cython-cmake-example

We would welcome any contributions.

[2017-02-27 20:09] pmichel31415 opened #335 "Select_rows bugged on gpu"
I get a segmentation fault using select_rows on a matrix when running on gpu (works on CPU).

I will try to upload unit tests for select operations later.

Is there another way to select submatrices on GPU without picking each parameter individually? pickrange seems to work only for vectors.

[2017-02-27 20:15] neubig commented on #335
Hmm, once you get the unit tests I'll debug this ASAP. I thought this was working.

Regarding the second, the answer is "at the moment no, but this is something we should definitely have and would not be hard to add".

[2017-02-27 20:35] pmichel31415 commented on #335
I submitted a pull request.

After double checking here's what I've found :

- only select_rows creates problem (not select_cols)
- here's the error on the GPU for the unit tests :
    unknown location(0): fatal error: in "node_test/select_rows_gradient": memory access violation at address: 0x1020dc00004: invalid permissions
- looking at the code, the only difference between select_rows and select

[2017-02-27 21:22] neubig commented on #335
Thanks! I think the missing device is quite possibly the problem. Also I realized that these are not doing proper bounds checking, so I'll send an update to the pull request with these two problems fixed.

[2017-02-27 21:33] neubig commented on #335
OK, should be done in the updated version of https://github.com/clab/dynet/pull/336
Will merge pending passing tests.

[2017-02-27 22:33] pmichel31415 commented on #335
Thanks for the quick help!

I can confirm that it works on my end.

[2017-02-27 22:33] #335 closed

[2017-02-28 04:46] jcyk commented on #328
@neubig  I have tried to pull a [request](https://github.com/clab/dynet/pull/337).
Tested on my macbook, at least Cython version 0.23 is required. The setting is at Line 25 of `cmake/FindCython.cmake`

Most code is borrowed from https://github.com/espressomd/espresso/blob/python/cmake/FindCython.cmake

[2017-03-01 14:11] speedcell4 opened #338 "Can not find cwise_multiply"
[code]

[2017-03-01 15:24] neubig commented on #338
As noted in the [documentation](http://dynet.readthedocs.io/en/latest/operations.html#_CPPv2N5dynet4expr5cmultERK10ExpressionRK10Expression), this has been renamed to `cmult()`. There were still a couple places in the code examples where `cwise_multiply()` remained though, so I fixed them here: https://github.com/clab/dynet/commit/05521c66deae17929e3982f4c67e0d3b9f79a33e

[2017-03-01 15:24] #338 closed

[2017-03-01 19:49] pmichel31415 opened #339 "Python bindings only allow tensors up to rank 2"
For instance, `Expression.npvalue()` launches an assertion error if the number of dimensions per batch is >2.

One should be able to retrieve a `np.ndarray` of shape of length > 2 for a higher ranked tensor (this would probably also simplify the code)

[2017-03-01 20:13] neubig commented on #339
Yeah, this should be fixed.

[2017-03-01 20:14] neubig commented on #156
Perhaps this is resolved? If so I'll close it.

[2017-03-01 20:15] pmichel31415 commented on #339
Yes I am working on it right now. It might incur some performance overhead but I think it's negligible compared to the cost of forward/backward

[2017-03-01 20:17] neubig commented on #339
Cool. And even if it is a little bit slow, having an implementation (possibly with a comment in the doc + issue filed to make sure that people realize that it's sub-optimal) is better than none at all.

[2017-03-01 20:21] yoavg commented on #339
I didn't know we supported higher-order tensors in dynet. what are we using them for?

In any case, if we support them, it should be reflected in python of course. I think the only place this may get tricky is with memory oredering. So I'd pay attention to that.

[2017-03-01 20:29] pmichel31415 commented on #339
@yoavg Yes theoretically dynet supports them up to order 4 I think.

I have no particular application in mind, but it could be useful for someone one day.

As far as ordering is concerned I believe using `order='F'` when reshaping/reordering should do the trick right? Anyway I'll write tests to make sure nothing breaks.

[2017-03-01 20:32] yoavg commented on #339
cool.

order='F' should work, yes. Do we also have a way of creating such tensors from data? if so, this should also be supported I guess.

[2017-03-01 20:33] pmichel31415 commented on #339
My recent pull request #340 adds a function to create a tensor from an arbitrary numpy ndarray

[2017-03-01 21:57] pmichel31415 commented on #239
I think I corrected this issue in #340 :

Basically what `expr.dim()` did was returning (nb of elements,nb of rows, nb of cols, nb of batches) so here (2,2,1,1)

The new behavior in my pull request is returning (dim_1,dim_2,...,dim_n,batch_size) so this would correspond to (2,1,1) here.

Maybe it would be better not to include the batch size if it's equal to 1, what are your thoughts?

[2017-03-01 22:57] neubig commented on #239
I think it should probably return a tuple `((2,1), 1)`, which is probably what you did?

[2017-03-01 23:02] pmichel31415 commented on #239
Aah that makes more sense, I'll do that.

[2017-03-02 05:13] pmichel31415 commented on #339
Fixed by #340

[2017-03-02 05:13] #339 closed

[2017-03-02 05:14] pmichel31415 commented on #326
Fixed by #340

[2017-03-02 05:14] #326 closed

[2017-03-02 14:20] #328 closed

[2017-03-02 16:10] nsaphra opened #342 "debugging documentation"
Currently the [debugging documentation](http://dynet.readthedocs.io/en/latest/debugging.html) claims that in python you can add parameters when calling `renew_cg()`. That doesn't seem to be the case with the current version. Perhaps this is a future feature? Either way, maybe this should be removed from the docks until it is in the current release.

[2017-03-02 16:18] neubig commented on #342
I believe it does?
https://github.com/clab/dynet/blob/master/python/_dynet.pyx#L559

Graham

[2017-03-02 16:30] neubig opened #343 "Optimizers in DyNet should have access to loss function value"
There are a number of optimizers such as LBFGS and Eve (https://arxiv.org/pdf/1611.01505.pdf) that require access to the loss function value to calculate. The current interface doesn't support this, so it should be added.

[2017-03-02 16:37] nsaphra commented on #342
My mistake, I was actually running an old version.

[2017-03-02 16:37] #342 closed

[2017-03-02 20:56] pmichel31415 commented on #169
OK I came back to this because this is the biggest barrier of entry right now IMO.

Here's the state of things :

1. Generating the doc automatically with sphinx (like what we do for c++) requires to compile the cython files (sphinx doesn't analyse the source code apparently, don't ask me why)
2. This means if we want to automate things completely on readthedocs like c++ we need to recompile the w

[2017-03-02 23:51] botev opened #345 "Simple MLP breaks"
Sorry, as this might be easy question, but I'm quite new to DyNet. I tried the following:
[code]
and it gives me:
[code]
This seem like a basic thing so can someone point me to what I'm doing wrong. The x_in is a matrix however.

[2017-03-03 00:35] botev commented on #345
Ok so from what I've learn DyNet has its own mechanism for batching, thus my input should be a vector. However, now I'm having problem finding how to provide minibatches at runtime - e.g. I want to run it as a static graph similar to Theano and tensorflow. I'm having difficulties in 1. defining an integer input, also finding how to take a mean over the minibatch (not sum).
E.g. at the end after a

[2017-03-03 01:42] pmichel31415 commented on #345
Not sure I understood everything, here's how it works :

First bug :

From what I understand you want `x_in` to be batched right? You can read more about minibatching in the docs but basically what you want is :

    x_vals=np.zeros((64,64))
    x_in = dy.inputTensor(x_vals,batched = True) # The last dimension of x_vals
                                                 # will be used as a batch dim

[2017-03-03 03:54] botev commented on #345
Hmm, so what is the difference between `dy.inputTensor` with a provided numpy value and `dy.matInput` with only specified dimensions?

I'm trying to benchmark DyNet and it will be on a static function so I want to implement it such that it is as optimal as possible. E.g. at each iteration I will be passing new data. I was thinking this will happen similar to theano, but do I just need to reconstru

[2017-03-03 04:26] pmichel31415 commented on #345
So `dy.inputTensor` only takes a numpy ndarray (vector, matrix, tensor...) and infers the dimensions from the shape of the array (and with `batched=True` it uses the last dimension as a batch dimension) whereas matinput creates an empty matrix of the given dimensions.

Yes you need to recreate the graph each time before calling forward/backward. Basically you would have a function `getMLPLoss(x,y)

[2017-03-03 04:32] neubig commented on #345
Just an additional note: the C++ interface does support static declaration like theano, but I'm not sure if Python does. It might be one thing with considering.

[2017-03-03 07:09] yoavg commented on #345
To add on @neubig 's comments:

1) Yes, you do need to create the graph each time, but this construction is very fast.
2) The Python bindings do support "static" graphs to some extent: you can construct a graph and then change just the input nodes. (I am not sure this holds for the inputTensor yet).
3) But you really shouldn't care much about doing (2), as creating the graph is really as fast once

[2017-03-03 07:18] yoavg opened #346 "Retire matInput from python?"
Following questions on #345 , and now that we have inputTensor, perhaps we should consider retiring matInput (replacing it with a blank op that throws an error and asks the user to switch to inputTensor).

We really don't need both functionalities, and the way inputTensor handles things is cleaner.
The difference in functionality I do see is that matInput supports setting a new value (for "static"

[2017-03-03 08:38] zhang-wen commented on #156
ok, may be my implemetion has some problem, let me check again. thank you @neubig

[2017-03-03 08:39] zhang-wen opened #347 "i got an error about cython when i execute 'make -j 2'"
cythoning _dynet.pyx to _dynet.cpp

Error compiling Cython file:
------------------------------------------------------------
...
        self.thisptr.backward(index)

    cpdef print_graphviz(self):
        self.thisptr.print_graphviz()

    cpdef void checkpoint(self):
         ^
------------------------------------------------------------

_dynet.pyx:590:10: Return with value in void function

[2017-03-03 12:42] neubig commented on #346
I agree with this.

[2017-03-03 15:34] pmichel31415 commented on #346
By setting a new value do you mean calling `.set()` on a `_vecInputExpression` ? I believe that is also possible with `inputTensor` since it also returns a `_vecInputExpression` (unless I'm missing something)

If this is the case, then maybe it would be a good idea to add a `setTensor` method to set a new value via a numpy ndarray as well? From my own experience it's a bit unsettling as a first ti

[2017-03-03 16:12] pmichel31415 opened #348 "Glorot initialization is not good in VanillaLSTMBuilder"
The parameters are created as two big `4*d_hid x d_hid`, `4*d_in x d_in` matrices so the implicit Glorot Initialization is done accordingly, whereas it should be done separately for each gate (and differently for tanh and sigmoid gates).

I don't know of any easy way to do this. Ideally one would create the four parameters separately and then stack them together but this doesn't seem easy to do wi

[2017-03-03 16:18] neubig commented on #348
How about we just use UniformInitializer and calculate the appropriate Glorot initialization coefficient inside the builder?

[2017-03-03 16:21] pmichel31415 commented on #348
Well the problem is not as much the coefficient as the fact that the four parts of the matrix should be initialized with different coefficients. Is there an efficient way of doing this without manipulating eigen tensors directly?

[2017-03-03 16:27] neubig commented on #348
You wouldn't need to manipulate Eigen tensors, but you would need to manipulate DyNet tensors. Just fetch the pointer to the memory of the main parameter object, and do a bit of pointer math, create a new DyNet Tensor that points to this with the appropriate size, then call TensorTools::Uniform. It's not the prettiest solution, but it's correct and efficient.

[2017-03-03 17:00] neubig commented on #347
What is your version of Cython? Are you using the latest version of DyNet?

[2017-03-03 17:01] neubig commented on #345
Because the main question here has probably been resolved, I'll close this now in favor of #346

[2017-03-03 17:01] #345 closed

[2017-03-03 23:38] neubig commented on #169
One thing I was thinking about was that it might be worth totally assisting the doc for Python and C++. in other words, the would be totally different readthedocs sites. Would this make things easier?

[2017-03-04 00:14] yoavg commented on #348
Nice catch!

I am curious how much this will affect the results.

As a possible less-ugly solution, perhaps write an initializer for this? ("JointMatrixGlorotInitializer" or something?)

[2017-03-04 00:15] yoavg commented on #346
Yes, no need to require the user to call flatten. This was a bad design choice on my part when creating the initial python matrix inputs.

[2017-03-04 01:40] botev commented on #345
just to clarify in that case @yoavg does DyNet has something similar to tensorflow queus or pytorch own arrays, which to allow more efficient moving of data?

[2017-03-04 12:44] zhang-wen commented on #347
@neubig  hi, i have fixed this problem, because the Cython version is too low, after i upgrade the Cython, it works, yes, i am using the latest version of DyNet.
but i used command `pip install Cython` to install Cython 0.25, but when i input `cython --version`, it always showed 0.21, when i `pip install Cython==0.24`, now the version of Cython is 0.24.1, finally  the compling of DyNet works!

[2017-03-04 13:53] zhang-wen opened #350 "Segmentation fault (core dumped)"
hello, everyone,
i updated the DyNet, but when i run

[code]

it showed  `Segmentation fault (core dumped)`  error

[2017-03-04 14:17] #347 closed

[2017-03-04 14:20] neubig commented on #350
I think you're missing a call to `dy.init()`. Please take a look here for proper usage: http://dynet.readthedocs.io/en/latest/python.html#usage

Please confirm whether this fixes your problem. If it does, we should probably need to have a check whether `dy.init()` has been called or not.

[2017-03-04 15:13] neubig commented on #224
In light of this: https://github.com/clab/dynet/pull/340

Is it time to revisit this issue? At least this should be documented I guess.

[2017-03-04 15:32] yoavg commented on #224
What is the fix you are you proposing?

I think a fix would be:
1) remove the initializer option
2) potentially allow passing a numpy array instead of a shape to .add_lookup_parameters

[2017-03-04 16:25] neubig commented on #224
I don't think 1. is a good choice, because we probably still want the ability to have GlorotInitializer, UniformInitializer, NormalInitializer, etc. for both Parameters and LookupParameters. (I added this because I needed it to compare with other toolkits.)

Intuitively, I like the idea of all initialization-related things being handled through an Initializer class, instead of having two separate

[2017-03-04 21:13] yoavg commented on #350
The "official" way (at least the way I intended it) is to use `import dynet` always, and indicate cpu/gpu via the commandline. `_dynet` and `_gdynet` are implementation details.

While (I think) we do not have a way to enforce this, maybe we should at least remove this option from the documentation?

[2017-03-04 21:30] yoavg commented on #224
re (1): I think once we have an option to initialize from python array, we can then easily implement the initialization in very compact numpy code. And once people do that, now we have two ways to initialize again, which is confusing. So I guess what I am suggesting is, have the python initialization API (for both LookupParameters and Parameters) take *only* numpy arrays, and supply python code fo

[2017-03-04 21:49] pmichel31415 commented on #350
There is one use case of the `import _dynet` option and it's when you want to set the dynet parameters (memory, random seed, gpus) programmatically (eg. in a jupyter notebook) as described [here](http://dynet.readthedocs.io/en/latest/python.html#usage)

I think it might still be useful to some people, we had an issue regarding that (#255)

[2017-03-04 21:51] pmichel31415 commented on #348
Yes I will try to benchmark the results on language modelling.

I am not 100% sure what you mean by "JointMatrixGlorotInitializer", what would the interface look like?

[2017-03-05 12:34] zhang-wen commented on #156
i write a GRU myself, and i want to test how long it will take to calculate one time, the forward function is as following:

[code]

the weight matrix size is:

[code]

the time consuming of one forward calculation of this GRU is about 0.02s, is it normal ?

[2017-03-05 12:36] zhang-wen opened #351 "the GRU forward calculation time test"
Hello everyone, i write a GRU unit myself, because my training is very slow, so i want to test how long it will take to calculate one time GRU, the forward function is as following:

[code]

the weight matrix size are:

[code]

**## the time consuming of one forward calculation of this GRU is about 0.02s, is this normal ?**

[2017-03-05 12:53] yoavg commented on #351
The second part, full of `reshape` (either numpy or dynet) and `inputVector` is likely what's slowing you down. Try building the batches in the dynet way: http://dynet.readthedocs.io/en/latest/minibatch.html

[2017-03-05 13:32] neubig commented on #351
Also, you will want to use affine transforms like the following:

    logistic(affine_transform(self.b_z_xh, self.W_z_xh, x_i, self.U_z_xh, self.h_im1))

I actually had trouble telling what the second calculation is trying to do, but you can also look at the new `inputTensor()` functionality if you really need to perform input.

[2017-03-05 13:34] neubig opened #352 "Should have ability to read LookupParameters as matrix"
In some cases, we will want to use parameters like LookupParameters during training time, then as a simple matrix during test time (e.g. when implementing sampling-based approximations to a Softmax, such as NCE). This is not currently supported, but should be easy to add by allowing the `parameter()` expression to take LookupParameters as input as well.

[2017-03-05 13:38] neubig commented on #156
I think this is probably a problem of GRU calculation as noted here: https://github.com/clab/dynet/issues/351

I'll close this for the more descriptive one.

[2017-03-05 13:38] #156 closed

[2017-03-05 13:40] yoavg commented on #352
+1 on having `parameter()` work also on LookupParameters.

Coming to think about it, what is the cost of allowing every 2dim parameter to have the LookupParameter functionality? Maybe we can just unify these two classes?

[2017-03-05 13:41] neubig commented on #348
I'm guessing that you would basically give the number of rows in each matrix and ID of whether the output is a sigmoid or tanh. So for example, if we have a joint matrix for the LSTM where each matrix is of size n, it would be something like the following (in Python syntax):

    JointMatrixGlorotInitializer([(n,TANH), (n,SIGMOID), (n,SIGMOID), (n,SIGMOID)])

Of course, the sum of the dimensions t

[2017-03-05 13:45] neubig commented on #352
I guess it would add an extra bool+vector to each parameter. The bool would be "whether this parameter has been used as a whole" and vector would be "if the parameter has been used as a lookup, which elements in this parameter have been used". The difficulty here though is that the intuitive layout of LookupParameters and Parameters is different because DyNet (Eigen) uses column-major order. I thi

[2017-03-05 13:47] yoavg commented on #348
Right, this is what I meant.

But why do we care if its SIGMOID or TANH at this stage?

[2017-03-05 13:54] yoavg commented on #352
Ok, so lets not.

[2017-03-05 16:06] neubig commented on #348
Glorot initialization varies depending on the activation function used afterwards. See here: https://github.com/clab/dynet/pull/295

[2017-03-05 16:55] yoavg commented on #348
I didn't realize this. Good to know!

[2017-03-05 16:59] yoavg commented on #348
Actually maybe the better Initalization interface here is not

`JointMatrixGlorotInitializer([(n,TANH), (n,SIGMOID), (n,SIGMOID), (n,SIGMOID)])`

But rather `JointMatrixInit([(n, GlorotInitializer(...)), (n, GlorotInitializer(...)),...])`

That is, it gets a list of `(int, Initializer)` items.

[2017-03-05 17:46] neubig commented on #348
+1 on this. Good idea!

[2017-03-06 06:12] zhang-wen commented on #351
@neubig  hi, thank you for telling me that, it is my pleasure to explain the second part for you, actually, because i make padding for some short sentences in one batch, so there is a mask matrix which corresponds to the input, so, the second part wants to multiply the hidden state vector `h_i` by the mask matrix to make padding part into zeros, i thought this can speed training, because no gradie

[2017-03-06 10:01] anglil opened #354 "which GPU to use"
Hi, I'm wondering if I intend to use GPU, do I have to set --dynet-gpu-ids to select a specific GPU, or can I leave this unset and dynet will randomly choose a GPU?
Thanks,
Angli

[2017-03-06 10:23] zhang-wen opened #355 "about broadcasting multiplication"
here i have two expressions whoses shapes are {1X80} and  {512X80} with batch size 80

i want to do pair-wise multiplication, so i should broadcast the {1X80} by row, what should i do ? when i use cmult function to multiply them, it showed following error:

[code]

[2017-03-06 10:43] anglil commented on #354
Btw, I selected one GPU for training my model but got the following error:

[dynet] initializing CUDA
[dynet] Request for 1 specific GPU ...
[dynet] Device Number: 0
[dynet]   Device name: Tesla K80
[dynet]   Memory Clock Rate (KHz): 2505000
[dynet]   Memory Bus Width (bits): 384
[dynet]   Peak Memory Bandwidth (GB/s): 240.48
[dynet]   Memory Free (GB): 11.927/11.9956
[dynet]
[dynet] Device(s) sel

[2017-03-06 13:07] yoavg commented on #355
What is the source of these expressions? I suspect the real solution would be to create them differently and not get to this situation. (for example, perhaps the 512x80 should actually be a batch of 512 elements of size 80?)

[2017-03-06 13:08] yoavg commented on #354
If you use `--dynet-gpu` it will use the first one. If you use `--dynet-gpu-ids 3` it will use the one with id=3.

[2017-03-06 13:13] zhang-wen commented on #355
yes, your are right, the {512x80} matrix is a hidden state of one GRU, and it is a batch of 512 elements of size 80.
about the {1x80} matrix, firstly i created a mask expression `mask_expr` which is {lenx80}, and i use `mask_expr[index]` to get the {1x80} matrix.

[2017-03-06 13:29] yoavg commented on #355
Try using the DyNet minibatching mechanism. It is a bit different than in other toolkits.
http://dynet.readthedocs.io/en/latest/minibatch.html

If this does not fit your use case, explain why and we can try and figure out a workaround.

[2017-03-06 14:50] pmichel31415 commented on #355
Just adding to this I still think there are case where having `cmult` automatically broadcasting would be useful (if not necessary). Some I've encountered are :

- Doing dropout on the embedding matrix for RNNLM, it's better to have a Bernoulli array of size {size of vocabulary,1}
- Multiplying a matrix/vector with a scalar expression (for instance : reparametrization trick when the standard devia

[2017-03-06 15:04] neubig commented on #355
OK. I'm a little bit cautious of broadcasting because I think it can cause you to accidentally do things you weren't expecting if you're not very careful with it. That being said, I think it's worth having the ability to do so.

For number one in your examples, I didn't understand this completely. You mean you're setting the embeddings of some words to zero? Is there a reference for this?

For num

[2017-03-06 15:07] neubig commented on #354
And how much memory are you asking the GPU for? If you're asking for too much memory then you'll possibly get an error like above. I've also seen errors like this happen when there was some problem with the configuration of the CUDA drivers, which was solved with a reboot. It's difficult to debug the exact case though.

[2017-03-06 15:10] pmichel31415 commented on #355
For number one see https://arxiv.org/abs/1512.05287 section 4.2

This is basically applying dropout to the words (but the same words within one sentence)

[2017-03-06 15:16] neubig commented on #355
OK, but: "For T ≪ V it is therefore more efficient to first map the words to the word embeddings, and only then to zero-out word embeddings based on their word type." We would probably just do this with an "if" statement in DyNet, right?

[2017-03-06 15:27] zhang-wen commented on #355
ok, thank you guys, let me explain my use cases in detail.

my task is machine translation, because the length of source sentences in training data are different, so we usually need to make zero padding for those shorter sentences, the use a 0-1 mask matrix to remove those padding part.  which is definitey what i want to do:

i use one mask {1X80} (one batch words) to remove the encoded source sen

[2017-03-06 15:31] neubig commented on #355
@zhang-wen OK, I understand now. What you actually want to do is multiplication of a length-256 vector (word embedding) with a scalar (mask) over 80 mini-batch elements. As mentioned above, scalar multiplication using expressions is not supported yet, but it should be. We'll try to do this soon.

[2017-03-06 15:31] zhang-wen commented on #355
@neubig yes , i think so, you guys have implement cmult() operation which i think is automatically broadcast by column, but why don't you implement row_mult() operation which will be automatically broadcast by row.

[2017-03-06 15:34] zhang-wen commented on #355
@neubig , yes, correct, that is what i want to do.
i have tried to scalar multiplication , but failed:

3 * e1
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-15-bc04f1e6e9f9> in <module>()
----> 1 3 * e1

_gdynet.pyx in _gdynet.Expression.__mul__ (_gdynet.cpp:23371)()

TypeError:

[2017-03-06 15:38] yoavg commented on #355
Try `e1 * 3`

(and we should consider implementing `__rmul__` for expressions)

[2017-03-06 16:07] zhang-wen commented on #355
@yoavg thank you `e1 * 3` works！

[2017-03-06 16:14] zhang-wen commented on #355
@neubig  i think i find a solution way,

embedding: {256X80}
mask:           {1X80}

i can use `embedding * mask ` to do broadcasting multiplication

[2017-03-06 16:20] neubig commented on #239
Fixed by #340?

[2017-03-06 16:20] #239 closed

[2017-03-06 17:12] zhang-wen commented on #351
@neubig

`
affine_transform(self.b_z_xh, self.W_z_xh, x_i, self.U_z_xh, self.h_im1)
`
is more efficently than
`
(self.W_z_xh * x_i + self.U_z_xh * self.h_im1 + self.b_z_xh
`
????

[2017-03-06 17:17] neubig commented on #351
Yes, affine_transform() is more efficient (mainly with regards to memory, but also with regards to speed somewhat). And probably adding the mask will not speed up training, it will probably slow it down a bit because you need to copy memory from CPU to GPU, as Yoav said.

[2017-03-06 18:20] zhang-wen commented on #351
yes, i think so, i am using mask to remove the zero padding for embedding matrix, but the backward() function is still very slow, for length 50 sentences in 80 batches, it will spend more than 10 seconds !!
i can not figure out any speeding ways more.

[2017-03-06 19:02] pcyin opened #356 "Assertion error from Eigen"
Hi,

I am getting a strange assertion error from Eigen when calling `trainer.update()`:

[code]
It seems to be an allocation error, but to my knowledge dynet mangages its own memory. Any suggestions? Thanks!

[2017-03-06 19:21] neubig commented on #356
Hmm, this may be a somewhat difficult error to debug. If you could send an example of your program in a separate mail I might be able to debug.

[2017-03-06 21:51] anglil commented on #354
Thanks. It turns out the GPU memory is ~12GB and I tried to allocate more than one GPU has to offer. I tried --dynet-gpu but got the following message:

Task: --dynet-gpu
terminate called after throwing an instance of 'std::invalid_argument'
  what():  Task --dynet-gpu not supported.

Guess this flag is not supported anymore? After I switched to using --dynet-gpu-ids, the training started properly

[2017-03-06 21:54] yoavg commented on #354
Oh, are you using the python or the c++ version? `--dynet-gpu` is a python flag.

[2017-03-06 22:49] anglil commented on #354
Oh that's why... I'm using the c++ version. Thanks for the clarification!

[2017-03-06 22:49] #354 closed

[2017-03-07 18:43] pcyin commented on #356
It seems dynet is having trouble with CUDA ver 8.0.61_375, which causes this error. Rolling back to an older version solved this issue

[2017-03-07 20:55] Oneplus commented on #170
Is anyone working on this? Or has it already been solved?

[2017-03-07 21:35] neubig commented on #170
I've heard that someone is working on this, but not sure about the progress.

[2017-03-07 21:37] Oneplus commented on #170
Thanks!

[2017-03-07 22:43] benmullins opened #359 "Error when trying to set memory amount in Python"
Hi,

I'm trying to change the amount of memory that DyNet uses from within Python code, using the interface recently added (where you instantiate a `DyParams` object and then set parameters with it). I can create the `DyParams` object fine, but when I try to use it to set the memory, this happens:

[code]

All of the other parameter setters described in the documentation work fine, it seems to onl

[2017-03-07 22:51] pmichel31415 commented on #359
Yes this is linked to the python version, I will try to fix it

[2017-03-07 23:09] pmichel31415 commented on #359
Fixed by #360 , you can checkout the branch ` py3_fix_mem` until it's merged

[2017-03-07 23:10] benmullins commented on #359
Thank you!

[2017-03-08 03:06] #359 closed

[2017-03-08 16:11] pmichel31415 commented on #169
Hmm, I don't think this would solve the main problem : we need to recompile dynet on readthedocs.

Also I'm not sure readthedocs allows more than one site for one repo (although we can play with branches)

[2017-03-08 16:34] jeanm opened #362 "Allow loading constant parameters in Python API"
It would be nice to have the equivalent of `dynet::expr::const_parameter()` in the Python interface, perhaps via something like `dynet.parameter(something, update=False)` to match `dynet.lookup()`.

[2017-03-08 19:40] neubig opened #363 "Dynamically increasing memory pools"
This is something that would be really nice to have, but not super-easy to implement. Currently, DyNet requires you to specify how much memory you want to use at program initialization time. If you ever go over this, DyNet crashes and you basically have to stop your program.

TensorFlow gets around this by having memory pools that start small, but increase every time you allocate too much memory a

[2017-03-08 21:04] yoavg commented on #363
Check out the dynmem branch, it is a sketch of an attempt at this.

The idea is to keep a list of AlignedMempool (new renamed to InternalMempool), and when the current one is empty, create a new one and start using it. Then, when freeing the mempool, if we have more than 1 internal pool, the internal mempools are freed and we create a new large one instead.

I think this should work with minimal e

[2017-03-08 21:17] neubig commented on #363
Wow, this is a brilliant idea!

Anyway, `Device::revert()` is used to roll-back the memory pool to a previous state. This is useful in scenarios where you might want to do some computation, then throw it away. For example, when doing beam search, you could calculate a softmax, choose which hypotheses you want to explore next, then `revert()` back to throw away the softmax, which you won't be using

[2017-03-08 21:23] yoavg commented on #363
oh, it might be me who added this initially, then ;)
do you have any idea why I added it to Device and not to the mempools?

[2017-03-08 21:39] neubig commented on #363
I think it was us who added this. And the reason why it was added to device is because we'd basically be rolling back the "state" of DyNet, and the state is expressed by all three of the memory pools, not just a single one.

[2017-03-08 22:05] yoavg commented on #363
Ok, I pushed an update that should take care of this -- but did not have the time to test it yet, and gotta go now.

[2017-03-08 22:39] yoavg commented on #363
hmm.. I did some minimal testing, and there seem to be an unexpected problem -- we now rely on the malloc in sys_alloc to return 0 when we are out of memory, and this doesn't really happen because the OS over-commits. Not sure how to resolve this.

[2017-03-08 22:57] neubig commented on #363
I also did some testing here and it seems to be working great!

What do you mean about malloc? Does this mean that it's swapping?

[2017-03-08 23:05] yoavg commented on #363
Try something that requires much more memory than you have, on the CPU.

[2017-03-08 23:06] yoavg commented on #363
related to this I think:
http://stackoverflow.com/questions/7947849/can-i-rely-on-malloc-returning-null

[2017-03-08 23:41] neubig commented on #363
Hmm, so this is just a problem of Linux programs in general? My understanding is that before this becomes a problem the program will generally start swapping, and users will kill it appropriately, right? Maybe I'm misunderstanding the problem, or misunderstanding the gravity of the problem?

If this is not a big problem, I think this would be a really useful addition, so I'll do some performance t

[2017-03-09 03:55] neubig commented on #363
FYI, I tested this on CPU/GPU and there's basically no performance hit from what I could tell. If the problem of malloc returning non-zero values on failure is not a major one, I think we can go ahead and merge this. This is super-useful.

[2017-03-09 10:45] yoavg commented on #363
I think the property of the process failing on lack of memory (instead of potentially causing other processes to die) is actually desirable in multi-user environments, and it also a good indicator that things are not working properly. But I also realize the benefits of the automatic allocation. Maybe we can add a switch to allow a "hard memory limit", which will be set by default to 500GB or somet

[2017-03-09 12:47] neubig commented on #363
OK, I noted it here: https://github.com/clab/dynet/pull/364

I agree that we should probably do more testing, including unit tests.

[2017-03-09 16:37] pmichel31415 commented on #169
TODO :

- [x] DynetParams
- [x] Parameter
- [ ] LookupParameter
- [ ] Saveable
- [ ] PyInitializer(s)
- [ ] Model
- [ ] ComputationGraph (? : should'nt be used by the user but could be useful for contributors)
- [x] Expression(s)
- [ ] Operations
- [ ] RNNBuilder(s)
- [ ] RNNState
- [ ] Trainers
- [ ] misc functions (renew_cg, etc...)

[2017-03-09 16:47] neubig commented on #169
Sorry, getting back to the original question of how to get this to work on readthedocs, I think Chainer is using readthedocs, and their cupy library uses Cython. Would taking a look at this help at all?
https://github.com/pfnet/chainer/tree/master/docs

[2017-03-09 19:08] Oneplus opened #367 "Questions about expr::pick with vector arguments"
Hi, I've seen the dynet [document](http://dynet.readthedocs.io/en/latest/operations.html?highlight=pick#_CPPv2N5dynet4expr4pickERK10ExpressionRKNSt6vectorIjEEj) saying

Batched pick.

I parsed this as picking `v` slices from the tensor and store them into a tensor with `v` batches. However, the following code
[code]
gives me an assertion error.
`In PickElement::forward, number of elements in the p

[2017-03-09 20:09] pmichel31415 commented on #367
According to the documentation :

pick only allows you to pick one slice for each batch so you would have to do tomething like

    dynet::expr::Expression picked_x = dynet::expr::pick(x, { 0, 0, 0, 0},0); // Pick first element along first dimension in each batch

Does that make sense? I agree it's maybe not the most intuitive

[2017-03-09 20:20] Oneplus commented on #367
@pmichel31415 Ah! I've been thinking the `v` means the indices along one axis! That make sense. Thanks!

One more word, it seems related with https://github.com/clab/dynet/issues/170. I am not quite sure about whether is solves the pick_batch_elements problem in that issue.

[2017-03-09 20:20] #367 closed

[2017-03-10 02:40] neubig commented on #175
Fixed by: https://github.com/clab/dynet/pull/340

[2017-03-10 02:40] #175 closed

[2017-03-10 22:14] iamyoungjo opened #370 "Is there a alternative way to save model besides the boost?"
Hi,

Currently I am facing problem to create a model loader in different languages(e.g. Java).
Is there a better way to serialize the model (or parameters) in more human-readable way?
It would be great to be more widely-used in many ways.
Any kind of suggestions  will be appreciated!

Thanks,
YJ

[2017-03-10 22:18] neubig commented on #370
Hi @iamyoungjo , we are literally working on this right now, under this issue: https://github.com/clab/dynet/issues/84

Follow this issue and we'll post updates there as they are made.

[2017-03-10 22:18] #370 closed

[2017-03-10 22:25] iamyoungjo commented on #370
Oh, I am so sorry about posting duplicated question on this.
@neubig , can you give me an advice to serialize the parameters besides the enhancement now? Just a simple brief advice would be so much appreciated.

Thanks,
YJ

[2017-03-10 22:52] pmichel31415 commented on #370
Depending on what you're using you can serialize the parameter values directly.

In python that would be something like

	model = dy.Model()
	# save
	W = model.add_parameters((2, 2))
	W_value = W.as_array()
	np.savetxt('file.txt', W_value)

In c++ you can retrieve the Tensor holding the parameter values and then output it :

    Parameter W = model.add_parameters({2, 2});
    Tensor W_values = *(W

[2017-03-10 23:02] neubig commented on #170
The `pick_batch` part has been resolved by https://github.com/clab/dynet/pull/369 (thanks @Oneplus !) We still need a `concat_batch` operation before closing this issue.

[2017-03-10 23:21] iamyoungjo commented on #370
Thanks @pmichel31415 so much!! That works flawlessly for the parameters saving. Actually now I am looking at the instructions for getting the parameter values from LSTMBuilder but I can't find a good way from the documents. Is there a way to extract parameters from Builders in python? If I'm missing something here, please let me know!

[2017-03-10 23:25] redpony commented on #170
One proposal for this would be to use a generalised concatenate operation
(given a list of vectors, make a matrix, given a list of matrices, make a
tensor, etc) and then provide a "batchify" operation that would strip off
one or more leading indices and turn them into a batch. (I had need of this
recently...)
On Fri, 10 Mar 2017 at 23:02, Graham Neubig <notifications@github.com>
wrote:

[2017-03-11 00:08] pmichel31415 commented on #370
If you're using c++ : you can access the parameters of the LSTMBuilder through the `params` field.

This returns a 2d vector. For more details about how it is structured you can peek directly in [this part of the code](https://github.com/clab/dynet/blob/master/dynet/lstm.cc#L22-L43)

For python.. I'm not sure you can right now

[2017-03-11 09:09] iamyoungjo commented on #370
Thank you so much @pmichel31415 ! I tried to put some lines in _dynet.pyx in order to access parameters from model.

[code]

any hint to pull out the vector as a python object such as list/array?

[2017-03-12 21:23] iamyoungjo commented on #370
@pmichel31415 , any small hint that I can start from? Thanks in advance!

[2017-03-12 23:36] yoavartzi opened #373 "Missing symbols issue with Anaconda installation on Mac"
Did anyone encounter installation issues with Anaconda on Mac?

I am getting `Undefined symbols for architecture x86_64` issues during `make -j 2`. `cmake` works fine.

[code]

[2017-03-13 00:21] Oneplus opened #374 "runtime checking may slow down dynet"
Currently, dynet do runtime checking on the forward/backward (dimension, input indices, etc.) at any circumstance. And the time consumption is non-trivial. I've tried blinding the LookupNode::forward by removing such checking (line: 257-258 in param-nodes.cc) and it led to less running time (8800+ ms to 8300+ ms on 1000000 lookups, code below).

It would be great to let the user decide whether per

[2017-03-13 00:34] neubig commented on #374
This is a good point. I think there should probably be two levels of controlling debug checking:
- User debug mode: On by default, but able to be turned off. Checks for things like invalid arguments and mismatched dimensions.
- Developer debug mode: Off by default, turns on things like asserts.

To make it possible to turn off user debug checks, I think we could probably change `DYNET_INVALID_ARG`

[2017-03-13 03:28] pmichel31415 commented on #370
Hmm so if you have a list of CParameters you can wrap it into a Parameter using Parameter.wrap_ptr (here)[https://github.com/clab/dynet/blob/master/python/_dynet.pyx#L235] is that what you want to do?

[2017-03-13 04:17] iamyoungjo commented on #370
@pmichel31415 , yes. but it keeps giving me errors because of private variables.
for example, if I define param_list like below,

[code]

It gives me following err:

[code]

And it makes sense to me, too. I am just wondering if there's a better way to do this besides of touching class definitions.

Thanks for the reply!

[2017-03-13 13:19] vicmak opened #376 "RNNLM"
Hi guys,
I am trying to run a mini batch training of rnnlm, as shown in the [DyNet tutorial.](https://github.com/clab/dynet_tutorial_examples/blob/master/tutorial_rnnlm_minibatch.py)
Everything works fine with small train, and small batches sizes.
However, when I try to run the same training procedure on moderately bigger train-set and larger batch size I get the following error:

**This applicati

[2017-03-13 13:52] pmichel31415 commented on #370
Oh this is in the Model class right?

OK so there's definitely a way to do this and I've been meaning to do it for 1-2 weeks now but I just don't have the time, it's to create methods to access the parameters of a RNNBuilder in c++ and then import the code to python.

Here's the interface I'd come up with :

    /**
    * @brief Returns the parameters of the network
    * @details To access the i-

[2017-03-13 15:33] pmichel31415 opened #377 "Remove ensure_freshness for faster python?"
Now that the c++ side checks for c++ expressions I think it's possible to remove most instances of `ensure_freshness` in the cython code because python will catch the c++ exception.

That would probably make expression creation faster in python.

[2017-03-13 15:46] yoavg commented on #377
I did not follow the c++ changes closely, but if it already "ensures_frehsness" on the c++ side, then sure!
[though if you get "white" in `cython -a` for ensure freshness, then its likely will be a minimal gain. still worth doing if you have the bandwidth]

[2017-03-13 15:53] pmichel31415 commented on #377
Yeah I brought this up after seeing this in `cython -a`

![screenshot from 2017-03-13 11-51-53](https://cloud.githubusercontent.com/assets/10391785/23862528/9ac64558-07e3-11e7-818f-46f46bc965de.png)

![screenshot from 2017-03-13 11-47-51](https://cloud.githubusercontent.com/assets/10391785/23862359/297ab096-07e3-11e7-93c7-f7d70bacb330.png)

It might not bring a significant improvement but at least

[2017-03-13 18:32] iamyoungjo commented on #370
Thanks for the approach! I can definitely try and let you know! Will give you an update!

[2017-03-13 23:46] iamyoungjo commented on #370
@pmichel31415 , thanks to your advice, I put get_parameters() method in LSTMBuilder (C++). However, still it's not that easy to pull out thru Python (I think it's because of my lack of knowledge in python bindings).

Here's the c++ implementation:
[code]

As I created this as 2d Vector, this would be good if it can be imported to python as np.array(2d).
But in order to access this value, I need to

[2017-03-14 00:03] redpony commented on #370
Let's mark this as provisional ("use at your own risk"), even just as a
comment. We are working on a longer term solution to this, and it would be
sensible to avoid creating interfaces like this that might be difficult to
maintain backward compatibility with in the future.

On Mon, 13 Mar 2017 at 23:46, YoungJo Kim <notifications@github.com> wrote:

[2017-03-14 05:04] iamyoungjo commented on #370
@redpony 100% agreed. This will be at my own risk. @pmichel31415 Any suggestion on my last comment?

[2017-03-14 10:56] telmou opened #378 "Broadcasting sum"
Is there a way of adding (column-wise) a column vector to a matrix?
I grouped a series of possible actions my system can take as columns in the E matrix. W is the weight matrix, b is the bias vector, and v is a row vector.
[code]

However I get an error trying to add the b vector to the W*E matrix. Is there a way to broadcast it?This is a single example from the training dataset, so I'd prefer to

[2017-03-14 14:41] pmichel31415 commented on #378
This is done automatically if E is shaped as a batch of vector so something like

    E.reshape((row_dim,), batch_size=col_dim)

Then repr would have shape `((len(b),), col_dim)` (the last dim being the batch dimension).

[2017-03-14 14:42] pmichel31415 commented on #373
Is it possible you installed boost 32bit?

[2017-03-14 14:55] pmichel31415 commented on #370
@iamyoungjo Yes you would need to add the method in the LSTMBuilder class in _dynet.pyx and you should be good to go.

I thought you wanted to import the parameters' expression, but if you only need the Parameter values you can probably just add the field params (which is publi iirc) in CLSTMBuilder in _dynet.pxd and then write a function which retrieves the tensors and returns them as np arrays u

[2017-03-14 15:07] yoavartzi commented on #373
I am using an Anaconda environment on a Mac, and it doesn't seem to support non 64bit installation:
https://anaconda.org/anaconda/boost
I verified I have v1.61.0 installed

[2017-03-14 15:21] neubig commented on #378
Please use the `colwise_sum(W*E, b)`. Reshape is not necessary.

[2017-03-14 16:47] telmou commented on #378
Thank you both! After some experiments, I found that @pmichel31415's solution is slightly faster. Btw, @neubig, you meant colwise_add, right?

[2017-03-14 17:07] vicmak commented on #376
The issue is solved by removing too long sentences from the input train file.
Probably on my hardware, with only 4 GB GPU memory, when using large batches such that there is at least one skewed long sentence (say larger than 80 words), the unfolded RNN for the batch is too large to fit in memory.

So, the loss_exp can not be computed.

thanks to @roeeaharoni

[2017-03-14 17:07] #376 closed

[2017-03-14 17:46] kaamanita opened #379 "Segmentation fault (core dumped) occurs while running the test set"
Hi,

I've encountered a segmentation fault issue when I switched from running my code on the CPU to running it with the GPU. To the best of my understanding, I followed the instruction described in http://dynet.readthedocs.io/en/latest/python.html (TL;DR) with a slight modification on the path of Eigen (from `../eigen` to `../../eigen`). And I'm using NVIDIA Toolkit 8.0.

After reinstallation with

[2017-03-14 18:04] #378 closed

[2017-03-14 18:10] neubig commented on #378
@telmou Yes, I did mean that. And actually, sorry I completely forgot about this, but actually `affine_transform(b, W, E)` should also work. This might be fastest.

[2017-03-14 18:14] telmou commented on #378
@neubig Thanks, I will try that 👍

[2017-03-14 21:42] iamyoungjo commented on #370
@pmichel31415 , Thanks for the advice of simpler modification. But can I ask you what's the reason of put params in CSimpeRNNBuilder instead of CRNNBuilder? Confusing part is that as CLSTMBuilder's inheritance is related to CRNNBuilder rather than CSimpleRNNBuilder, I think we need to put declaration of params in CRNNBuilder. But this will be tough as well because there's no member variable param

[2017-03-14 21:53] pmichel31415 commented on #370
Ah sorry my bad this is a failed copy paste on my end of course you should do it directly for CLSTMBuilder, sorry about that

[2017-03-14 22:35] iamyoungjo commented on #370
@pmichel31415 , thanks for the quick clarification! I tried again and faced this build err:

[code]

So basically the self.thisptr indicates CRNNBuilder instead of CLSTMBuilder.
Here's the get_parameters() method that I created based on your advise:
[code]
I think it's almost there but still I'm stuck in this because of this reference problem.

[2017-03-15 06:02] xunzhang commented on #379
Hi, could you paste the backtrace of your core dump file here?

[2017-03-15 06:19] kaamanita commented on #379
Unfortunately, despite the error message, the core dump file isn't produced anywhere in the current folder. :(

[2017-03-15 06:29] xunzhang commented on #379
Try this:
[code]

[2017-03-15 06:32] kaamanita commented on #379
Thank you very much, Xunzhang. You're so helpful. I'll give it a go in a short while and let you know how it goes. 👍

[2017-03-15 20:44] iamyoungjo commented on #370
@pmichel31415 , can you check if this is what you meant? Thanks!

[2017-03-16 20:17] iamyoungjo commented on #370
@pmichel31415 Thanks for the reply!! I am currently trying to add get_parameter function in RNNBuilder in C++. Will give you an update once it works.

[2017-03-16 22:33] anglil opened #381 "set UNK words for dynet::Dict"
Hi, dynet team, I'm wondering if dynet::Dict sets a default cut-off word frequency? I always observed that my dictionary (dynet::Dict) after the training data is loaded has less words than in the training data. Is there a rule implemented in the dictionary that says that words that appear less than say, 3, times in the training data are set to UNK?

Thanks!

[2017-03-16 22:55] neubig commented on #381
No, as long as you are not using `freeze()`, this should not happen and your dictionary should be the same size as the unique words in the training data. If you're observing different behavior and can create a minimal example, we could take a look.

[2017-03-16 23:14] anglil commented on #381
I see. Good to know. I think I understand what's happened now:
I was using dynet to build a lattice decoder (on which you sent me a pointer to a paper a while ago) for translating OOV words in MT results. So in decoding, some candidate words are recognized as UNK by the dict established using the training data, whose vocabulary doesn't subsume the entirety of the candidate words for the OOV words.

[2017-03-17 13:30] yoavg commented on #377
Yeah, I see no reason not to remove it, its better not to have code duplication across languages this way.

In terms of efficiency we'd probably not gain much though:
![image](https://cloud.githubusercontent.com/assets/464308/24045019/5b63096e-0b26-11e7-9e01-95bf05f438d0.png)
(the ensure_freshness `if` *is* surprisingly yellow, though :( )

[2017-03-19 09:14] thebeancounter opened #386 "documentation about the way dynet assignes loss to the graph"
Hello,
I am using the python version of dynet with python 2.7
and can't find documentation about how to create a custom loss function and assign it it the model...
how can i "tell" it, that this is the loss that needs to be back propagated?
Is there a forum or a mailing list for this kind of questions?
thanks

[2017-03-19 16:10] suwangcompling opened #387 "Example Code for TreeRNN"
I'm a linguist working in the space of discourse analysis, where TreeRNN (or TreeLSTM) is a promising tool. I was wondering by any chance you could post a piece of example code (Jupyter or anything) in the examples section?

Thanks.

[2017-03-19 18:18] pmichel31415 commented on #377
Good catch, good to know that `if` is so costly in cython.

[2017-03-19 18:20] yoavg commented on #377
Its not the "if" that is costly, it what it operates on. Conditions on
primitive types are c-speed. You can click the beginning of the line in the
.html file to see the generated code.

On Sun, Mar 19, 2017, 20:18 Paul Michel <notifications@github.com> wrote:

[2017-03-19 18:22] pmichel31415 commented on #386
There is one example in here http://dynet.readthedocs.io/en/latest/tutorials_notebooks/API.html towars the end.

Basically in python you call `objective.backward()` and it will automatically compute the gradients with respect to this objective.

Hope that helps.

[2017-03-19 18:24] pmichel31415 commented on #387
I agree this should be added to the examples but for what it's worth there is code for a treenn in the benchmark repo here https://github.com/neulab/dynet-benchmark/tree/master/dynet-py

Is that what you're looking for?

[2017-03-19 18:25] pmichel31415 commented on #377
Ah got you, thanks for the explanation

[2017-03-19 18:56] suwangcompling commented on #387
Thanks michel! Yes this is helpful.
Although, in my humble opinion commented code in Jupyter would further facilitate the dissemination of DyNet in the computational linguistics community. Currently there's tons more extensive tutorials on other libraries (Tensorflow, Theano, etc.), fitting to the need of users with a wide range of backgrounds. So it'd be nice to see the same documents for DyNet a

[2017-03-19 19:48] pmichel31415 commented on #387
I agree with you, and we need all the help we can get, so all pull requests in this direction are appreciated.

In the meantime I'll close this as a duplicate of #191

[2017-03-19 19:48] #387 closed

[2017-03-20 03:46] jcyk commented on #170
Hi all, but I am confused by the name of `pick_batch`.
In fact, there is a `pick_batch` in Python API (and it is not #369), which I think that the batch dim of its output equals to its input.
We need to differentiate these two methods.
1. pick different samples from a batch.
2. pick the same part of all samples in a batch.

[2017-03-20 07:23] jcyk commented on #170
@neubig  In addition to the above, I also find `sum_batches` confusing, `sum_batch_elems` may be better.
Actually, I think we are processing data batch by batch. There is never ***batches*** in our computational graph.
I suggest names like `pick_batch_elems`, `concat_batch_elems` to distinguish from `pick_batch`, `pickneglogsoftmax_batch`, `lookup_batch`, etc.

The point is to differentiate operat

[2017-03-20 12:40] neubig commented on #170
@jcyk I totally agree that we should fix the naming here, and I think your proposal is a good one. I'd welcome a pull request. One thing is that we should probably make `sum_batches` print a message saying that it is deprecated, as a lot of code is probably using it.

[2017-03-21 11:24] neubig commented on #170
I'm going to close this because we finished the major parts. @redpony @yoavg if you still think that the "pick first batches" and "batchify" operations are useful (I think they might be, particularly batchify), then I can open another issue.

[2017-03-21 11:24] #170 closed

[2017-03-21 11:25] neubig commented on #386
And yes, there is a mailing list here: https://groups.google.com/forum/#!forum/dynet-users

[2017-03-21 11:25] #386 closed

[2017-03-21 11:25] #381 closed

[2017-03-21 11:27] neubig commented on #374
Fixed by https://github.com/clab/dynet/pull/375

[2017-03-21 11:27] #374 closed

[2017-03-21 11:28] neubig commented on #356
We have reason to believe that this might have been a problem in the host environment with mismatched CUDA versions.

[2017-03-21 11:28] #356 closed

[2017-03-21 11:29] neubig commented on #325
Should be fixed by: https://github.com/clab/dynet/pull/389

[2017-03-21 11:29] #325 closed

[2017-03-21 12:30] yoavg commented on #170
I think "batchify"(list of exps to batch) and "unbatchify" (batch to list of exps) operations are needed. Not sure what "pick first batches" is.

[2017-03-21 13:31] jcyk commented on #170
@yoavg
Just try to clarify what haven't be implemented.
`pick_batch_elems(xs)` now concatenates list of expressions `xs` along the batch dimension.
The only restriction is that the dims of original expressions must be same except for the batch dimension.

So, I think "list of exps to batch" should already be addressed if not consider allowing broadcasting.

Only to split expression along the batch

[2017-03-21 14:13] neubig commented on #170
@yoavg Here's how to do what you want with the current framework:

    exp = concat_batch_elems(list_of_expressions)
    list_of_expressions = [pick_batch_elem(exp, i) for i in range(exp.d.batch_elems())]

Chris's "batchify" is basically "reshape" where you can specify one dimension as the batch dimension. Your "select first batches" was mentioned at the beginning of this thread.

[2017-03-21 15:05] yoavg commented on #170
Ah, cool, I didn't realize that. Thanks!

1) if "batchify" is actually reshape, then we support this already, right? Just need to write a very thin wrapper?

2) The name "concat_batch_elems" is kind of confusing, I think. I'd expect `concat_to_batch` or `concat_elems_to_batch`, no? (I can live with this name, but if its still very fresh, maybe would be a good time to change?)

[2017-03-21 15:17] jcyk commented on #170
For the name, note the expression to concatenated can already be a batched expression.

[2017-03-21 16:57] neubig commented on #170
Yes, I think concat_to_batch would be a good candidate. Maybe we can change
it to this.

On Tue, Mar 21, 2017 at 11:17 AM, ross <notifications@github.com> wrote:

[2017-03-22 00:37] redpony opened #390 "generalized concatenate, transpose, and batchify operations"
It would be nice to be able to convert a sequence of vectors to a batch of vectors, or a sequence of matrices to a batch of matrices. Right now we have concatenate and concatenate_cols, but in general, we probably want an operation like numpy's concatenate that works on sequences of tensors of arbitrary size and takes an index of concatenation.

`concatenate({a, b, c}, 0)` would be equivalent to `

[2017-03-22 03:19] sunalbert commented on #324
Anyone is working on this bug or it has been fixed?

[2017-03-22 04:35] jcyk commented on #170
@neubig @yoavg  I can work on that if you all agree. By the way, like I mentioned before, do you think it would be good to change name `sum_batches` to `sum_batch_elems`? but with the old name being preserved with a "deprecated" warning?

[2017-03-22 07:02] jcyk opened #391 "`_cdiv(Expression a, float b)` doesn't work with `from __future__ import division`"
Hi, I just found that
[code]
will produce
[code]
But if I delete the line `from __future__ import division`, everything will go fine.

Any idea to fix that?

[2017-03-22 07:11] yoavg commented on #391
Not sure, but try copy-pasting __div__ and rename the duplicate to __truediv__

[2017-03-22 07:14] yoavg commented on #391
`__div__` and `__truediv__` above.

[2017-03-22 07:31] jcyk commented on #391
@yoavg Yes! That solved the problem. I am pulling a request. #392

[2017-03-22 07:36] yoavg commented on #391
Great, thanks!

[2017-03-22 07:36] #391 closed

[2017-03-22 11:36] neubig commented on #170
@jcyk Yes, I think `concat_to_batch` and `sum_batch_elems` are good. Thanks!

[2017-03-22 11:59] jcyk opened #393 "clip the values in a parameter"
It's useful to keep model parameters in a small fixed range, say \[-0.01, 0.01\], like WassersteinGAN.

Is there a way to do that (in place)?

if no, I think it may be good to create some API like [`numpy.clip`](https://docs.scipy.org/doc/numpy/reference/generated/numpy.clip.html) (i.e., `dynet.clip(parameter, left, right)`)

After some research on the source code, I found there may be various way

[2017-03-22 12:41] yoavg commented on #393
Hmm... I worry `dynet.clip(...)` will be confused with the other dynet operations that work on expressions and produce expressions, and can be backproped through. I think something like `param.clip_inplace(left, right)` might be better in terms of the external API.

[2017-03-22 13:34] neubig commented on #393
I think this sounds like something that would be useful to have, and agree with Yoav on the API.

[2017-03-22 14:56] MattX opened #394 "transpose in Python with visualization enabled returns incorrect dimension"
The following snippet:

[code]

works fine, but crashes if passed the `--dynet-viz` flag with this error:

[code]

This seems to be because of line 316 in `dynet_viz.py`, which returns a list for dimensions instead of a SimpleConcreteDim object:

[code]

[2017-03-22 16:32] aminianmary opened #396 "cc1plus error while installing Python DyNet Module"
Hello everyone,
I'm trying to install Python DyNet module on Linux following [these steps](http://dynet.readthedocs.io/en/latest/python.html). Cmake is run without any errors and all the build files are written into dynet/build directory. But I'm getting the following error messages while running "make - j 2":

_cc1plus: error: invalid option argument ‘-Ofast’_
_cc1plus: error: unrecognized comman

[2017-03-22 17:06] #394 closed

[2017-03-23 01:29] rasoolims commented on #396
I also had this problem: sometimes there are different versions of gcc and g++ in a machine and Cmake picks the older version. You can set the following paths to the newer versions of GCC and G++ before running cmake:
export CC=$GCCPATH
export CXX=$G++PATH

[2017-03-23 11:43] yoavg opened #399 "non-deterministic behavior on the GPU?"
I am unsure why, but we observe some non-deterministic behavior when running on the GPU.
The dynet-seed is set (as well as the python seed and the numpy seed), yet the losses in different runs start to diverge after a while (by the 100th update, is almost surely happens).

This does not happen with the same code on the CPU. Maybe there is a race condition somewhere?

See the following gist:
https:

[2017-03-23 11:48] neubig commented on #399
We've observed this before as well, and confirmed that it also affects other libraries such as Theano. My guess is that the reason for this is because computation on GPUs is inherently parallel, and because this is the case you will get small differences due to rounding differently due to the computation order when some threads finish earlier than others. We haven't 100% confirmed that this is the

[2017-03-23 11:50] yoavg commented on #399
Why should computation order matter?
The only thing I can think of is that we have a race condition when computing the gradients for the same node from different parents, and thus skipping an update.

[2017-03-23 21:28] pmichel31415 commented on #348
OK albeit the joint initializer thing would still be relevant, experiments I ran suggest that the per-gate glorot initialization is not useful.

More to come later when I do more experiments.

[2017-03-24 07:18] jcyk opened #400 "affine_transform[b, W, x] VS b + W* x"
The docs say affine_transform(xs) Return an expression equal to: xs[0] + xs[1]*xs[2] + xs[3]*xs[4] + ...
But it's not absolutely right. The dims of two outputs are not equal.
For example, the following code
[code]
will print  `((4,), 1) ((4, 1), 1)`

[2017-03-24 12:17] neubig commented on #400
This is a good point. A 4x1 matrix is essentially a length-4 vector, and DyNet often treats them interchangeably, but I agree that the behavior should be consistent.

[2017-03-24 20:58] miguelballesteros opened #402 "Evaluating scores ONLY at a particular position (?) restricted softmax"
Hi all,

 I want to run a restricted softmax in which the set of possible candidates is huge ~200k, but when I run it, I normally just care about ~10 candidates.

Running incremental_forward with this cand_size is very slow,  since even if the softmax is restricted, incremental_forward will attempt to iterate over the entire thing.

The code of what I just described would be:
[code]
(candbias is o

[2017-03-25 01:37] miguelballesteros commented on #402
Just an update,
I tried picking the candidates from the vector first, but it is the same slow behavior when I run incremental_forward.

vector<Expression> v(candsInt.size());
for (unsigned i = 0; i < v.size(); ++i)
  v[i] = pick(r_t2, candsInt[i]);
Expression logits = concatenate(v);
Expression adistecand = log_softmax(logits);
vector<float> adistcand = as_vector(hg->incremental_forward(adistecand

[2017-03-25 06:22] jcyk commented on #400
It is kind of problematic if we use the `npvalue` to access the values. Some numpy operations are not interchangeable for these two, e.g. `argsort()`.

[2017-03-25 08:48] xc-kiwiberry opened #403 "an error occur when compile dynet【error: ‘size_type’ is not a member of ‘boost::interprocess::message_queue’】"
i have successfully run：

[code]

but when：
`make -j 2`
error occur ：

[code]

there is the 'make.log' : http://paste.ubuntu.com/24245846/

I have update the g++ and gcc to 4.8.
And I don't know wether the problem is about 【the version or the path of 'Boost'】?

really appreciate~!~

[2017-03-25 11:57] begab opened #404 "Numeric issue with binary_log_loss"
Hi,

When using the binary_los_loss function from the python interface, there seems be some numeric issues arising in case the network output is 1 and the expected output is 0 (the same thing does not happen in the reverse direction, i.e. 0 as prediction and 1 as expected output).
Here is an MWE, which produces for me the above:

[code]

The same is not experienced though if I pass arguments to th

[2017-03-26 17:41] miguelballesteros commented on #402
I was doing something stupid some lines above that was making my graph much bigger than I expected so no issue at all (I'm closing this).
The two solutions in the last comment are nice approaches to solve this issue (you have a cand size huge, and you only care about a few in each timestep)

M.

[2017-03-26 17:41] #402 closed

[2017-03-26 18:03] neubig opened #405 "OpenCL Support"
It would be nice if DyNet supported OpenCL in addition to CUDA. Recently, Eigen is moving in the direction of supporting OpenCL which would make this much more realistic: https://www.codeplay.com/portal/tensorflow™-for-opencl™-using-sycl™

However, this would still require a major engineering effort, so this issue would need a champion who really wants to see it get done. We're happy to have contr

[2017-03-27 23:38] anglil opened #407 "asynchronous or synchronous parallelism?"
Hi, does dynet support training with multiple GPUs now? If so, does it do parallelism in an asynchronous or synchronous manner? Thanks!

[2017-03-27 23:49] neubig commented on #407
No, multi-device is not supported yet. Multi-processer is supported however: take a look at mp.h, mp.cc, and the corresponding examples.
We're working on multi-device support and it should be ready in the near future: https://github.com/clab/dynet/issues/92

[2017-03-27 23:49] #407 closed

[2017-03-27 23:51] neubig commented on #403
Hmm, can you also send the output of the `cmake` command? Thanks!

[2017-03-27 23:56] neubig commented on #399
Well the idea is that somewhere we might do a "reduce" operation, summing over a vector of elements (such as in softmax), and because this is done in parallel, depending on the order that the additions are done, the result might be different due to numerical precision issues. I honestly haven't thought through this well enough to know whether this is a feasible explanation or not though, so your i

[2017-03-27 23:58] neubig commented on #396
@aminianmary Hmm, could you please give us more info? Specifically, please send us the output of `cmake`, the full output of `make`, and the output of the `env` command.

[2017-03-28 05:53] xc-kiwiberry commented on #403
Thank you for you response！
I think I have fixed this problem by specify the path of ‘Boost’ :)
I will close this issue.

[2017-03-28 05:53] #403 closed

[2017-03-28 09:22] xc-kiwiberry opened #408 "problem about run the example xor"
I have build dynet and have sth wrong about run the example.

i have wrote ~/.bashrc like this:
[code]
and 'source' it
then
`~/path/to/dynet/examples/cpp/xor$ g++ -o test train_xor.cc -std=c++11 -L/path/to/dynet/build/dynet/ -ldynet`
and get
[code]
and i think i already add /path/to/boost/lib to  LD_LIBRARY_PATH ,why i get this error?
thanks sincerely~

[2017-03-28 17:43] pcyin opened #410 "generate categorical samples"
Hi. It would be great if we could have an operation like `categorical_sample(P, size=3)` to sample from a batched tensor `P` of shape `(K, batch_size)`, where each row in `P` is a categorical distribution of size `K`. And `size` is the number of samples to draw from each row.

[2017-03-28 21:13] pmichel31415 commented on #362
Solved by #371

[2017-03-28 21:13] #362 closed

[2017-03-28 21:13] pmichel31415 commented on #329
OK I was mistaken aout how weight decay worked apparently

[2017-03-28 21:13] #329 closed

[2017-03-28 21:18] pmichel31415 commented on #284
Unable to reproduce this, I'll close the issue

[2017-03-28 21:18] #284 closed

[2017-03-29 05:14] xc-kiwiberry commented on #408
sorry, i found that the example is under /path/to/dynet/build, not necessary to compile by myself.
sorry for the stupid problem :(

[2017-03-29 05:14] #408 closed

[2017-03-29 07:22] anglil opened #411 ""import dynet" only works in dynet/build/python"
Hi I'm following http://dynet.readthedocs.io/en/latest/python.html to add python support to dynet.
"cmake" and "make" succeeded with DPYTHON properly set. I've also run "python setup.py install", which also succeeded. However, as noted in the title, "import dynet" only works in the directory "dynet/build/python", out of which the import won't work. My python is from anaconda. What should I do to m

[2017-03-29 07:24] vicmak commented on #411
Try to the the directory under **external libraries** at your IDE. I added this to external libraries tree in PyCharm ,and it works.

[2017-03-29 07:27] anglil commented on #411
I'm sorry - could you elaborate on "to the directory under external libraries at your IDE"? I'm just doing everything in vim. Thanks very much!
-Angli

[2017-03-29 07:42] vicmak commented on #411
1) I suggest that unless you are a "code-master" you develop the program in your favourite IDE. For example PyCharm. These IDEs commonly have a GUI based structure where you can organize all the libraries you use in your code.
 When you wish to run the code on some server where you have only ssh connection and vim, run from the directory on the server where dynet is installed.
2) Try to use the Dy

[2017-03-29 07:45] anglil commented on #411
Thanks for suggesting the user group, Victor.

[2017-03-29 12:09] neubig commented on #411
Asking questions about problems with DyNet here is fine too. But actually, if you're using anaconda, `python setup.py install` should allow DyNet to work from any directory whenever you have that Anaconda module loaded. Did you do compilation and install all with your Anaconda environment active? If you did compilation and install with the environment active, then tried to run it without Anaconda

[2017-03-29 13:38] neubig commented on #404
Resolved by https://github.com/clab/dynet/pull/412

[2017-03-29 13:38] #404 closed

[2017-03-29 13:53] attardi opened #413 "undefined reference to boost::archive::archive_exception"
Building on ubuntu 14, gcc 4.8.4, boost 1.54, the make step fails with:

Linking CXX executable test-dynet
../dynet/libgdynet.so: undefined reference to `boost::archive::archive_exception::archive_exception(boost::archive::archive_exception const&)'
collect2: error: ld returned 1 exit status

Someone suggests that the -lboost_serialization might be needed.

[2017-03-29 20:16] anglil commented on #411
Hi Graham, dynet python binding has been installed to the system python which is python 2.7. I wonder why that is? I already set -DPYTHON to the anaconda python, and also it's prioritized over the system python in $PATH. Nevertheless, when running `python setup.py install` I still saw messages that indicate that the binding is being installed to the system python.. Thanks!

[2017-03-29 20:58] neubig commented on #411
Hi @anglil, I'm not sure why this is happening, as it's never happened to me. So unfortunately I can't be of much help. If you figure it out, it'd be great if you could post an explanation or pull request though.

[2017-03-29 21:00] anglil commented on #411
OK, the way I got it to work in another directory with anaconda python (3.6; default) is to insert `build/python` to the sys directory (similar to what @vicmak did in pyCharm I guess) despite the fact that `python setup.py install` only got the python binding to work with system python (2.7).

[2017-03-29 21:04] neubig commented on #411
Thanks for the explanation! I'm going to close this as this work-around will work for now (but people will hopefully be able to find this through Google for posterity). We're hoping to get DyNet installable through pip soon, which may make these problems less of an issue.

[2017-03-29 21:04] #411 closed

[2017-03-29 21:05] neubig commented on #413
Sorry about this! I'm not sure the work-around at the moment, but we're currently working hard on getting rid of the dependency on boost, which should resolve this problem.

[2017-03-30 09:32] vicmak opened #415 "Multiple instances of same word in the distribution of RNNLM"
Hello,

I would be very grateful for a help with some strange issue, or bug, I encounter when I use the RNNLM, exactly as it appears at the python examples.
Specifically the problem is that I get the same word several (!) times in the distribution that is received from predict_next_word function.
What I am doing wrong?

I extract the most probable words in the following way:

distribution = predic

[2017-03-30 10:30] FilippoC opened #416 "Are tensor operations safe to use ?"
Hello,

the documentation section "Tensor operations" is empty : http://dynet.readthedocs.io/en/latest/operations.html#tensor-operations
However, they do appear in the code with description in comments : https://github.com/clab/dynet/blob/master/dynet/expr.h#L1569

Is it safe to use them ?
Thanks.

[2017-03-30 14:55] pmichel31415 commented on #416
Hi,

FWIW they pass unit tests here : https://github.com/clab/dynet/blob/master/tests/test-nodes.cc#L385-L405

Can't comment about speed though

[2017-03-30 15:04] pmichel31415 commented on #415
When you use np.delete it reduces the size of the `distribution` vector so the next argmax doesn't correspond to the index of a word.

Maybe you should use `np.argsort(distribution)[:-n]` instead

[2017-03-30 15:08] neubig commented on #416
Yes, they are safe to use. They need documentation though.

[2017-03-30 15:47] vicmak commented on #415
Thank you so much @pmichel31415 !

[2017-03-30 15:48] #415 closed

[2017-03-30 15:54] pmichel31415 opened #418 "Memory leak in python Model?"
When running this code :

    import _dynet as dy

    dp=dy.DynetParams()
    dp.from_args()
    dp.set_mem(512)
    dp.init()

    def create_model():
        m=dy.Model()
        w=m.add_parameters((1000,1000))
        del m

    for i in range(100):
        print '=== Iteration %d ===' % i
        try:
            create_model()
        except e:
            exit()
        print '=============

[2017-03-30 16:54] FilippoC commented on #416
Nice, thanks for the answer !

[2017-03-30 16:54] #416 closed

[2017-03-31 21:11] neubig commented on #350
@yoavg @pmichel31415 Is there any idea about a good solution for this? Or should we leave this as-is and close this issue?

[2017-03-31 21:15] neubig commented on #123
Given the documentation (http://dynet.readthedocs.io/en/latest/minibatch.html), I believe this issue has been fixed.

[2017-03-31 21:15] #123 closed

[2017-03-31 21:38] pmichel31415 commented on #350
I'm in favor of keeping it as-is, maybe rewrite the docs if it's not clear enough

[2017-04-01 03:37] Oneplus opened #419 "Macro DYNET_PP_NARG_ not working in MSVC"
according to http://stackoverflow.com/questions/2124339/c-preprocessor-va-args-number-of-arguments, the macro  DYNET_PP_NARG_ is not supported in MSVC.

This lead to the model cannot be correctly serialized to the file.

[2017-04-01 18:41] pmichel31415 commented on #400
I'm willing to fix this but what should the behaviour be then?

[2017-04-02 18:20] neubig commented on #400
@pmichel31415 Let's say the dimensions of the output of an affine transform should always be the same as the bias (in this case `b`). I think this will fix the problem.

[2017-04-03 14:34] talbaumel opened #421 "Mul NotImplementedError?"
Installed latest version on a new machine (ubuntu, gpu, python3)
Got error when trying to multiple <class '_dynet.Parameters'> and <class '_dynet.Expression'>

_dynet.pyx in _dynet.Expression.__mul__ (_dynet.cpp:25878)()

NotImplementedError:

Code works on older version (mac, cpu, python3)

[2017-04-03 14:42] pmichel31415 commented on #421
Are you sure you have loaded the parameter in the computation graph (using `dy.parameter`) for instance?

Otherwise do you have a minimal reproducable example?

[2017-04-03 14:48] talbaumel commented on #421
My bad

[2017-04-03 14:55] #421 closed

[2017-04-03 16:49] #419 closed

[2017-04-03 20:46] Peilun-Li commented on #177
It seems `kmax_pooling` doesn't support batching and only handles 2-d tensor. Wouldn't it be more general to add another function `maxout` supporting 3-d tensor and batching like the way `PickElement` does?

[2017-04-04 17:00] gth879w opened #424 "Bug in Trainer::rescale_and_reset_weight_decay()?"
https://github.com/clab/dynet/blob/master/dynet/training.cc#L57
should this line have "model->lookup_parameters_list()" instead?

[2017-04-05 03:52] sunalbert opened #425 "Need a channel-wise operation to get average from a mini-batch"
A channel-wise or depth-wise average operation is useful in some scenarios such as batch normalization. I find a similar operation called Average. But it seems that the Average operation does not meet expectation.  Is a new pull request about channel-wise average welcome?

[2017-04-05 04:07] neubig commented on #425
Sure, but DyNet has no concept of "Channel", only "Dimension". There is already the `sum_dim` operation, which you could modify to calculate the average.

[2017-04-05 04:20] jflanigan opened #426 "Error in Scala serialization test"
When building the Scala bindings, I got an error during the SerializationSpec at the test "model saver and model loader" should "handle byte[] correctly".  Here's the full error log:

[info] SerializationSpec:
[info] dynet
[info] - should create models with the right number of parameters
[info] model saver and model loader
[info] - should handle simplernnbuilder correctly
[info] model saver and mo

[2017-04-06 08:27] easonnie opened #429 "What is the correct way to build a mini-batch feed forward network using python?"
I want to build a mini-batch feed forward network.
[code]
I got a `Assertion failed: (pvals->size() == fx.d.batch_elems()), function forward_dev_impl, file /Users/Eason/dynet-base/dynet/dynet/nodes.cc, line 1397.` when run script below.
[code]
The result of the code is below and I know the assertion failure was caused by `pick_batch`.
[code]
The correct dimension:
state - {300}
input - {300, 2} wi

[2017-04-06 13:33] pmichel31415 commented on #429
It seems like you're trying to set the batch size as a dimension of the input? In Dynet the batch size is handled separately. (Basically it is the "1" you can see at the end of each dim tuple here)

Anyway matinput is deprecated in favor of inputTensor

Here you can probably replace

    batch_size = len(batch_state)
    input = dy.matInput(input_size, batch_size) # input_size is the dimension of

[2017-04-06 13:59] easonnie commented on #429
@pmichel31415
Thank you so much.
It seems that the documentation did not have such APIs. Is there any example from which I can learn those APIs?

[2017-04-06 14:37] pmichel31415 commented on #429
Yes we are currently looking for a way to host the python documentation #169

Until then you can use the `help()` function in the python interpreter

[2017-04-06 14:59] easonnie commented on #429
Thanks!

[2017-04-07 19:47] #429 closed

[2017-04-07 19:48] neubig commented on #426
Any ideas @joelgrus ?

[2017-04-07 19:58] neubig commented on #424
Thanks for catching this! Fixed in https://github.com/clab/dynet/commit/8c9319f63b7b4db3b25b448746ec232059bcd2f7

[2017-04-07 19:58] #424 closed

[2017-04-07 20:10] #393 closed

[2017-04-07 20:20] #352 closed

[2017-04-07 20:27] neubig commented on #135
Fixed by: https://github.com/clab/dynet/commit/e9cee422dcff69bfcf17544aa1092733cfd36f66

[2017-04-07 20:27] #135 closed

[2017-04-07 20:30] neubig commented on #153
Fixed by https://github.com/clab/dynet/commit/dd81a851fc1accd2be070efee432eb56f9128a56

[2017-04-07 20:30] #153 closed

[2017-04-07 20:33] #260 closed

[2017-04-07 20:33] neubig commented on #260
Fixed by #368

[2017-04-07 20:37] neubig commented on #110
This double loading should be fixed when we fix https://github.com/clab/dynet/issues/84
This is currently in development on the "new-readwrite" branch.

[2017-04-07 20:38] neubig commented on #124
Is this fixed by @pmichel31415 's solution?

[2017-04-07 20:40] neubig commented on #129
I'm going to close this, as there seems to be a workaround above, and it's somewhat of a minority problem? Can reopen if it's still bugging people.

[2017-04-07 20:40] #129 closed

[2017-04-07 20:42] neubig commented on #147
Fixed by #349. This will also be easier with the new ParameterCollection interface that we're currently developing in the new-readwrite branch.

[2017-04-07 20:42] #147 closed

[2017-04-07 20:44] neubig commented on #198
This is done by e.g.: https://github.com/clab/dynet/commit/4127a363821f52ad095317bb14bd416e0bd93b21

[2017-04-07 20:44] #198 closed

[2017-04-07 20:45] neubig commented on #237
This will be fixed by the upcoming interface: https://github.com/clab/dynet/issues/84

[2017-04-07 20:45] #252 closed

[2017-04-07 20:46] neubig commented on #271
This will probably be fixed by https://github.com/clab/dynet/issues/84

[2017-04-07 20:48] neubig commented on #350
OK, I'll close this then.

[2017-04-07 20:48] #350 closed

[2017-04-07 21:02] neubig commented on #400
Fixed by #430

[2017-04-07 21:02] #400 closed

[2017-04-07 21:29] joelgrus commented on #426
let me look into it. from the error message, it seems like maybe the `dynet_swig.i` needs to include

`<boost/serialization/array.hpp>`

but if that's the problem I can't imagine why it would have ever worked.

[2017-04-09 22:07] jujbob commented on #418
I've got the similar problem for running my parser several times in a system using dynet.
If you are really urgent to run your system properly, you can run it step by step by using "os.system(command)" like me.

for a_eval in data:
   os.system(command) -->  #command must have load and save model. e.g.)    if has_prev_model: load model

In my case, a saved model is almost 1.5G so I have to delete

[2017-04-09 22:28] yoavg commented on #418
Did you verify it is indeed a python issue and does not happen in cpp?

[2017-04-09 22:37] yoavg commented on #418
By looking at the cpp code, I think this is because there are no destructors for `ParameterStorage` and `LookupParametersStorage`.

[2017-04-10 22:20] joelgrus commented on #426
still looking into this, and at the same time trying to figure out how to keep the code in sync. it looks like recently `RmsPropTrainer` got renamed to `RMSPropTrainer`, so I need to update the bindings for that before this will even compile.

Let me pull together a PR to fix that, and then after that I'll dig deeper into this issue.

[2017-04-11 17:45] pmichel31415 commented on #418
Yes I confirmed this is a c++ problem

[2017-04-12 00:07] anglil opened #437 "replicate a ComputationGraph"
Is it possible to replicate everything in a ComputationGraph to a copy, modify this ComputationGraph for other use, and afterwards copy the replica back to this ComputationGraph?
The motivation for doing this is that when I created two ComputationGraphs, I go the following error
"Memory allocator assumes only a single ComputationGraph at a time"
"Attempted to create >1 CG"
So it seems that the nat

[2017-04-12 13:34] neubig commented on #437
I'm not sure exactly what you're trying to do, but would the `cg.checkpoint()` and `cg.revert()` functionality work for this? `cg.checkpoint()` allows you to save a checkpoint of what the current computation graph looks like at this point, and `cg.revert()` allows you to rewind back to the checkpoint, throwing out any additional computation that occurred beyond it.s

[2017-04-12 13:36] neubig opened #438 "TensorTools Randomize Functions could be CUDAfied"
Currently generating random numbers is done on the CPU and these random numbers are transferred to the GPU. It would be nice if we could generate random numbers directly on the GPU as it would presumably be much faster. (The GPU random seed would also need to be set with dynet-seed to ensure consistency across runs.)

[2017-04-12 22:07] anglil commented on #437
Thanks. The checkpoint mechanism should work for me.

[2017-04-12 22:07] #437 closed

[2017-04-12 22:25] neubig commented on #438
This can likely be done through Eigen tensor's random number generation capability. See `eigen/unsupported/test/cxx11_tensor_random.cc` and `eigen/unsupported/test/cxx11_tensor_random_cuda.cu` for details.

[2017-04-13 03:08] xc-kiwiberry opened #439 "error : replace LSTMBuilder with GRUBuilder in example EncDec and 'MatrixMultiply' error occur"
I'm learning dynet by examples ~ I replace LSTMBuilder with GRUBuilder in examples/cpp/EncDec.cc and add #include "dynet/gru.h" and compile is successful but an error occur in runtime:

`terminate called after throwing an instance of 'std::invalid_argument'
  what():  Mismatched input dimensions in MatrixMultiply: [{8,16} {8}]`

Apparently it is a error about dimensions Mismatch in MatrixMultiply,

[2017-04-13 12:28] neubig opened #440 "Better support for implicit broadcasting"
Currently DyNet supports broadcasting for all operations across mini-batches, but only supports broadcasting within tensors for the `colwise_sum` operation and the bias term for `affine_transform`. It should be made easier to implicitly broadcast things, particularly for componentwise operations like `cmult` and `cdiv`. Also `colwise_sum` should probably be renamed something like `csum` and given

[2017-04-13 12:29] neubig opened #441 "Explicit broadcasting operation"
Currently DyNet does not have an explicit broadcasting operation to duplicate tensors along a particular dimension. The interface would be something like `broadcast(Tensor t, unsigned dimension, unsigned multiplier)` or `broadcast(Tensor t, vector<unsigned> dimensions, vector<unsigned> multipliers)`.

Note that explicit broadcasting would result in a memory allocation and copy, and is not efficien

[2017-04-13 12:31] neubig opened #442 "Better dimension-wise reductions"
Currently DyNet's support for some dimensionwise reductions is lacking (only `sum_dim`) is supported. It would also be nice to do the following by an arbitrary dimension:

- [x] `max`
- [x] `min`
- [ ] `k-max`

[2017-04-13 12:35] neubig opened #443 "TensorTools operations should be compiled on GPU"
Currently it is not easy to use Eigen functions in the TensorTools class because `tensor.cc` not compiled on GPU like the `nodes.cc` file. This makes it more difficult to do things like: https://github.com/clab/dynet/issues/438

We should make it so `tensor.cc` is compiled/templated like `nodes.cc`.

[2017-04-13 19:49] pmichel31415 commented on #439
Hi by the look of it it seems that the encoder decoder expects an LSTM because it assumes the hidden state will be of size `2 * hidden_dim` (with `h` and `c`)

This is not your mistake then.

The bug should go away if you either

- Set bidirectional to false
- Replace these lines
        if (bidirectional) {
            rev_enc_builder = Builder(LAYERS, INPUT_DIM, HIDDEN_DIM, model);
            p

[2017-04-14 08:31] jflanigan opened #444 "Problem with simple scala example"
I am trying to do a simple example with the Scala bindings, but ran into a problem.  The XorScala example works for me, but this code seg faults:

    import edu.cmu.dynet._
    val e = Expression.input(1f)
    e.value    // this segfaults
    ComputationGraph.forward(e)  // so does this

This also seg faults:

    import edu.cmu.dynet._
    val v = new FloatVector(Seq(1f,2f,3f,4f))
    val e = Ex

[2017-04-14 08:44] jflanigan commented on #444
Never mind, problem fixed.  I forgot to call Initialize.initialize() at the beginning.

[2017-04-14 08:44] #444 closed

[2017-04-14 11:49] sunalbert opened #445 "delete_dim does not work as expected"
Hi, When implementing dimension-wise mean, I find function: delete_dim in dim.h may not work as expected.
If a tensor's dim is
`Dim({2, 5, 7}, 10)`
and argument of delete_dim function `i` is 2, which means I wanna reduce a tensor with 4 rank(including batch dimension) along the third dimension. The expected result is Dim({2, 5}, 10), but in fact delete_dim
returns Dim({2, 5, 7}, 10) , since the lo

[2017-04-14 11:53] neubig commented on #445
There are two parts here. The first part of not working when `i` is 2 seems like a bug.

For the second part, deleting the batch dimension is as simple as `d.bd = 1`.

[2017-04-14 12:16] sunalbert commented on #445
Thanks for your reply.I think a delete_dim function which can delete multi dimension will be better.In the following case:
the tensor's dim is Dim({2, 5, 7, 8}, 10), I want to  reduce the second(index is 1) and the third dimension(index is 2). The right result is Dim({2,8}, 10).
I have to call delete_dim twice, first calling delete_dim(1), resulting in Dim({2,7,8}, 10). Notice that the original th

[2017-04-14 13:10] joelgrus commented on #426
sorry, that was an early thought, now that I know the issue I wouldn't expect that to fix it.

in the short term, I think the only way to fix it is to use Boost 1.59 or earlier (or to remove that binding, as you did).

in the longer term I need to figure out how to modify the bindings to work correctly both with old boost and new boost.

[2017-04-14 13:20] neubig commented on #426
@joelgrus We're going to hopefully be getting rid of boost altogether very soon, once the new save/load interface is done, e.g.: https://github.com/clab/dynet/pull/435

Hopefully this will resolve the problem.

[2017-04-14 13:21] neubig commented on #426
Here is the upstream issue: https://github.com/clab/dynet/issues/84

[2017-04-14 13:22] neubig commented on #445
If you think that's necessary, sure, feel free to add it (maybe with the name `delete_dims`)! `delete_dim` is an internal function that users won't be expected to use directly, so the interface is not super-important.

[2017-04-15 01:07] iamyoungjo commented on #92
@neubig Hello. Is this enhancement still on-going? If not, I would like to jump on this as I have some time & purpose to work on this.

[2017-04-15 01:44] xunzhang commented on #92
Hi, I have an open pull request https://github.com/clab/dynet/pull/382 but I am currently working on other features so you can go ahead. If I have time, we can work on it together. @neubig what about merging the slight change in that pull request first? Thanks.

[2017-04-15 01:46] neubig commented on #92
Done. Also, I think this would be a good place to start for multi-device support: https://github.com/clab/dynet/issues/443

[2017-04-15 01:49] xunzhang commented on #92
Thanks a lot, I will work on it after finishing dynet-84 and will keep following on this as well.

[2017-04-16 04:31] neubig commented on #405
Cool, it looks like the OpenCL support has been integrated in the Eigen upstream:
https://github.com/RLovelett/eigen/blob/master/unsupported/Eigen/CXX11/src/Tensor/TensorDeviceSycl.h

DyNet's current setup still has a lot of code based on "CPU or CUDA" as opposed to "choose your device", but with a bit of engineering we should be able to resolve this and make OpenCL an option.

[2017-04-16 05:10] #443 closed

[2017-04-16 19:27] geovedi commented on #373
How about using boost from Macports? I just tested building and running (some programs from `examples/cpp` directory) the latest commit from `master` without problem.

[2017-04-17 11:49] neubig commented on #177
Resolved by: https://github.com/clab/dynet/pull/449

[2017-04-17 11:49] #177 closed

[2017-04-17 11:49] neubig commented on #442
First two resolved by: https://github.com/clab/dynet/pull/449

[2017-04-18 03:17] xc-kiwiberry commented on #439
Thank you for your comment!~
emm...I tried both of your suggestion just now. And it seems like occur another error :
`Parameters will be written to: encdec_lm_1_2_4.params
terminate called after throwing an instance of 'std::invalid_argument'
  what():  Bad input dimensions or range in PickRange: [{4}] range(4, 8)`
thank you anyway.

[2017-04-18 04:27] neubig commented on #85
Are we actually getting close to closing this? Of course there will always be some things that could use better documentation, but I think we've covered most of the major things, and anything remaining can be covered by individual issues. Thank you for the massive effort @pmichel31415

[2017-04-18 04:59] neubig opened #454 "logsumexp() not working with batched inputs"
There is a bug in the `logsumexp()` operation that causes it to not work properly with batched inputs.

[2017-04-18 11:24] ilkerkesen opened #455 "DyNet Benchmark Examples cudaMemcpy Error"
Hi,

I've tried to run DyNet examples (used for benchmarking in the report), but they do not work. Right now, I am using sequence-ops branch of DyNet. By the way, I tried to run Python examples distributed with DyNet, and they just work without any problem. [This](https://gist.github.com/ilkerkesen/8c4fc18975776ace35efe7f470361cd7) is the output. The benchmark examples run on CPU without any probl

[2017-04-18 13:08] pmichel31415 commented on #85
Yes we can close this

[2017-04-18 13:08] #85 closed

[2017-04-18 13:09] pmichel31415 commented on #169
OK this is also mostly done, I'll close this one

[2017-04-18 13:09] #169 closed

[2017-04-18 14:24] neubig opened #456 "Convolution doc is_valid is difficult to understand"
The doc for the is_valid parameter here is difficult to understand. Could we explain it more clearly? https://github.com/clab/dynet/blob/master/dynet/expr.h#L1618

[2017-04-18 14:51] zhisbug commented on #456
Assume:
- Input feature maps: XH x XW x XC x N
- Filters: FH x FW x XC x FC
- Strides: strides[0] and strides[1] are row (h) and col (w) stride, respectively.

For the **SAME** convolution:  the output height (YH) and width (YW) are computed as:

- YH = ceil(float(H) / float(strides[0]))
- YW  = ceil(float(W) / float(strides[1]))

and the paddings are computed as:

- pad_along_height = max((YH - 1

[2017-04-18 14:54] neubig commented on #456
Thanks! This is awesome. Could we add something to this effect to the doc?

[2017-04-18 14:58] zhisbug commented on #456
@neubig Sure, let me file a PR to update the documents.

[2017-04-18 15:03] pmichel31415 commented on #456
Hi @zhisbug can you also update the python doc [here](https://github.com/clab/dynet/blob/master/python/_dynet.pyx#L1934) and [here](https://github.com/clab/dynet/blob/master/python/_dynet.pyx#L1953)

thanks!

[2017-04-18 20:14] gth879w opened #457 "KMaxPooling mini-batch support"
Is it right that kmax_pooling() doesn't support mini batching?
https://github.com/clab/dynet/blob/master/dynet/nodes-conv.cc#L349

If so, is it possible to add such support? In light of #388, batching in k-max pooling will be very useful. Thank you.

[2017-04-18 21:58] neubig commented on #457
Yes, this should definitely be added. This is also related to this:
https://github.com/clab/dynet/issues/158

[2017-04-18 21:59] neubig commented on #245
FYI, max pooling is now available via the `max_dim()` function. kmax is still pending.

[2017-04-19 05:37] xc-kiwiberry commented on #439
maybe i should change the pickrange in decode and generate too, because of the 2 * hidden_dim.

[2017-04-19 13:31] sunalbert commented on #445
Hi, @neubig . I need some some suggestion from you about the new function: delete_dims and mean_reduce.
First, Let me explain why we need delete_dims. In some cases ,we need to reduce multi-dimensions.For example,in batch normalization, a tensor with rank 4({d[0], d[1], d[2]}, bd), we should get the average of it along d[0], d[1], and batch dimension.
In other frameworks, we can make it by calling

[2017-04-19 13:35] neubig commented on #445
@sunalbert Can you give a reference (preferably equation in the paper, possibly example from another implementation) that explains this procedure in detail?

[2017-04-19 18:44] gth879w commented on #457
For k=1, I noticed that max_dim(), which supports batching, was recently introduced. This is helpful. Thanks!

[2017-04-19 19:36] ccsasuke opened #459 "conv2d failed assertion when input size is smaller than filter size even with "SAME" strategy"
It seems there is an assertion in conv2d that fails when input size is smaller than filter size even with "SAME" convolution.

  if (xs[0].ndims() != 3 || xs[1].ndims() != 4 ||
      xs[1].d[2] != xs[0].d[2] || xs[0].d[0] < xs[1].d[0] ||
      xs[0].d[1] < xs[1].d[1]) {
    ostringstream s; s << "Bad input dimensions in Conv2D: " << xs;
    throw std::invalid_argument(s.str());
  }

This fails in

[2017-04-20 00:26] zhisbug commented on #456
We can close this issue now as the documents have been fixed.

[2017-04-20 00:57] #456 closed

[2017-04-20 00:58] neubig commented on #455
Sorry, not sure what's going on here, but I'll look into it...

[2017-04-20 01:01] pmichel31415 commented on #439
Hi sorry I haven't had a lot of time to look into this, did the pickrange change solve the problem?

[2017-04-20 06:58] speedcell4 opened #462 "How can I get absolute value of Tensor?"
How can I get absolute value like this `abs([[1,-2],[3,-4]])` => `[[1,2],[3,4]]`

[2017-04-20 07:51] xc-kiwiberry commented on #439
yes！It runs successfully~ After understand the difference between final_s() of GRU and final_s() of LSTM，things become easy，thank u very much~

[2017-04-20 07:51] #439 closed

[2017-04-20 11:02] neubig commented on #462
Actually, surprisingly we don't have this yet, but we should. If someone wants to help add this, see the coding tips here: http://dynet.readthedocs.io/en/latest/code_style.html#coding-tips

about how to add new operations.

[2017-04-20 15:58] sunalbert commented on #445
Ok.Usually, we think different channels represent diffetent features, so we want to normalize these features separately. The main idea is similar with traditional normalization. Batch normalization reducing dimensions except channel-dimension implemented by tensorflow as following:
[code]

[2017-04-20 17:07] neubig commented on #462
This was fixed by: https://github.com/clab/dynet/pull/463

[2017-04-20 17:07] #462 closed

[2017-04-20 23:14] irshadbhat opened #465 "Using a dynet pretrained model while training another model (teacher student network for domain adaptation)"
Suppose I train a model on data of some domain A. I achieved some accuracy and saved the model (model A). Now I want to train another model with some data of different domain say B. I want to use the saved model (model A softmax values) while training model B. But, since now, both the models are in the computation graph, while error back-propagation parameters of both the models will get updated.

[2017-04-20 23:43] neubig commented on #465
Are you using the Python bindings? If so, just set the `updated` parameter to false:
http://dynet.readthedocs.io/en/latest/python_ref.html#dynet.parameter.

You can also use the `nobackprop` operator to prevent backpropping through a particular path in the graph:
http://dynet.readthedocs.io/en/latest/python_ref.html#dynet.nobackprop

[2017-04-20 23:44] #465 closed

[2017-04-21 01:54] #459 closed

[2017-04-21 01:54] neubig commented on #459
Fixed by #460

[2017-04-21 02:30] sunalbert commented on #445
@neubig There is the [equation](https://sunalbert.github.io/img/in-post/post-batch-normailzation/algorithm.jpg) in the paper.To make it more concrete, I draw a simple [picture](https://sunalbert.github.io/img/in-post/post-batch-normailzation/bn_in_conv.png) to explain the details about it: all the elements included by the feature map with red border form the mini-batch B in equation.Finally we can

[2017-04-21 13:41] pmichel31415 opened #466 "Exhaustive testing of python bindings"
The dynet python bindings should be thoroughly tested.

TODO :

- [ ] Create uni tests using the `unittest` module
- [x] Add testing to travis CI

[2017-04-21 15:36] neubig commented on #390
Here is a checklist:
- [ ] concatenate function
- [ ] transpose function
- [ ] batchify function

I have a question about the batchify function: Because of how memory is laid out in Eigen, it's actually possible to do this using the `reshape` function when we're interested in batching the *trailing* dimensions (not leading dimensions) by just doing:

    reshape(Dim({d1, d2, ..., dn}, dn+1 * dn+2

[2017-04-21 18:30] neubig commented on #445
OK, I was able to take a look at this.

Reading the original paper, it says in Section 3: "instead of whitening the features in layer inputs and outputs jointly we will normalize each scalar feature independently". This indicates to me, as I seemed to remember, that each feature is normalized independently, as opposed to doing some sort of dimension-by-dimension normalization.

To confirm, I also

[2017-04-21 18:43] neubig commented on #418
So I took a look at this, and it's basically a result of the DyNet memory allocator not having any concept of garbage collection. When a parameter is allocated the amount of memory the memory allocator is using is incremented, but there's no way to free memory (other than freeing *all* the memory, which would kill all of the parameters that we have loaded).

I thought about this a bit, and I think

[2017-04-21 18:43] neubig commented on #410
This has been fixed to some extent.

[2017-04-21 18:43] #410 closed

[2017-04-21 18:53] #454 closed

[2017-04-21 21:09] neubig commented on #363
Resolved by https://github.com/clab/dynet/pull/364

[2017-04-21 21:09] #363 closed

[2017-04-21 21:11] neubig commented on #236
1D convolutions have been deprecated, because things should be able to be handled by conv2d: https://github.com/clab/dynet/pull/388

[2017-04-21 21:11] #236 closed

[2017-04-21 21:16] neubig opened #470 "Profiling for forward/backward performance of each node"
It would be really nice if DyNet had a profiling program that ran forward and backward over each of the operations and measured how long each call took. This would help us catch any operations that seem to be taking way longer than expected, or operations where the backward step is much slower than the forward step or vice-versa. I think if we write a nice templated function it should be quite eas

[2017-04-22 00:23] neubig commented on #442
Resolved by https://github.com/clab/dynet/issues/457, although GPU support for kmax is still pending (https://github.com/clab/dynet/issues/245)

[2017-04-22 00:23] #442 closed

[2017-04-22 00:26] neubig commented on #457
Resolved by #457, although GPU support for kmax is still pending (#245)

[2017-04-22 00:26] #457 closed

[2017-04-22 00:30] neubig commented on #124
Closed for now. If this is still a problem, we can re-open.

[2017-04-22 00:30] #124 closed

[2017-04-22 00:33] #176 closed

[2017-04-22 00:34] neubig commented on #229
conv2d is now supported and max pooling are now supported. We still need to do a dimension-wise average function and I think we should be OK to close this?

[2017-04-22 00:36] pmichel31415 commented on #229
Sorry maybe I didn't follow too closely but is 2d max pooling supported
yet? I thought only maxout was

On Fri, Apr 21, 2017, 8:34 PM Graham Neubig <notifications@github.com>
wrote:

--

Paul Michel
3rd year student
Ecole polytechnique

Mail : paul.michel@polytechnique.edu
Tel : +33 6 46 53 57 14

[2017-04-22 00:41] zhisbug commented on #229
2D max pooling is not supported yet, but I have been working on it now. Let me file another PR soon and then we can mark this issue as closed!

[2017-04-22 02:29] pmichel31415 commented on #229
@zhisbug very cool, thank you for your hard work!

[2017-04-22 15:59] sunalbert commented on #445
There are two kinds of BN(mode==0  mode == 1) implemented in Theano, one is simple/normal BN, the other is global BN which is often used in Conv2D. As you mentioned, simple BN is easy to implement in Dynet. Do you think it is necessary to implement global BN in Dynet, after all now we have con2d function.

[2017-04-24 04:55] neubig opened #474 "Easier-to-understand naming for LSTMBuilder"
LSTMBuilder currently represents a relatively unorthodox implementation of LSTMs using coupled input and forget gates: http://dynet.readthedocs.io/en/latest/unorthodox.html#lstm-implementation

I think very few people will realize this, and this could have a significant impact on results (for example, the DyNet LSTMBuilder will never have a cell state with abs(c)>1, but vanilla LSTMs can). It'd pr

[2017-04-24 05:29] vicmak commented on #474
Can you please please please elaborate a little more?
So, is it correct to say that the only difference in DyNet LSTMBuilder implementation, is the equation of the forget gate, that becomes: f_t = 1 - i_t ? And the rest equations remain the same ?

More specifically, is there a place where I can see a documentation of the exact equations that are used by LSTMBuilder ? (Except for code in cpp)

Tha

[2017-04-24 05:31] roeeaharoni commented on #474
You can see the equations here:
https://github.com/clab/dynet/issues/154
On Mon, 24 Apr 2017 at 8:29 Victor Makarenkov <notifications@github.com>
wrote:

[2017-04-24 05:55] vicmak commented on #474
**Thanks** @roeeaharoni !

However,  from these equations I fail to understand, how is there one gate to control _forget_ and _input_ , as CIFG is described here: https://arxiv.org/pdf/1503.04069.pdf
All the gates are still computed with their parameters W and non-linear transformations. Confused.

[2017-04-24 14:16] pmichel31415 commented on #474
@neubig I agree.

Also another quirk of the current LSTMBuilder is that since `-1 < c_t < 1`, `-tanh(1) < h_t < tanh(1)`.

Probably not a big problem though since a subsequent linear layer would take care of scale issues

[2017-04-24 15:33] pmichel31415 opened #475 "Using dynet on GPU programmatically is not easy in python"
Despite having `DynetParams` to initialize the global parameters of dynet programmatically (random seed, memory), chooding between cpu and gpu programmatically is still impossible because it requires importing 2 different packages (`_dynet` vs `_gdynet`) so effectively one cannot chose between the two without using the command line argument

[2017-04-24 17:23] ccsasuke opened #476 "Access to Input Gradients?"
Hi,

I'm new to DyNet and I'm wondering whether it is possible to get the gradients w.r.t. some input (or intermediate) X?
The only API I found was to get the gradients w.r.t. parameters.

[2017-04-25 10:52] neubig commented on #445
OK, that sounds reasonable! Thanks for the clarification @sunalbert

[2017-04-25 12:47] sunalbert commented on #445
@neubig Ok. If there is no other things to be confirmed, I will start to implement batch norm and ohter related operations. These operations interfaces are designed as following:
[code]
Notice that batch_norm operation will be pending until we have an operation that can get average value of specified parameter, because we need moving_mean and moving_variance when performing batch norm in testing p

[2017-04-26 03:28] neubig commented on #476
Are you using the Python API, or C++? In C++ I believe you can get it with `expr.value().g`, but I'm not sure if this works in Python.

[2017-04-26 03:43] ccsasuke commented on #476
Thanks for the reply. I'm using the Python API. Is there a way to expose this C++ API to Python?

[2017-04-26 03:52] pmichel31415 commented on #476
@neubig I don't think this works in c++ because `expr.value()` is a tensor. It would require some tweaking in `exec.h` to write a `get_gradient` function but ~~I believe it should be pretty straightforward~~ we'll see.

Opening it up to python would be easy though.

I can try to do that tomorrow

[2017-04-26 07:48] duyvuleo opened #481 "Help on using logsumexp during SGD training"
Hi everyone,

In my problem, I want to implement the exponentiated gradient update as in Kivinen & Warmuth (1997).
(Kivinen, Jyrki and Warmuth, Manfred K. Exponentiated gradient versus gradient descent for linear predictors. Information and Computation, 132(1):1–63, 1997)

I would like to utilise the current implementation of logsumexp during SGD training in which I apply to computation of paramet

[2017-04-27 00:09] bskaggs opened #487 "Fast Fourier Transforms and other Spectral Methods"
It would be awesome if dynet had spectral methods implemented like tensorflow does; for example https://www.tensorflow.org/api_guides/python/spectral_ops.

[2017-04-27 01:02] pmichel31415 commented on #476
Solved by #484

[2017-04-27 01:02] #476 closed

[2017-04-27 04:14] zhisbug opened #488 "Better compiling instructions/options/documentation for cuDNN support"
This issue tries to add the following features:
1) Adding cuDNN support to the doc.
2) Making the error message more explicit about what functionality is
being disabled.
3) Seeing if we can auto-detect CUDNN without specifying CUDNN root.

[2017-04-27 14:30] odashi opened #489 "Behavior of s-unit setter/getter in state-less RNNBuilders"
In some *state-less* `RNNBuilder` implementations (e.g. `SimpleRNNBuilder` or `GRUBuilder`) also have `get_s/set_s_impl` implementations, and they are basically coded as the redirect to `get_h/set_h_impl`. This (especially the setter) brings a side-effect against *h*-units, and maybe it sometimes could be an undesirable behavior.

I guess it is better that the `get_s` returns 0 and `set_s_impl` be

[2017-04-28 14:45] tjppires opened #491 "Changes to dynet.concatenate_cols break previously working code"
Hi!

Commit 4ca75ed8a3395d247b52cd77871a4dfc6bafc801 made some changes to how dynet.concatenate_cols works. Before, I could concatenate a minibatch of vectors (n rows, 1 column, b = batch_size) with a minibatch of matrices (n rows, m columns, b = batch_size). After this commit, however, this does not work anymore and I get an error: "Out of bounds exception in Dim::set".

Was this intended? If yes

[2017-04-28 14:47] neubig commented on #491
Sorry about the bug! This was definitely not intended, so I'll try to fix this ASAP.

[2017-04-28 14:51] tjppires commented on #491
Thanks! :)

[2017-04-28 15:12] neubig commented on #489
I think this is a documentation problem. The actual semantics of `get_s` and `set_s` are "set all of the information that the RNN needs." In the case of RNNs and GRUs, this is just `h`. In the case of LSTMs, this is `h` and `c`. The documentation is saying something different though, so we should fix this.

[2017-04-28 15:13] neubig commented on #445
Fixed by https://github.com/clab/dynet/pull/477

[2017-04-28 15:13] #445 closed

[2017-04-28 15:35] pmichel31415 opened #493 "pick_batch bug/unclear behaviour"
I'm trying to do the same thing as `lookup_batch`, but on a parameter.

I thought

    lookup_batch(lookup_param, l) == pick_batch(param_expression, l)

But this gives me an error :

    In PickElement::forward, number of elements in the passed-in index vector (5) did not match
    number of elements in mini-batch elements in expression (of dimension{64})

After looking a little bit in the code it

[2017-04-28 15:46] neubig opened #494 "Better support for calculating gradients/Jacobians within computation graph"
Some training algorithms for neural nets require calculating gradients or Jacobians in the process of calculating a loss function. For example, see line 7 of algorithm 1 here: https://arxiv.org/pdf/1704.00028.pdf

In order to do so, we basically need an interface like the tf.gradient one:
https://www.tensorflow.org/versions/r0.10/api_docs/python/train/gradient_computation

It would be nice to have

[2017-04-28 18:29] neubig commented on #493
At the moment, `pick_batch` only supports picking when the batch dimension of the expression is equal to the number of elements in the passed-in list of indices. However, this is easy to fix.

[2017-04-28 18:45] pmichel31415 commented on #493
Hmm, so I guess what I want to do would best be implemented in a separate `lookup(expression x, int i)` expression right?

Or add broadcasting to pick (basically what you said)?

[2017-04-28 18:47] neubig commented on #493
I was thinking of adding broadcasting to pick.

[2017-04-28 18:52] pmichel31415 commented on #493
OK I'll give it a try

[2017-04-28 18:57] neubig commented on #487
Any contributions of new nodes that implement this are welcome! http://dynet.readthedocs.io/en/latest/code_style.html#coding-tips

[2017-04-28 20:45] neubig opened #496 "pip Integration"
It would be really nice to be able to install DyNet through pip. Currently we are working on removing the dependency on Boost, which will make this easier, and are almost done: https://github.com/clab/dynet/issues/84

If there is anyone in the community who is familiar with setting up the pip build system, @xunzhang and I would greatly appreciate your help in getting DyNet set up with it.

[2017-04-28 20:46] neubig commented on #491
Fixed by #492

[2017-04-28 20:46] #491 closed

[2017-04-28 21:54] neubig commented on #493
Fixed by: https://github.com/clab/dynet/pull/497

[2017-04-28 21:54] #493 closed

[2017-04-28 21:57] pmichel31415 commented on #496
Maybe we could ask on twitter/reddit to reach a broader audience if there is no answer?

[2017-04-28 21:57] neubig commented on #496
Yeah, I'll send something to the DyNet mailing list as well in a bit.

[2017-04-28 21:59] neubig commented on #379
Is this still a problem? Or has it been resolved?

[2017-04-28 21:59] #379 closed

[2017-04-28 22:03] pmichel31415 commented on #489
We could add `set_c` and `get_c` methods to lstms. Would be a bit rebarbative to code but it's mostly copy pasting of `set_h/get_h`. Would also need subclass specific bindings in python

[2017-04-29 20:05] neubig opened #498 "Feature Request: Better memory profiling capability"
It would be nice if DyNet gave you some way to easily profile which nodes were using lots of memory in the computation graph.

[2017-04-30 13:19] vicmak opened #500 "Non-deterministic results?"
Hi !
Can DyNet produce non deterministic results?
I run a sequence classification (sentence to binary class), with a code I adopted from rnnlm_batch, just with the softmax at the final state, instead of softmax at each step.

Several consequent runs produce different results.

Any help?

Victor

[2017-05-01 00:44] neubig commented on #500
Could you provide a minimal working example so we can test?

[2017-05-01 17:05] iamyoungjo opened #503 "Correlation between Batch Size & Performance in MP"
Hello @neubig @pmichel31415 ,

Currently I am spending time on tuning the model with different batch sizes (which I used as "num_iterations" argument in rnnlm-mp example) and shows the result as below graph:
![image](https://cloud.githubusercontent.com/assets/25552701/25586485/61103b56-2e54-11e7-9a96-9f0bb4d7b54f.png)

My implementation is done with Learner (based on the rnnlm-mp example).
Questio

[2017-05-01 17:43] neubig commented on #503
I'm not sure what the question is... Batch size is a hyperparameter that affects accuracy, and it looks like your results are demonstrating this. This looks like normal behavior?

[2017-05-01 20:30] iamyoungjo commented on #503
@neubig , Yes. Batch size is a hyper-parameter when you're training the model with GPU as it takes one batch and affects to parameters all at once. As far as I understood, however, in the implementation of mp.cpp and mp.h, it just separates the work by the number of workers (threads) and go by example by example. That's why I started having curiosity on this result as I set the number of thread fi

[2017-05-02 17:31] msperber opened #506 "select_range for 3D tensor"
A `select_range()` allowing to do the equivalent of what would be `my_expr[:, :, a:b, :]` in numpy syntax would be quite useful when dealing with higher dimensional tensors.

I ran into this situation when trying to pack several convolution operations into one batch operation, and then trying to use different ranges of the resulting channels for different follow-up operations.

[2017-05-02 18:17] iamyoungjo commented on #503
@neubig , if there's anything I misunderstood, let me know.

[2017-05-03 08:43] jcyk opened #508 "Loading parameters from different files may NOT be correct?"
I encountered this problem in a real application.
but, a simple example is given as follow.
[code]
It saves the `x` before update and the `y` after update.
output:
[code]
Then
[code]

to restore the 'x' before update and the 'y' after update?
NO
output:
[code]
It seems that loading the updated 'y' did an extra operation that is to rewrite `x` with the the updated 'x'

[2017-05-03 11:17] vicmak commented on #500
Thank you @neubig and sorry for a late reply.
The code I am running is [this one,](https://github.com/vicmak/ProofSeer/blob/master/Sequence_classification.py) and the input file for sequence classification is[ this one](https://github.com/vicmak/ProofSeer/blob/master/Title_3.csv).

Strangely enough, several consequent runs,produce different results .

I would be grateful for any direction with thi

[2017-05-03 13:35] jeanm opened #509 "cuDNN cannot be found by CMake"
I noticed CMake was consistently failing to find cuDNN for me, even though all other CUDA libraries and include files (which are located in the same places) are found.

From a quick skim of `CMakeLists.txt`, it seems that on [line 155](https://github.com/clab/dynet/blob/91431dc16e2844e090f45b4ddb367dd9286b9964/CMakeLists.txt#L155) it is checking whether the `CUDNN_ROOT` variable is set, and if it

[2017-05-03 13:48] neubig commented on #509
Any ideas, @zhisbug ?

[2017-05-03 14:00] pmichel31415 opened #510 "pick_batch with broadcasting is bugged"
The test is wrong, there is an Eigen error raised (dimension mismatch)

I will try to fix it by thursday/friday

[2017-05-03 14:38] jcyk opened #511 "`_RNNBuilder` does not support multiple initial_states in ONE computational graph."
Now initial_state is considered as the member variable (`_init_state` ) of  `_RNNBuilder` instances, which means that only one initial state could be used in one computational graph using the same RNNBuilder.
 `_init_state`  is declared [here](https://github.com/clab/dynet/blob/master/python/_dynet.pyx#L3212), used [here](https://github.com/clab/dynet/blob/master/python/_dynet.pyx#L3334) and [here

[2017-05-03 15:12] zhisbug commented on #509
please refer to issue #488

[2017-05-03 16:39] alexanderkoller commented on #350
Hi, I just wanted to mention that the link in the documentation to http://dynet.readthedocs.io/en/latest/commandline, which probably explains how to select cpu/gpu from the command line, is broken.

By contrast, the documentation mentions the _dynet vs. _gdynet choice in a prominent place (http://dynet.readthedocs.io/en/latest/python.html#usage). So if you want to encourage us to use the command l

[2017-05-03 17:19] pmichel31415 commented on #510
fixed by #512

[2017-05-03 17:19] #510 closed

[2017-05-03 22:41] pmichel31415 commented on #350
Hi @alexanderkoller I fixed the link.

If you have a better idea of how to emphasize the command line usage could you do a pull request/send it to me ?

Having an external point of view helps, thanks!

[2017-05-04 04:45] neubig commented on #481
Hi Vu,

This is interesting! Please feel free to contribute the EGTrainer back if you get it working properly. Anyway, answers to the questions:

1. Yes, I think so. Incidentally you don't need to write `Dim({1}, 1)`, just `Dim({1})` or `{1}` is fine.
2. Setting `nullptr` in the instructor, and then calling `default_device->allocate_tensor(DeviceMempool::PS, z);` should work.
3. `DeviceMempool::PS

[2017-05-04 07:15] duyvuleo commented on #481
Thanks Graham. It works now.
I am happy to contribute the following code:

[code]

[2017-05-04 07:46] danielhers opened #515 "Handling "Magnitude of gradient is bad" in Python"
A runtime error is raised [here](https://github.com/clab/dynet/blob/master/dynet/training.cc#L69) if the gradient is `nan` or `inf` in `update()`.

Previous discussions of this issue: [here](https://groups.google.com/forum/#!topic/dynet-users/ety7ZU3DNYc) and [here](https://groups.google.com/forum/#!topic/dynet-users/RLCUI0073dk). In the latter, Matt suggests wrapping the call to `update()` in a `

[2017-05-04 07:59] alexanderkoller commented on #350
Hi, thanks for the quick fix!

I made a pull request for you with a suggestion for rephrasing the documentation. I'm not familiar with the ReST text format, so maybe double-check that I didn't mess anything up.

[2017-05-04 08:18] alexanderkoller opened #517 "Can't compile with CUDNN support"
Hi,

I can compile DyNet on my system (Ubuntu 16.04, current CUDA 8.0 and CUDNN 6) just fine, but when I try to compile with CUDNN support, "make" aborts with the following error message:

[code]

Can someone help me figure out what's going on, or (if it's a bug) fix it?

Thanks!

Best,
Alexander.

[2017-05-04 10:43] #488 closed

[2017-05-04 10:44] #509 closed

[2017-05-04 10:46] neubig commented on #481
If you don't mind sending it as a pull request, that would be great! Of course, I can integrate it directly as well if you'd prefer.

[2017-05-04 11:46] duyvuleo commented on #481
Sure. I will do a pull request shortly.

[2017-05-04 14:31] pmichel31415 commented on #515
The 1st one can be solved by passing the c++ exception to python.

The 2nd is indeed a bug.

I'll try and fix this today.

[2017-05-04 14:31] zhisbug commented on #517
@alexanderkoller Could you use cuDNN 5.1 instead? cuDNN 6.0 was recently released and we are working on supporting it.

[2017-05-04 14:34] danielhers commented on #515
Thanks. By passing the C++ exception to Python, you mean a change in the DyNet code, right?

[2017-05-04 14:40] pmichel31415 commented on #515
Yes, I'll include it in my commit

[2017-05-04 14:40] danielhers commented on #515
Cool, thanks!

[2017-05-04 14:53] pmichel31415 commented on #515
OK this will be fixed by my latest PR, I'll merge once the tests complete

[2017-05-04 15:35] pmichel31415 commented on #515
Fixed by #518

[2017-05-04 15:35] #515 closed

[2017-05-04 17:50] talbaumel opened #519 "1d convulsions with multiple channels"
Hi, is it possible to support multiple channels when using 'conv1d_wide' or 'conv1d_narrow'?

Also, since the input of the convolution layer is usually a list of embedding, wouldn't it be better if the 1st argument would be a list of vectors instead of a matrix?

Thanks! Tal

[2017-05-04 19:53] pmichel31415 commented on #519
Hmm so conv1D ops got deprecated .

The good news is that now we have conv2d on cudnn and you can use it to do conv1d (with several channels).

We'd probably have to code a specific conv1d expression but here's how I do it with conv2d.

Assuming my batch of sentences (of the same length L) are concatenated into a big `M` of shape `(L, D)` (where `D` is the word embedding dimension (the channel dim

[2017-05-05 08:23] speedcell4 opened #520 "How can I get diagonal matrix from vector?"
How can I do something like this in DyNet?

[code]

[2017-05-05 12:12] neubig commented on #520
We don't have functionality to do this at the moment, but the main reason why is because in most cases it's wasteful (it requires you to pad with zeros, and most things you need a diagonal matrix for can be done with another operation). Would you mind explaining exactly what it is you want to do?

[2017-05-05 12:31] neubig commented on #519
Isn't the easier way to do:
`y = dy.conv2d(M, K, [1,1] is_valid=True)`

Where M is a `{d, l}` matrix, and K is a `{d, w, 1, f}` Tensor, where `w` is the convolution width and `f` is the number of filters? I believe this will be equivalent to `conv1d_narrow`. To get `conv1d_wide` behavior, you can pad the left and right sides of the input matrix `M` with `w-1` zero vectors.

[2017-05-05 12:37] neubig commented on #503
I didn't write the code so I'm not 100% sure of the details, but basically it accumulates gradients until you've processed `samples_processed % batch_size == 0`. You can take a look at the code around here if you want more details: https://github.com/clab/dynet/blob/master/dynet/mp.h#L335

[2017-05-05 12:37] #503 closed

[2017-05-05 12:39] neubig commented on #508
I'm not exactly sure about the cause of this, but we're currently working on a revamp of model saving/loading that should make all of this clearer and easier to understand. We're hoping it should be ready in a week or so:
https://github.com/clab/dynet/issues/84

[2017-05-05 12:43] neubig commented on #511
I agree that we should probably fix this. Actually (IMHO), the RNN interface in Python is nicer than the interface in the upstream C++ library, so we should probably fix the C++ library as well. Basically the C++ library maintains state internally in RNNBuilder, but it would be nice if the `add_input` function took a state is input and returned the modified state as output.

[2017-05-05 12:45] neubig commented on #511
This is also related to this: https://github.com/clab/dynet/issues/226

[2017-05-05 12:46] neubig commented on #390
I'm going to close this as the need for batchify is not entirely clear, but feel free to reopen if necessary.

[2017-05-05 12:46] #390 closed

[2017-05-05 12:48] neubig commented on #131
Average is now implemented on CUDA as of https://github.com/clab/dynet/commit/b8198213394ad66355e64ac44ff27248d285c061

[2017-05-05 12:48] #131 closed

[2017-05-05 12:49] neubig commented on #122
Layer norm is implemented by https://github.com/clab/dynet/pull/482

[2017-05-05 12:49] #122 closed

[2017-05-05 13:15] neubig commented on #266
Because there is a workaround, I'll close this for now.

[2017-05-05 13:15] #266 closed

[2017-05-05 13:39] neubig opened #522 "File structure refactoring"
Currently compiling DyNet takes a long time for a couple of reasons:
* Inclusion of header files is not clean, and header files are included when not necessary in a number of places.
* `nodes.cc` is a super-huge file that implements virtually all operations.

I think we should refactor the file structure so that

- [x] `nodes.cc` is split into a finer-grained divisions, perhaps similar to the doc:

[2017-05-05 14:01] talbaumel commented on #519
Thanks for the quick response!!

Didn't had a test yet, but is there a way to use lists as input and output?
It will enable to seamlessly switch between rnns and convs
On Fri, 5 May 2017 at 15:31 Graham Neubig <notifications@github.com> wrote:

[2017-05-05 14:04] neubig commented on #317
Is this still a problem? Or has it been resolved?

[2017-05-05 14:12] neubig commented on #377
Do you think this is worth doing? Or should we close the issue?

[2017-05-05 14:14] neubig commented on #348
If I remember correctly, perhaps we're not going to fix this, as the current behavior seems to be better than the "correct" behavior? Shall I close the issue?

[2017-05-05 14:15] neubig commented on #396
I'm closing this for now, feel free to re-open if this is still an issue.

[2017-05-05 14:15] #396 closed

[2017-05-05 14:23] #125 closed

[2017-05-05 15:10] neubig commented on #500
Can I confirm whether you're setting the DyNet random seed? If not, then several consequent runs will result in different results, because your initial parameters are randomly initialized differently. If you're setting the random seed, it might be a duplicate of this: https://github.com/clab/dynet/issues/399 if you're running on GPU, which it seems you are. I still haven't been able to confirm whe

[2017-05-05 15:10] #500 closed

[2017-05-05 15:43] #506 closed

[2017-05-05 15:45] neubig commented on #219
This commit makes it possible to slice arbitrary dimensions: https://github.com/clab/dynet/pull/524

Currently slicing rows is supported in the Python bindings, perhaps we can expand this to arbitrary dimensions and close this issue?

[2017-05-05 15:47] neubig commented on #455
So because the sequence-ops branch is pretty old, I'd suggest trying to run with the most recent master version of DyNet. I've modified the benchmarks so that they should compile even without the sequence-ops branch. Would you mind trying with the most recent version and still get the error? If so, could you tell us the exact command that you ran to do it? Thanks!

[2017-05-05 16:20] talbaumel commented on #519
Thanks! That's great
On Fri, 5 May 2017 at 17:10 Graham Neubig <notifications@github.com> wrote:

[2017-05-05 16:22] alexanderkoller commented on #517
With cuDNN 5.1 it works. Thanks!

[2017-05-05 18:28] pmichel31415 commented on #377
Hmm so I still think this is worth doing but ofr another issue : in c++ we don't check whether expressions are stale when building operations (what `ensure_freshness` does) so say, if you do `x+y` and `y` is from a previous computation graph then you'll get a seg fault when running the forward pass.

TL;DR : we need to implement ensure_freshness in c++

Maybe this should be addressed in a separate

[2017-05-05 18:28] pmichel31415 commented on #348
Yes let's close it

[2017-05-05 18:28] #348 closed

[2017-05-05 18:31] yoavg commented on #377
Oh, I though the c++ version was made safe in a similar way. As long there are no guards at the c++ level, I would like to keep the cython guards intact.

[2017-05-05 18:31] pmichel31415 commented on #519
@neubig Yes, I think my method is just easier if you want to stack a lot of `conv_wide` ops because you only have to reshape at the beginning and the end instead of padding at each layer.

[2017-05-05 18:33] pmichel31415 commented on #522
Would it also be a good opportunity to separate the files in different subfolders? Like all the builders in one folder, all the nodes in another, etc...

Would make it easier to navigate the source code.

Also (but maybe this is a separate issue) we should probably split `_dynet.pyx` in several files as well.

[2017-05-05 23:15] pmichel31415 opened #527 "Ensure that expression are not stale in operations"
We should implement the `ensure_freshness` mechanism in c++.

My approach would be to replace the direct access to `pg` and `i` when building expressions by accessors in which we check that the computation graph of the expression is not dead.

Example :

    Expression min(const Expression& x, const Expression& y) {
        return Expression(x.pg, x.pg->add_function<Min>({x.i, y.i}));
    }

becom

[2017-05-05 23:16] yoavg commented on #519
is there any objection to wrapping this in a python op that will take a list and do the concat and select_cols internally?

also, I think we can have an efficient implementation of `concatenate_cols` that will not do a copy if the list of expressions to concatenate are already contiguous in memory, and we can have the splitting-back-into-expressions keep them contiguous in memory. this way we will

[2017-05-05 23:17] pmichel31415 commented on #377
I definitely agree, I opened a different issue for this ( #527 ), I'll close this one for now.

[2017-05-05 23:17] #377 closed

[2017-05-06 00:36] pmichel31415 opened #528 "Out of memory error in conv2d"
When using conv2d on large matrices I get this error

    terminate called after throwing an instance of 'std::runtime_error'
    what():  aux_mem_pool allocate memory failed: exceed maximally allowed size

aren't dynamic memory pools supposed to take care of these errors?

[2017-05-06 02:57] zhisbug commented on #528
Looks like you are allocating more memory than an upper bound predefined by this function https://github.com/clab/dynet/blob/master/dynet/nodes-conv2d.cc#L70

Could you try to modify this function to increase the aux_storage_size() for conv2d and try again?

[2017-05-06 05:25] speedcell4 commented on #520
I am trying to implement the model which was proposed in this [paper](https://nlp.stanford.edu/pubs/SocherHuvalManningNg_EMNLP2012.pdf), Equation (5) needs diagonal matrix.

[2017-05-06 12:33] talbaumel commented on #519
I'm getting: ValueError: Bad input dimensions in Conv2D: [{10,4}
{10,3,1,30}]10 is embedding size
4 is sequence length
3 is filter length
1 is 1
30 is number of filters

y = dy.conv2d(M, f, [1,1], is_valid=True)

On Sat, May 6, 2017 at 2:16 AM Yoav Goldberg <notifications@github.com>
wrote:

[2017-05-07 14:38] speedcell4 opened #529 "How to change LSTM ParameterInit?"
if I want to init LSTM parameter with other initialization method, e.g. [`Orthogonal`](https://keras.io/initializers/#orthogonal) in Keras, how can I do that?

[2017-05-07 15:20] datquocnguyen opened #530 "Issue when loading a pre-trained Dynet model"
Hi,

Is there any reason for why I cannot obtain the same result when using the same pre-trained Dynet model but on different computers?

The point is I could only obtain the same result when I retrain the model on every computer.

Thanks.

[2017-05-07 17:41] datquocnguyen commented on #530
I think I found a related discussion here: https://github.com/clab/dynet/issues/84

[2017-05-07 17:41] #530 closed

[2017-05-08 14:58] tjppires opened #531 "Concatenate batch fails if vectors are of sizes (dim,) and (dim, 1)"
Hi! The title sums it up. If you try to concatenate d-dimensional vectors but some vectors' shape is (d,) while others is (d, 1), dynet.concatenate_batch fails. However, if you do dynet.concatenate_cols and then a reshape, everything works fine.

[2017-05-09 15:35] neubig commented on #531
Thanks for pointing this out, we'll try to fix it.

[2017-05-10 10:57] tjppires commented on #520
As a workaround for now, you could do a component wise multiplication of the identity matrix with a matrix of the same size where each column is a copy of the vector. It may be slow, though.

[2017-05-10 12:16] neubig opened #535 "DyNet needs a cool logo"
Due to my dire lack of graphic design skills, DyNet still doesn't have a nice logo. Someone interested in making one? If you do I'll make stickers and send you the first one

[2017-05-10 16:47] libine opened #536 "inconsistant result between python and c++ conv2d operation"
Hi  Guys:

    Tesing the conv2d operation using the same input and same kernel,   One inconsistant result was found which is as follows:

C++ Code:

struct TestModel {

  Parameter param_kernel;
  explicit TestModel(Model& model) {
    param_kernel = model.add_parameters({2, 2, 2, 3});
  }

  void Eval(ComputationGraph& cg) {

    std::vector<float> param_kernel_vals = {.011f, .022f, .033f, .012f

[2017-05-10 17:22] zhisbug commented on #536
It looks like you are using different data layouts for your C++ and python code. Could you try to transpose your python numpy array?

[2017-05-11 00:45] libine commented on #536
i  made a double-check between the python dynet code and tensorflow code,  which is as follows:

kernel = np.reshape(np.loadtxt('/serving/libin/model_test/data/kernel_matrix', delimiter=','), [2, 2, 2, 3]).astype(np.float32)
input = np.reshape(np.loadtxt('/serving/libin/model_test/data/input', delimiter=' '), [2, 3, 2]).astype(np.float32)

tf_input = tf.concat(0, np.reshape(input, (1, 2, 3, 2)))
c

[2017-05-11 00:50] libine commented on #536
when i delete the following code:

Expression x_shape = reshape(x, Dim({2, 6}, 1));
cout << x_shape.value() << endl << endl;

Expression kernel_shape = reshape(kernel, Dim({2, 12}, 1));
cout << kernel_shape.value() << endl << endl;

the result does not change ！

[2017-05-11 09:41] jihelhere opened #538 "LSTM without update"
Hi,

I can't find a way to use an LSTM in a deep architecture without updating its parameters during backprop (for instance in a GAN scenario where an LSTM is used as a discriminator).

if RNN/LSTM methods new_graph/new_graph_impl could take an additional boolean flag,
then internal parameters could be passed as const_parameter if needed.

[2017-05-11 10:54] tjppires opened #539 "[Help] Forcing a lookup parameter to be zero"
Hi!

I want to compute the following function:
s = dy.tanh(W*x + A*z + b), where A and W are parameter matrices, x the input vector, b the bias vector and z an embedding vector (obtained from a lookup_parameter)

The thing is that for some training cases, I want z to be a zero vector. I obviously could do it like this:
[code]
But this hurts performance when working with batches, because I need to

[2017-05-11 16:08] neubig commented on #539
There's not an easy way to do this only with lookup parameters, but probably the easiest is to add a mask. This would work by doing something like the following (note the Python syntax might not be exactly correct, but this should give the basic idea):

    indices = [0, 0, x, y ,z]
    mask = [0, 0, 1, 1, 1]
    z = dy.lookup_batch(E, indices)
    m = dy.inputTensor(np.array(mask), batched=True)

[2017-05-11 16:10] neubig commented on #538
The easiest way to do this is to add a `nobackprop()` operation between the LSTM and whatever you're trying to use it to calculate. Will this solve your problem?

[2017-05-11 16:12] neubig commented on #529
I think at the moment adjusting the LSTM initialization is not supported directly in DyNet's LSTMBuilders, but this is something that might be nice to support.

Also, I believe `ParameterInitSaxe` does orthonormal initialization, but is not supported on GPU at the moment.

[2017-05-11 16:44] tjppires commented on #539
That seems to do it, at least in the quick tests I made. However, this way I need to use numpy, which doesn't have GPU support, and it may hurt speed. Is there a way of doing it directly in dynet?

[2017-05-11 23:14] neubig commented on #539
Cool, glad it worked!

[2017-05-11 23:14] #539 closed

[2017-05-12 06:25] jihelhere commented on #538
I'm not sure,

I would like error to backpropagate through the LSTM down to the lower layers of the architecture as usual. I just don't want the lstm parameters to be updated when the trainer calls update.
IIUC, nobackprop would prevent the error to propagate down the network.

[2017-05-12 15:50] pmichel31415 commented on #538
This should be rather easy to add.

I don't have a lot of time to do it right now though, but if you want to contribute here's what needs to be done :

- in file `dynet/rnn.h` : change the interface of `RNNBuilder::new_graph` to take an additional optional boolean parameter `update`, by default set to `true`
- in files `dynet/rnn.*`, `dynet/lstm.*`, `dynet/gru.*`, `dynet/fast-lstm.*`, `dynet/deep-

[2017-05-13 01:07] pmichel31415 commented on #517
I think there should be an option in cmake to disable cudnn without disabling all of cuda, it can happen that cuda is the right version but not cudnn and that the user isn't able to change the cudnn version directly (eg on a cluster)

For now the only option is to comment out https://github.com/clab/dynet/blob/master/CMakeLists.txt#L155

[2017-05-13 09:34] jihelhere commented on #538
Thanks!

I can do this next week.

[2017-05-15 10:54] tjppires opened #542 "Dropout speed issues"
Hi there!

I have been experiencing some issues using dropout. The thing is that it makes my system many times slower to train. Before dropout it took ~6h in GPU to run a full epoch. Now, it takes ~24h. That's a 4 fold increase. The only change in my code was do use dropout in the hidden layers of the net. Also, GPU usage is now way down, and a lot of time it actually reaches 0, which didn't happe

[2017-05-15 12:18] shmsw25 opened #543 "cmake error"
whle running `cmake .. -DEIGEN3_INCLUDE_DIR=/path/to/eigen`, I got the following error message.

[code]
this is the log in CMakesFiles/CMakeOutput.log

[code]

I notice there were some similar issues in this issue board but they seems to stop after installing 20-40%, but my error occurs right after I run the command. Could you please give me a help?

[2017-05-15 13:56] pmichel31415 commented on #542
Hmm that is interesting, I certainly never had such slowdown with dropout. Maybe this issue is linked to this one #438 ?

[2017-05-15 13:58] tjppires commented on #542
That seems a plausible explanation.

[2017-05-15 14:02] pmichel31415 commented on #542
I will see if I can address this this week

[2017-05-15 14:42] pmichel31415 commented on #542
Could you provide some minimal reproducible code so that I can test the changes?

[2017-05-15 14:53] tjppires commented on #542
I just used the standard dropout. i.e., something like this:
[code]

[2017-05-15 15:10] jihelhere commented on #538
Working on the code, I wonder if this could be the opportunity to refactor the `parameter`  method so it would take an additional parameter to signify whether it's "trainable" or not. In this case `const_parameter` would be just a wrapper that sets this boolean to false.

I am under the impression that the python bindings already do something like that with `expr`

With the current implementation,

[2017-05-15 17:33] pmichel31415 commented on #538
I think for now using the ternary operator would be OK.

[2017-05-15 21:14] sebastianruder opened #544 "Accessing parameters of LSTMBuilder in Python"
Hey all, thank you for the effort in creating and maintaining this library! I would like to access the parameters of the `LSTMBuilder` in Python in order to place a constraint on them. Is this possible?

[2017-05-15 21:27] pmichel31415 commented on #544
Yes, see [this](http://dynet.readthedocs.io/en/latest/python_ref.html#dynet.LSTMBuilder.get_parameter_expressions) for instance

[2017-05-15 21:35] sebastianruder commented on #544
Thanks a lot for the fast reply! This is great! Just what I was looking for.

[2017-05-15 21:35] #544 closed

[2017-05-16 04:38] duyvuleo commented on #481
Refers to #545 pull request.

[2017-05-16 05:14] duyvuleo opened #546 "Multivariate Gaussian Distribution"
Hi,

I understand that dynet currently supports **univariate** Gaussian/Normal Distribution via TensorTools::randomize_normal(...) or "noise" node.

I wonder whether it is easy to implement **multivariate** Gaussian/Normal Distribution, something similar to https://github.com/beniz/eigenmvn.

Thanks!

[2017-05-16 08:46] shmsw25 commented on #543
solved!

[2017-05-16 08:46] #543 closed

[2017-05-16 14:27] pmichel31415 commented on #546
The [random_normal](http://dynet.readthedocs.io/en/latest/operations.html#_CPPv2N5dynet4expr13random_normalER16ComputationGraphRK3Dim) operation allows you to generate multivariate gaussian noise from `N(0,I)`, then you can multiply by a matrix and add a bias to get any multivariate gaussian you want using

`y=Ax+b ~ N(b,A^TA)` if `x ~ N(0,I)`

Would that be sufficient for your needs?

[2017-05-16 21:56] weidler opened #548 "CMake Error"
**I am getting an CMake Error if I try to cmake with the python bindings:**

-- The C compiler identification is GNU 4.9.2
-- The CXX compiler identification is GNU 4.9.2
-- Check for working C compiler: /usr/bin/cc
-- Check for working C compiler: /usr/bin/cc -- works
-- Detecting C compiler ABI info
-- Detecting C compiler ABI info - done
-- Check for working CXX compiler: /usr/bin/c++
-- Check

[2017-05-17 01:15] duyvuleo commented on #546
That's cool. This is exactly what I wanted.

Thanks Paul.

--
Cheers,
Vu

On Wed, May 17, 2017 at 12:27 AM, Paul Michel <notifications@github.com>
wrote:

[2017-05-17 01:15] duyvuleo commented on #546
Thanks to Paul.

[2017-05-17 01:15] #546 closed

[2017-05-17 10:16] #548 closed

[2017-05-17 14:45] pmichel31415 commented on #542
So upon more discussion, it seems that this problem needs some work upstream in eigen, so it'll probably take more time to fix.

[2017-05-17 17:54] pmichel31415 commented on #538
fixed by #547

[2017-05-17 17:54] #538 closed

[2017-05-18 07:03] libine commented on #536
Thanks~  @zhisbug ,    I have fixed the problem of inconsistent result of different  dl platforms.   You are right that the problem are due to the layout of tensor which is of key importance.

[2017-05-18 07:03] #536 closed

[2017-05-18 09:29] tjppires commented on #542
Ok, thanks.

[2017-05-20 10:33] irshadbhat opened #552 "Error loading saved models (unsupported version)"
Hi there,

I trained some model using dynet in one machine. When I load these models in the same machine, it works fine. But when a copy these models in other machine, I get the following error.

[code]
Both the machine use the same dynet version (both cloned 5 days ago).

[2017-05-20 10:57] miguelballesteros commented on #552
You need to use the same boost version in both machines.

Miguel

[2017-05-21 06:15] jcyk commented on #528
I also encounter this problem.  Say matrices with size `a <b`, I found it very strange that `b` works well, but `a` fails.  There must be a bug? Any idea to fix that?

[2017-05-21 17:03] zhisbug commented on #528
As the memory used by conv2d is hard to estimate before the computation, I set an upper bound in its aux_storage_size() function. If you encounter this error, try to increase the upper bound in this function. Later I will figure out a better solution for it.

[2017-05-22 14:14] pmichel31415 commented on #552
Hi, until boost is completely removed from dynet there is a small trick if you don't have the same boost version on both machines : often the difference is only in the first line of the file, where you have something like that :

    22 serialization::archive 14 1 0

Usually the difference between boost versions will only be in the number after `archive` (here 14) so if you know it for your other

[2017-05-22 16:19] irshadbhat commented on #552
@pmichel31415 seems an easy workaround. But I already upgraded my boost. Will definitely try this out on some other machine. Thanks for the help.

[2017-05-22 17:03] #552 closed

[2017-05-23 14:36] yoavartzi commented on #373
I managed to install. I believe the problem is trying to use Conda's compiler rather than the one installed by xcode. I don't have the exact setup, but if you install all the prerequisites using Brew and then create a blank conda environment with only python and cython, compilation and installation seem to work. I had to install numpy afterwards to get it running, but it's likely I could have done

[2017-05-23 14:37] yoavartzi commented on #373
BTW, Brew installs Eigen to `/usr/local/include/eigen3/`.

[2017-05-24 01:28] mattr1 opened #555 "Autobatch bug for ConstantPlusX (?)"
I don't have a test case for this, but it appears (to me) that ConstantPlusX::autobatch_sig is incorrectly implemented. It calls s.add_node(c) for the constant "c" being added, but c is a dynet::real whereas add_node assumes an int. If I understand autobatch correctly, this means nodes adding different float values such as 1.1, 1.2, 1.3, would end up all autobatched together and incorrectly add ju

[2017-05-24 11:15] talbaumel commented on #519
I'm getting the same error for sizes:
[{4, 10} {10,3,1,30}],
[{1, 10,4} {10,3,1,30}],
[{1, 4,10} {10,3,1,30}]

Any help or reference would be greatly appreciated

[2017-05-24 11:31] yoavg commented on #555
I've confirmed that this is indeed a bug. Thanks for the catch!
I've added a fix as part of PR #556 , which I believe will be merged soon.

[2017-05-24 15:12] CathyW77 opened #558 "something went wrong when i wanted to use conv2d"
Hi,
    Recently, I started to using conv2d.
My input x looks like:
[code]

and my filter looks like:
[code]

and my strides looks like:
[code]

finally, I use:
`Expression out_conv2d=conv2d(x_conv2d,f_conv2d,stride_conv2d,true);`

then, my computation went wrong when I am wanna to print out_conv2d.value() with gdb:
`The program being debugged entered a std::terminate call, most likely caused by a

[2017-05-24 15:15] zhisbug commented on #558
Could you share your full code here?

[2017-05-24 15:20] zhisbug commented on #558
It would be good if you could give me your full code that will produce the error (including the main function) so that I can take a look. Looks like the code snippet you gave me won't result in the error you mentioned.

[2017-05-24 15:34] CathyW77 commented on #558
Oh,sorry. I'm a Newbie in this field.
Actually, I don't know how to create a  "ComputationGraph cg" , which used in creating "Expression".
So I just added my code in lamtraim-train.cc:LamtramTrain::BilingualTraining ,after "cg" appeared, after line777.
I  "gdb"  to that line, want to print the "out_conv2d.value()" ,then error comes up.
All I wanna to know is the  result of "conv2d"

[2017-05-24 15:46] pmichel31415 commented on #519
Have you tried {10,4,1} ? Maybe conv2d requires a 3d tensor even if the channel size is 1 (in which case it should be fixed)

[2017-05-24 19:26] talbaumel commented on #519
Didn't work
I know that in torch it(number of channels, image height, image width)

[2017-05-24 19:53] pmichel31415 commented on #519
What error does it give you for `[{10,4,1}, {10,3,1,30}]`?

According to the code [here](https://github.com/clab/dynet/blob/master/dynet/nodes-conv2d.cc#L39-L43) it shouldn't give you the `ValueError: Bad input dimensions in Conv2D:` error

[2017-05-24 20:02] talbaumel commented on #519
I used different size filter
Assumed it's:
(kernel hieght = 1, kernel_width = 3, embedding size = 4, number_of_kernels = 30)

[2017-05-25 03:15] CathyW77 opened #562 ""make" dynet with cudnn,something wrong"
Hi, I added cudnn path to "CMake" dynet , then "make":

[ 30%] Built target dynet
Linking CXX shared library libgdynet.so
/usr/bin/ld:/home/cudnn-7.5-linux-x64-v5.1/cuda/lib64/libcudnn.so: file format not recognized; treating as linker script
/usr/bin/ld:/home/cudnn-7.5-linux-x64-v5.1/cuda/lib64/libcudnn.so:1: syntax error
collect2: error: ld returned 1 exit status
make[2]: *** [dynet/libgdynet.so

[2017-05-25 08:05] #562 closed

[2017-05-25 08:05] #558 closed

[2017-05-25 09:21] talbaumel opened #563 "Explicitly Mention Where to 'renew_cg'"
Hi, in the auto batch demo can you mention if the `dy.renew_cg()` call should be in the bath loop or outside?
http://dynet.readthedocs.io/en/latest/minibatch.html#automatic-mini-batching

Thanks, Tal

[2017-05-25 11:05] neubig commented on #555
Fixed by #556

[2017-05-25 11:05] #555 closed

[2017-05-25 13:33] neubig commented on #563
Good point! This should be fixed by this commit: https://github.com/clab/dynet/commit/55266dc7fed7b3fc90dab0b2d2a7223b41c541db

[2017-05-25 13:33] #563 closed

[2017-05-26 20:48] elikip opened #567 "AutoBatch problem in cpp"
Hi,

We have been trying to run autobatch on a seq2seq model. The code works perfectly without autobatch, however when with add the autobatch parameter we encounter an error:

The line of the code causing the crash is trying to lookup for the embedding of the next word in the sequence. If we remove this line then the code runs even with autobatch but we would like to use the embedding of the next

[2017-05-26 20:50] neubig commented on #567
Thanks for testing out the new functionality! This looks like a bug... Do you have a simple example (in either C++ or Python that could reproduce this)?

[2017-05-26 20:54] talbaumel opened #568 "Gradient Clipping"
Tested the new auto-batching on a seq2seq model and got: `RuntimeError: Magnitude of gradient is bad: inf`

[2017-05-26 20:59] neubig commented on #568
Thanks for the report! Are you using the latest code? I fixed a bug yesterday that might have been causing a problem like this on GPU.

If you're using the latest pull, could you share the code for a minimal reproducible example?

[2017-05-26 21:05] neubig commented on #567
Actually, looking at the code I might know the source of the problem, will try to push a fix quickly.

[2017-05-26 21:09] elikip commented on #567
Thank you very much!

[2017-05-26 21:16] pmichel31415 commented on #568
I had the same problem with a similar model (LSTM-VAE) on this commit 55266dc7fed7b3fc90dab0b2d2a7223b41c541db ("Fixed some doc")

As for a minimal reproducible example... I'll see what I can do

[2017-05-26 21:18] anglil opened #569 "is there a standard noise contrastive estimation layer?"
To make training faster, is there a noise contrastive estimation layer in dynet in place of softmax, or pickneglogsoftmax?

[2017-05-26 21:21] talbaumel commented on #568
I got the error after few hours of training, not sure about getting a minimal example.
Looking over the commits history I can see I installed it before the bug fix yesterday
I'll reinstall, test it and update sometime if the training succeeded

Thanks!

[2017-05-26 21:33] neubig commented on #567
This pull request may fix your problem (it will be merged once CI test check out):
https://github.com/clab/dynet/pull/570

Could you try running with this? If not, I'll probably need an example that causes things to crash to debug further.

[2017-05-26 21:34] neubig commented on #569
There is an example of training RNNs with NCE here, which could probably help you figure it out:
https://github.com/clab/dynet/blob/master/examples/cpp/rnnlm-batch-nce/train_rnnlm-batch-nce.cc

[2017-05-26 21:34] #569 closed

[2017-05-28 00:57] elikip commented on #567
It solved the problem. Thanks for the quick fix!

[2017-05-28 00:57] #567 closed

[2017-05-28 07:53] talbaumel commented on #568
The error re appeared, this time after 20 hours

`---------------------------------------------------------------------------
RuntimeError                              Traceback (most recent call last)
<ipython-input-6-87bc8742a5e1> in <module>()
----> 1 train(model, train_set, 2)

<ipython-input-5-1991d7cbaa8b> in train(model, train_set, epochs)
     19             batch_loss.npvalue() # this cal

[2017-05-29 13:44] neubig commented on #568
Hmm, and just to confirm: this error doesn't occur when you set `--dynet-autobatch 0` with the other settings exactly the same, correct? It won't be possible to debug without some way to reproduce the problem, but if we can get code/data that causes the problem to occur consistently (hopefully in a much shorter time than 20 hours), that would really help.

[2017-05-29 16:25] shuheik opened #572 "LookupParameter related error when autobatching on CPU with Scala bindings"
Hi,

I'm experimenting with dynet's scala bindings and encountered an error that looks similar to #567 .

Autobatching seems to work well with scala bindings on GPU, just by adding autobatch flags to corresponding part of dynet_swig.i and specifying them in Initialize.initialize().
It gives around 6 times speedup for a BiLSTM tagger with character-level LSTMs and an Attention-based Encoder-Decoder

[2017-05-29 17:10] neubig commented on #572
Hmm, sorry about the bug... If you can provide an example of code and data that cause the bug to happen it'd be easier to debug. If this wouldn't be easy, I have a feeling that because multiple people are running into this problem I can probably reproduce it myself if I try hard enough, so I'll try to do so.

[2017-05-29 18:19] shuheik commented on #572
I still observe this bug when experimenting with real data from europarl and I'm now trying to reproduce this bug with minimal codes and a synthetic data. But autobatching on CPU hasn't crashed on synthetic data so far.
I'll work on reproducing the bug with small codes and data tomorrow, and if I don't succeed I'll provide the "real" code and data.

[2017-05-29 21:40] pmichel31415 commented on #568
This issue seems to be fixed for me... Maybe the lookup parameter fix fixed that as well... Not sure honestly where this came from.

It also saves a lot of time, which is really cool

[2017-05-30 07:48] talbaumel commented on #568
Managed to run through my entire dataset with lower batch size

22 hours with auto-batching
35 without!

[2017-05-30 08:47] shuheik commented on #572
I could reproduce the error with a toy code.
[codes.zip](https://github.com/clab/dynet/files/1037612/codes.zip)

It turned out that this error comes out when I'm using two LookupParameters that belong to separate Models like,

and auto-batching on CPU.
It doesn't crash without auto-batching on CPU or with/without auto-batching on GPU.

[2017-05-30 10:44] neubig commented on #572
Thanks a lot of the minimal example! This should make the bug easy to fix.

[2017-05-31 10:17] yoavg opened #574 "Add cuDNN support for RNNs"
It would be nice to have cuDNN speedup for SimpleRNN, LSTM and GRU.

While cuDNN will likely not be able to accelerate incremental RNN construction, we can special case the `.transduce(seq)` and `.add_inputs(seq)` implementations to make use of the acceleration.

[2017-05-31 19:31] #572 closed

[2017-05-31 19:57] neubig commented on #572
Should be fixed by #575

[2017-06-01 10:57] liesun1994 opened #576 "Get selected info from an Expression (pick and select_rows)"
I am trying to get wanted info from an Expression which dim is {{1000}, batch_size} , and I want to input a vector whose value defines as {10,15,23}, each value means the index of 1000 numbers .  And I want to get {10, 15, 23 } indices of 1000 for each batch .
And dynet provides **select_rows** which input Expression must be a matrix ,  and of course it provides **pick**, but the input vector must

[2017-06-01 11:30] liesun1994 commented on #539
nice ~

[2017-06-01 12:37] yoavg commented on #529
As a workaround, you could get the parameter matrices from the LSTMBuilder, and change their values. This is a bit cumbersome and less efficient than init (because you set the values twice) but it happens just once in the beginning, so should be fine. (this will be tricky to do at the moment using the python bindings, but should be doable with the cpp version).

[2017-06-01 14:50] liesun1994 commented on #576
enhanced

[2017-06-01 19:37] pmichel31415 commented on #576
Is this what you are looking for? http://dynet.readthedocs.io/en/latest/python_ref.html#dynet.pick_batch_elems

[2017-06-02 01:47] liesun1994 commented on #576
@pmichel31415  pick_batch_elems is a function which can get wanted batch, my purpose is to get wanted indices in a batch....  ahah

[2017-06-05 23:48] neubig opened #577 "CUDA out-of-memory message is hard to understand"
Since we have dynamically increasing memory pools: https://github.com/clab/dynet/pull/364

the CUDA out-of-memory message is hard to understand, just noting that `cudaMalloc` failed. This should be fixed to be easier to understand.

[2017-06-06 22:59] neubig opened #579 "Feature Request: Operation Caching"
One of the major computational and memory efficiency bottlenecks in DyNet code is when the same operation is called multiple times within a for loop. This code can be sped up and made significantly more memory efficiency by moving that repetitive call outside the for loop.

Unfortunately many people don't realize this. It would be nice if DyNet had the ability to detect when people were doing the

[2017-06-06 23:53] redpony commented on #579
I think we can detect this case, we could just return an alias to the
original node without warning the user since the overhead would be minimal
(well, hopefully minimal). One simple way to do this: in addition to a
node's batching signature, each candidate node would need to have a "what
am i computing?" signature which would be computed recursively with a
forward-like computation. We could even

[2017-06-07 00:13] neubig commented on #517
This might be fixed with this pull request:
https://github.com/clab/dynet/pull/554

Could someone please confirm?

[2017-06-07 22:03] #496 closed

[2017-06-08 00:01] rasoolims opened #580 "problem with cuda running"
Hi,

I could successfully install with CUDA backend. When I ran the example I saw the following message.

./train_xor-mp
[code]

Also, I already had a python code and when I run it, it still runs with CPU. How can I set it to run with gpu?

Thanks

[2017-06-08 00:04] neubig commented on #580
`train_xor-mp` uses DyNet's multi-processing functionality, which has not been tested extensively (or at all?) with GPU. Could you try just normal `train_xor` and see if it works?

[2017-06-08 03:37] neubig commented on #579
Yeah, that's what I was thinking. I actually don't think we even need to calculate the signature recursively per say, as each node has access to the ID of its arguments, which can be used as unique identifiers. The idea of identifying identities is a good one. Anyway, if we're not too worried about efficiency this should be easy to hack up, so I'll try to do it.

And re: parameter references, yes,

[2017-06-08 16:12] rasoolims commented on #580
./train_xor-mp
[code]

Should I set paths in addition to DYLD_LIBRARY_PATH?

[2017-06-09 03:25] baoy-nlp opened #582 "Does decoding process must memory the whole compute graph?"
while decoding process without any need of back propagation, can i set some parameter reduce the memory we need allocate to the dynet?

[2017-06-09 03:40] smar111 opened #583 "Query regarding saving and loading model"
I am using dynet through C++.
I have two models S and D. Model S has parameters Sp and model D has parameters Dp which include Sp and some parameters X of its own. Both models use the same class definition.
I want to train S first so that I get the values of Sp, save them in a file using save_dynet_model() and then load them using load_dynet_model() when I train model D.
My question is should I on

[2017-06-09 13:44] gth879w commented on #418
Is this done by calling cleanup() declared in init.h?

I have a process that needs to repeatedly create and delete independent dynet models. In this case, would I call initialize() and cleanup() repeatedly?

[2017-06-09 15:31] elikip opened #584 "Auto-batching 'inf' gradient"
Hi,

We successfully implement a seq2seq model with auto-batching (in GPU) and it works great. We wanted to improve the speed by reducing the size of the softmax:

When not using auto-batching the code works and behaves as expected, however when using the auto-batch we get a runtime error `what():  Magnitude of gradient is bad: inf`

Thank you,
Eli

[2017-06-09 15:55] elikip commented on #584
We also tried to reduce the size of the softmax with sparse updates:

and we observe the same problem. Thanks in advance.

[2017-06-09 17:00] anglil commented on #568
Where can I find this command line parameter (--dynet-autobatch) in the dynet document? This page http://dynet.readthedocs.io/en/latest/commandline.html doesn't seem to have it :(

[2017-06-09 21:17] neubig commented on #582
Conceptually, no, this should not be necessary. In the forward pass of neural networks we can re-use memory for variable that are not going to be referenced anymore. The following page from MxNet has a good explanation of this:
http://mxnet.io/architecture/note_memory.html

However, in the current implementation in DyNet this is not supported. I'll put this as an enhancement, as it would be a very

[2017-06-09 21:20] neubig commented on #584
@elikip Thanks for sending this! This strongly indicates that there is a problem somewhere in the lines quoted in this post. One more question: does it take a long time for this problem to appear? Or is it pretty quick?

[2017-06-09 21:23] neubig commented on #583
Currently, the answer is the latter: the easiest way to do this is to initialize D with all the parameters, then train only Sp during the pre-training step.

Very soon, we will be making a major update of model saving and loading that will make it easier to load specific parts of a saved model, which will make it easier to do the former: https://github.com/clab/dynet/issues/84

I'm going to close

[2017-06-09 21:23] #583 closed

[2017-06-09 21:23] neubig commented on #580
You're still running `train_xor-mp`, right? Try with just `train_xor`. `train_xor-mp` is not supported on GPU at the moment.

[2017-06-09 21:27] rasoolims commented on #580
My bad.
Here is the current output

[code]
Does this output mean that dynet makes use of my GPUs?

[2017-06-09 21:29] neubig commented on #580
Yes, it looks like things are working properly.

[2017-06-09 21:29] #580 closed

[2017-06-10 01:02] elikip commented on #584
Thank you for your quick response! Regarding your question, this problem appears immediately when updating the first mini-batch.

[2017-06-11 01:50] baoy-nlp commented on #582
OK. Thanks a lot. I'm very looking forward to it.

[2017-06-12 15:49] #271 closed

[2017-06-12 15:52] elikip commented on #584
We also tried using the "ClassFactoredSoftmax" available in dynet framework, and we observe a similar issue with it. Running without auto-batching works (llh&ppl are going down), while the same code with auto-batching does not converge and crashes after a short while.
Thanks again.

[2017-06-12 20:38] liisaratsep opened #585 "utils.h not found"
Hi,

It seems that it is currently not possible to install Dynet, it fails during make:
`[ 55%] Linking CXX executable test-tensor
/home/liisa/dynet-base/dynet/examples/cpp/encdec/train_encdec.cc:8:10: fatal error: utils.h: No such file or directory
 #include "utils.h"
          ^~~~~~~~~
compilation terminated.
make[2]: *** [examples/CMakeFiles/train_encdec.dir/build.make:63: examples/CMakeFiles/

[2017-06-13 01:52] sweeney2 commented on #585
I also had trouble installing DyNet after the recent changes to the master branch, though my build failed at a different point. I was able to install successfully by reverting to a previous commit (04543bd31cda05b35b7ea3b6db7441e899f2c454).

For reference, my build error (Linux):
[code]

[2017-06-13 02:26] Thipo commented on #585
The same issue occurs to me.
I tried to find "utils.h" but I can't.

[2017-06-13 04:16] liisaratsep commented on #585
It seems that the reference was added to dynet/examples/cpp/encdec/train_encdec.cc with 713314a, but there is no such file.

[2017-06-13 04:33] pmichel31415 commented on #585
This definitely looks like a mistake.

While we're fixing that, I've hotfixed it by removing the incriminated example from compilation on the following branch : https://github.com/clab/dynet/tree/hotfix-compile-bug

This should compile (you may need to clear the build folder and rerun cmake)

[2017-06-13 04:45] pmichel31415 commented on #585
I have merged the fix in the master branch so you should be good to go (just the c++ encdec example won't work)

[2017-06-13 12:07] adhigunasurya commented on #585
I have fixed both train_encdec.cc and encdec.h to the correct versions (which does not require utils.h)

[2017-06-13 13:50] #585 closed

[2017-06-13 14:39] socaty commented on #517
@neubig I still can't complie successfully.
 With the following error message:
`[ 68%] Building CXX object dynet/CMakeFiles/gdynet.dir/weight-decay.cc.o
[ 69%] Building CXX object dynet/CMakeFiles/gdynet.dir/cuda.cc.o
Linking CXX shared library libgdynet.so
/usr/bin/ld:/usr/local/cuda/lib64/libcudnn.so: file format not recognized; treating as linker script
/usr/bin/ld:/usr/local/cuda/lib64/libcudn

[2017-06-13 15:00] patata3000 opened #587 "Installation error gcc version"
Hello I'm on arch linux, I installed cuda using yaourt package manager.
I'm trying to install dynet with gpu support with:
sudo cmake .. -DEIGEN3_INCLUDE_DIR=/opt/eigen -DBACKEND=cuda DCUDNN_ROOT="/opt/cuda"
Which gives me:

-- The CXX compiler identification is GNU 7.1.1
-- Check for working C compiler: /usr/bin/cc
-- Check for working C compiler: /usr/bin/cc -- works
-- Detecting C compiler ABI

[2017-06-13 22:00] neubig commented on #517
Thanks @socaty , this looks like a different problem though...
Could you please tell me about your environment? What version of what compiler you're using, and what version of cudnn?

[2017-06-13 22:03] neubig commented on #587
This isn't an error with DyNet itself, but an error with your upstream CUDA environment (i.e. any CUDA program you try to compile will result in the same message). Take a look here for more info: https://stackoverflow.com/questions/6622454/cuda-incompatible-with-my-gcc-version

[2017-06-13 22:03] #587 closed

[2017-06-13 23:03] rasoolims opened #588 "how to turn on autobatching in python?"
I don't see any function for setting it in DynetParams. If I just pass through command line, nothing happens.

[2017-06-14 00:28] pmichel31415 commented on #588
I haven't added autobatching to the DynetParams object yet but setting the flag in the command line does work.

Are you using `import dynet`?

[2017-06-14 01:28] socaty commented on #517
@neubig
With Ubuntu 14.04.5 LTS (GNU/Linux 3.16.0-77-generic x86_64)   CUDA 8.0.61
But I do not know what version of cudnn, because our server has both libcudnn.so.5 and libcudnn.so.6. I don't it choose which one,CUDNN 5 or CUDNN 6?

[2017-06-14 01:32] zhisbug commented on #517
@socaty we currently support CUDNN5.1, could you try to put cudnn5.1 in a standalone folder and pass the directory to CMAKE using -CUDNN_ROOT=/path/to/cudnn5.1?

[2017-06-14 01:35] socaty commented on #517
@zhisbug OK,let me try.
Thanks!

[2017-06-14 03:08] socaty commented on #517
Compiled successfully! Thanks! @zhisbug @neubig

[2017-06-14 11:48] neubig commented on #588
Yes, this should work out-of-the-box by specifying the command line flag.

That being said, this should be added to DynetParams, so I'll mark this as an enhancement.

[2017-06-14 17:28] rasoolims commented on #588
When I pass it as a command line argument with the following initialization:
[code]
I get the following error message:
[code]

[2017-06-14 22:18] #528 closed

[2017-06-14 22:20] neubig commented on #519
Is this issue resolved? Or are you still stuck. I think the dimensions that @pmichel31415 suggested should work.

[2017-06-14 22:24] neubig commented on #517
Glad to hear, @socaty !

[2017-06-14 22:24] #517 closed

[2017-06-15 04:39] pmichel31415 opened #594 "Bug in conv2d test case on GPU"
I ran `test-nodes.cc` with a CUDA/CuDNN enabled version of dynet to check on something else and I noticed the following error:

    ~/dynet/tests/test-nodes.cc(1245): error: in "node_test/conv2d_same_gradient": check check_grad(mod, z, 0) has failed

@zhisbug any ideas?

[2017-06-15 04:40] pmichel31415 commented on #229
I think this can be closed now, thanks @zhisbug !

[2017-06-15 04:40] #229 closed

[2017-06-15 04:45] zhisbug commented on #594
I am aware of this issue (as I wrote the test case by myself). However, I compared my result with TensorFlow (with same input) -- they are consistent. You can increase the verbosity level of grad check function and see the printout. I suspect it is caused by some numeric issues in the grad_check function.

[2017-06-15 04:56] neubig commented on #594
If that's the case, one way we could fix this is by ensuring that the inputs to the `conv2d` test are large enough to make sure that the gradients don't suffer from numerical instability. We should definitely check this though. The conv2d operation doesn't seem inherently instable, and because tests are passing on CPU I think it's unlikely that it would be a problem that only appears on GPU. Of co

[2017-06-15 05:32] zhisbug commented on #594
I think I have figured out the problem. The gradient computation is correct (no worry!). The test case does not pass on GPU because some irrelevant (and unused) parameters are overwritten (we create 5 model parameters in the test-node.cc code, some of them are not used when running this test case). It might be caused by some wild pointers but I am not sure at this point. I will have a fix tomorrow

[2017-06-15 11:06] talbaumel commented on #519
Yes it worked for:
input size = (10, 4, 1)
filter size = (10, 3, 1, 30)

Thanks!

Any documentation for `SelectCols`?
For `dy.select_cols(y, [0])` got:
`ValueError: Bad arguments in SelectCols: [{10,4,30}]`

[2017-06-15 16:35] rasoolims commented on #588
I removed the ```set_mem``` line and passed ```--dynet-mem``` instead and it worked.

[2017-06-15 16:38] rasoolims opened #597 "nce loss in python?"
Is there nce loss in python? I only found it in cpp.

[2017-06-15 17:53] pmichel31415 commented on #588
Hmm interesting so set_mem wasn't working? I'll flag this as a minor bug

[2017-06-15 17:55] pmichel31415 commented on #594
good to know! Yeah I found it weird, especially since the GPU implementation is straight from cudnn

[2017-06-15 21:38] pmichel31415 commented on #588
Well I just checked and it works for me. Let me know if you have more info

[2017-06-15 22:11] neubig commented on #584
FYI: I'm working on this and added some tests of autobatched select_rows and log_softmax (here: https://github.com/clab/dynet/pull/598), but neither of them failed in my environment. If you don't mind, could you try to check out this PR (I'll merge it into master soon, so you can update from master when that happens), run `test/test-nodes` and see if any tests related to `autobatch` fail? If not,

[2017-06-15 22:54] pmichel31415 commented on #584
I am reasonably sure that this might be a problem with batched matrix multiplication

Adding the following test case

    BOOST_AUTO_TEST_CASE( affine_batch4_gradient ) {
      dynet::ComputationGraph cg;
      Expression x2 = reshape(parameter(cg, param_cube1), Dim({3,3},3));
      Expression inp = input(cg, {3}, ones3_vals);
      Expression y = sqrt(x2 * inp);
      Expression z = sum_batches(s

[2017-06-15 23:04] neubig commented on #584
Hmm, thanks for the test. i can take a look too, but not for a while so if you figure out the problem that'd be great!

[2017-06-15 23:06] neubig commented on #597
There is no NCE loss implemented directly in DyNet. `train-rnnlm-batch-nce` is an example of how you can use DyNet to implement NCE loss, so basically using it in Python would involve porting the C++ code. If you do this and can contribute an Python version of the NCE example that would be great!

[2017-06-15 23:06] #597 closed

[2017-06-15 23:15] pmichel31415 commented on #584
Hmm after further testing the error seems to have stemmed from the use of sqrt, so we're back to square one.

[2017-06-16 01:10] mattr1 opened #599 "bug in BatchedExecutionEngine::backward: null ndEdfs for late parameter nodes"
I'm getting null reference errors in BatchedExecutionEngine::backward, in the loop

for (VariableIndex i : cg.parameter_nodes)
    static_cast<ParameterNodeBase*>(cg.nodes[i])->accumulate_grad(ndEdfs[i]);

because ndEdfs[I]->v is null (this happens rarely, but consistently).

I believe this is the cause:

At the end of the BatchedExecutionEngine backward function, *all* of the parameter nodes' bac

[2017-06-16 17:59] miguelballesteros commented on #584
thanks @neubig! and @pmichel31415  after running ./test/test-nodes we get the following in our environment (@elikip share the same environment for this):

unknown location(0): fatal error in "contract3d_1d_gradient": std::runtime_error: InnerProduct3D_1D::forward_dev_impl disabled on CUDA. Comment out DYNET_SKIP_CUDA_CONTRACTIONS in nodes-contract.cc to enable this function.
/dynet/tests/test-node

[2017-06-16 18:14] pmichel31415 commented on #584
Hmm all these error messages are known issues (mostly stuff not implemented in CUDA). They are most probably not related to your problem.

[2017-06-16 20:28] mattr1 commented on #599
It seems these are for parameters not used in the calculation of the loss function. Here is a minimal example. The first causes a problem with both SimpleExecutionEngine and BatchedExecutionEngine because it is simply adding a parameter node after the final loss is computed. The second causes a problem only with the BatchedExecutionEngine. It's more subtle: The lookup parameter is added before the

[2017-06-17 07:57] neubig commented on #584
OK, I think I was able to reproduce this to some extent, so I'll try to figure out the problem in the next day or so.

[2017-06-17 08:38] #599 closed

[2017-06-19 12:34] talbaumel opened #602 "Error While Training"
Hi, while training the network I'm getting the following error `RuntimeError: Magnitude of gradient is bad: -nan` from the command `opt.update()`

Any idea how can I avoid/solve this error?

Thanks

[2017-06-19 13:17] speedcell4 opened #603 "ELU and SELU"
How can I use [ELU](https://arxiv.org/pdf/1511.07289) and [SELU](https://arxiv.org/abs/1706.02515)?

[2017-06-19 13:38] miradel51 commented on #603
see readme

[2017-06-19 13:58] neubig commented on #603
These are not implemented in DyNet yet, but we'd certainly welcome any contributions. Take a look here about information on contributing new nodes: http://dynet.readthedocs.io/en/latest/code_style.html#coding-tips

[2017-06-19 14:28] speedcell4 commented on #603
@miradel51 could you please show clearly which README you are referring to?

[2017-06-19 15:13] miguelballesteros commented on #584
@neubig thanks for this. After you commit, we just pulled the latest version from master and we tried our code with CFSM and it crashed in the same way when we used dynet-autobatch 1 (if we use dynet-autobatch 0, it works)

We tried with CPU just in case the GPUs were the problem and it turns out that the code works with dynet-autobatch 1 !! so it seems that it is a GPU problem (?) any ideas why?

[2017-06-19 15:19] neubig commented on #584
I just made a change in #604 that has the potential to fix this problem. Could you try pulling from master one more time and seeing if this fixes the problem?

[2017-06-19 15:22] neubig commented on #602
We'll need a bit more information about this to help debug. First, have you tried the immediate computation on the debugging page?
http://dynet.readthedocs.io/en/latest/debugging.html

If you can try this, it'd help to know which node has caused the problem.

[2017-06-19 15:59] neubig commented on #584
OK, I'll take another look tomorrow (Asia time). One thing that would really help if you have time is if you could create a test case (similar to the ones in test-nodes.cc or test-rnn.cc) that you can confirm breaks on the GPU.

[2017-06-19 18:22] talbaumel commented on #602
I'm trying to create a mock GAN
One that tries to forge a distribution

When the distribution yields high values (normal distribution with variance ~20 crash it instantly) the error appears at the first few iterations of training the discriminator
the discriminator is defined as follows:
[code]
For low values it works
For medium (~10) values it crashes after a while

[2017-06-19 19:49] zhisbug commented on #594
After 2 days' debugging, I ended up with the following conclusion. This is actually not a bug. This is caused by cuDNN's non-determinism.

I run the following simple test: I feed the same feature maps and filter parameters into cuDNN and call forward (or backward) for multiple times, the output by different calls will be slightly different (no matter I launch DyNet multiple times or have multiple

[2017-06-19 20:13] wang-chenyu commented on #535
I'd like to contribute. Thanks @zhisbug  for the briefing~ :- )

[2017-06-19 21:25] zhisbug commented on #594
Beside this known issue, I will have a PR to fix some other issues (I found during debugging).

[2017-06-19 22:15] neubig commented on #535
Hi @wang-chenyu , thanks so much for volunteering to help with this! But actually, we already have someone working on this (and almost finished) behind the scenes, so I don't want to waste your time by duplicating work. Sorry, I should have posted something here earlier.

[2017-06-19 22:42] neubig commented on #602
My guess is that you're getting numerical stability problems in the dy.exp(x) function when x is a very big value.

[2017-06-19 22:46] neubig commented on #594
OK, sounds good. Good to know the problem at least. Perhaps we can add a test that doesn't rely on the gradient checking.

[2017-06-20 00:08] pmichel31415 commented on #588
Fixed by #606

[2017-06-20 00:08] #588 closed

[2017-06-20 00:08] pmichel31415 commented on #346
Fixed by #606

[2017-06-20 00:08] #346 closed

[2017-06-20 02:34] pmichel31415 commented on #603
Solved by #607

[2017-06-20 02:34] #603 closed

[2017-06-20 02:36] pmichel31415 commented on #602
Yes maybe try the native ELU I just added, if the problem persists maybe try to use log variance instead of variance directly?

[2017-06-20 05:59] smar111 opened #609 "Question regarding cg.backward() and sgd.update() connection"
If I renew the computation graph and perform cg.forward() and cg.backward() after each sentence but perform the sgd.update() after say 10 sentences. Will the update be according to all of the sentences or just the last one i.e. are the gradients computed from the backward() step stored somewhere else or are they dependent on the computation graph?

[2017-06-20 07:03] speedcell4 opened #610 "How can I use trigonometric functions in DyNet?"
`sin`, `cos`, `tan`, `cot`, `sec`, `csc`
`asin`, `acos`, `atan`, `acot`, `asec`, `acsc`