[2015-12-08 16:59] pks opened #24 "examples/nlm broken with CUDA backend"
The nlm example seems to be broken when it is built with the CUDA backend. cnn is at commit e1f5f3c and eigen @ changeset 7948:417bfb9807ba.

Input (ngrams.txt):
[code]

Run:
[code]

"Memory Free" seems obviously odd, but it prints reasonable values when omitting the int casts in cnn/cuda.cc:32.

Just using the CPU works fine. Other examples work too, e.g. 'xor' or 'rnnlm'.

Technical info:
[code]

[2015-12-11 02:06] Oneplus opened #25 "Questions about L2 regularization on lookup parameters"
Hi, all

Thanks for the great tool. I enjoyed both using it and reading the code.

When looking into the SGD training part, I met a question in `cnn/training.cc`. More specifically, it's about the L2 regularization on lookup parameters.

According to my understanding, the `cnn::LookupParameters` stores a sparse representation of the training example. For each instance, only a few dimensions are fi

[2015-12-11 02:31] redpony commented on #25
Hi Yijia, yes, this is indeed a problem with CNN that hasn't been well
documented at all. It's high on the list of things to fix (using the trick
you pointed out)-- I hope to get to it in the next couple of weeks since a
number of people have raised concerns about this. In the mean time- dropout
and gaussian noise are available. :)

On Thu, Dec 10, 2015 at 9:06 PM, Yijia Liu <notifications@github.

[2015-12-11 02:48] Oneplus commented on #25
@redpony Hi Chris, Thanks for quick reply. Hope it can be fixed in near future :-)

[2015-12-30 09:20] myohmy opened #26 "examples/encdec cannot work well in GPU"
Hi all,

Thanks a lot for this great NN tool. I'am happy to see that it provides the GPU version. I have tested the examples using GPU and find that encdec cannot work. The detail is as follows. I further find that the problem occurs in  "loss += as_scalar(cg.forward())"; . If someone knows why, please tell me the reason. Thanks again.

*************************************************************

[2015-12-31 02:48] Adoni opened #27 "examples/xor-batch-lookup broken"
The project can be compiled correctly, but when I want to run ./xor-batch-lookup in examples, it broken with error "backward() called on non-scalar node" with exit code 6. The same problem both occurs on MAC OS and CentOS

[2015-12-31 04:55] neubig commented on #27
Thanks for the report! It's been fixed.

[2015-12-31 04:55] #27 closed

[2015-12-31 22:19] neubig opened #28 "CUDA/GPU Support is Incomplete"
Currently, GPU/CUDA support in cnn is incomplete. The most common functions are implemented in CUDA, but some of the less frequently used ones are not. Up until now this led to segmentation faults, but now most unimplemented functions should throw an error when you try to use them.

We're planning on fixing this in a couple ways:
1) In the long term, we're hoping to transition to the Eigen GPU fun

[2015-12-31 22:23] neubig commented on #24
Hi @pks, thanks for the report. I've fixed some of the GPU code in cnn so you should no longer be getting segfaults. Unfortunately the example still doesn't work though (giving an error that LogSoftmax is not implemented). You can find more information about this problem here, and please feel free to contribute if you're interested:
https://github.com/clab/cnn/issues/28

I'll close this issue for

[2015-12-31 22:23] #24 closed

[2015-12-31 22:26] neubig commented on #26
Hi @myohmy , thanks for the report. I've fixed some of the GPU code in cnn so you should no longer be getting segfaults. Unfortunately the example probably still doesn't work though (giving an error that LogSoftmax is not implemented). You can find more information about this problem here, and please feel free to contribute if you're interested:
#28

I'll close this issue for now, as it's part of

[2015-12-31 22:26] #26 closed

[2016-01-01 04:34] myohmy commented on #26
Hi Neubig,

Thank you for the feedback. I know the reason now and I am currently read
the codes in CNN. I will give some reports if I find problems. I will try
my best to do some contribution if I can. Thanks again!

Best,
Jiajun Zhang

On Fri, Jan 1, 2016 at 6:26 AM, Graham Neubig <notifications@github.com>
wrote:

[2016-02-12 20:48] redpony opened #32 "support resizing of parameters"
it should be possible to resize parameters after they are allocated.

[2016-02-12 21:00] redpony opened #33 "support running forward and backward computation on a threadpool"
Here are the details of how to do it (maybe):
http://stackoverflow.com/questions/35249961/boostshared-future-and-when-all-with-multiple-continuations

[2016-04-15 14:54] nddk opened #37 "Eigen"
Hi,

when using a large hidden state size for the LSTM, it runs a bit slow. Are there any recommended settings for Eigen? e.g., using multithreading or linking with intel MKL?

Also, is there an option to use double instead of float for all Parameters?

[2016-05-17 08:45] elfring opened #42 "Use of angle brackets around file names for include statements"
Would you like to [replace any double quotes](https://github.com/clab/cnn/blob/7b8adbc9738250922436293e1e0873754c290eab/cnn/cfsm-builder.h#L6 "Check header file inclusion style") by [angle brackets around file names for include statements](http://stackoverflow.com/questions/21593/what-is-the-difference-between-include-filename-and-include-filename "What is the difference between #include <filename

[2016-05-17 08:50] elfring opened #43 "reserved identifier violation"
I would like to point out that an identifier like "[`_TIMING_H_`](https://github.com/clab/cnn/blob/7b8adbc9738250922436293e1e0873754c290eab/cnn/timing.h#L1)" [does not fit](https://www.securecoding.cert.org/confluence/display/cplusplus/DCL51-CPP.+Do+not+declare+or+define+a+reserved+identifier#DCL51-CPP.Donotdeclareordefineareservedidentifier-NoncompliantCodeExample%28HeaderGuard%29 "Do not use ide

[2016-05-17 14:16] lujun5011802 opened #44 "there is an error when build on 32bit ubuntu without GPU"
I use cmake2.8.7 to build, when I build on 48% it exist build error, I change  unsigned long recvd_size to std::size_t recvd_size in mp.h, it continues to build again, but exist [cnn/CMakeFiles/cnn_shared.dir/all] Error 2 on 70%.
could you help me point some issue? thanks!

[2016-05-19 02:01] neubig commented on #42
Sure, feel free to submit a pull request that does so!

[2016-05-19 02:01] neubig commented on #43
Sure, feel free to submit a pull request that does so!

[2016-05-19 02:04] neubig commented on #44
Thanks! Could you attach a make log, starting from a clean build directory, and using "make VERBOSE=1"?

[2016-05-19 02:05] neubig commented on #25
This is fixed in the v2 branch, but is pending merging into the main branch.

[2016-05-19 02:07] neubig commented on #37
Linking with the Intel MKL is a good idea if it's possible. I've never tried this, so if you get it working, contributing a recipe would be great. Multi-threading and full GPU support are currently in progress, and will be noted in https://github.com/clab/cnn/issues/28 when it's completed.

[2016-05-19 02:07] #37 closed

[2016-05-19 13:24] lujun5011802 commented on #44
@neubig
I used Ubuntu 12.04.3  GCC 4.9.2 cmake2.8.7
the make log is as follows

[  3%] Building CXX object cnn/CMakeFiles/cnn.dir/conv.cc.o
cd /home/jun/cnn/build/cnn && /usr/bin/c++    -fPIC -funroll-loops -Wall -std=c++11 -Ofast -g -DEIGEN_FAST_MATH -march=native -I/home/jun/cnn -I/home/jun/cnn/external/easyloggingpp/src -I/usr/local/include -I/home/jun/cnn/../eigen -I/home/jun/cnn/build    -o C

[2016-05-19 21:02] neubig commented on #44
Hmm, it looks like you're missing the boost serialization library. Have you
installed the apt package libboost-all-dev? If so, what version is it?
2016/05/19 22:24 "lujun5011802" <notifications@github.com>:

[2016-05-20 16:33] lujun5011802 commented on #44
Hi neubig,
Thanks！ I install the boost again using "sudo apt-get install libboost-all-dev". the boost version is 1.48.0.2. Then, I build again. unfortunately, there are the same errors as before.

[  1%] [  2%] Building CXX object cnn/CMakeFiles/cnn_shared.dir/cfsm-builder.cc.o
Building CXX object cnn/CMakeFiles/cnn.dir/cfsm-builder.cc.o
[  3%] Building CXX object cnn/CMakeFiles/cnn.dir/cnn.cc.o
[

[2016-05-20 16:36] lujun5011802 commented on #44
Hi neubig,
Thanks！ I install the boost again using "sudo apt-get install libboost-all-dev". the boost version is 1.48.0.2. Then, I build again. unfortunately, there are the same errors as before.

[ 1%] [ 2%] Building CXX object cnn/CMakeFiles/cnn_shared.dir/cfsm-builder.cc.o
Building CXX object cnn/CMakeFiles/cnn.dir/cfsm-builder.cc.o
[ 3%] Building CXX object cnn/CMakeFiles/cnn.dir/cnn.cc.o
[ 5%

[2016-05-21 12:58] neubig commented on #44
Hello, could you search for libboost_serialization.so or libboost_serialization-mt.so on your disk? If you find it, try following the following instructions (from CMakeLists.txt) and set the boost directory to be the location of these libraries:

# trouble shooting:
# if boost library cannot be found, in addition to install boost library
# check if environment variables are set
#
# to set boost ro

[2016-05-23 06:06] lujun5011802 commented on #44
@neubig
Now I could build the code. many thank！

[2016-05-23 06:06] #44 closed

[2016-06-03 08:29] talbaumel opened #46 "No 'add_lookup_parameters' in LSTMBuilder"
Some of the code in RNN tutorial doesn't work:
    enc_lstm.add_lookup_parameters("lookup", (VOCAB_SIZE, ENC_INPUT_DIM))
AttributeError: 'pycnn.LSTMBuilder' object has no attribute 'add_lookup_parameters'

Thanks

[2016-06-03 09:10] #46 closed

[2016-06-05 12:06] talbaumel opened #49 "LD_LIBRARY_PATH overwritten by CUDA"
Both cuDNN and cnn uses LD_LIBRARY_PATH environment variable.
Can it be change so the same system run both?

Thanks

[2016-06-05 12:19] roeeaharoni commented on #49
You should concatenate the values that both require separated with ';'. LD_LIBRARY_PATH is commonly used by to specify directories of libraries.

[2016-06-05 12:32] #49 closed

[2016-06-08 07:59] lavelli opened #50 "problem with boost while performing 'make'"
A follow-up of a discussion on Linkedin concerning BIST Parser. I'm aware this is not a pyCNN specific issue but searching on internet I was not able to find a solution.

When installing pyCNN (as specified in https://github.com/clab/cnn/blob/master/INSTALL.md), I encounter a problem when I perform 'make' (after customizing setup.py). Even if the previous steps seem ok, when I run ' make', an erro

[2016-06-15 00:10] berzentine opened #52 "--cnn-mem How to do this?"
How to allocate more memory to cnn. There is an error that it ran out of memory each time.

[2016-06-15 04:21] neubig commented on #52
When you have a program compiled with cnn, and assuming that you call cnn's Initialize() function using the command line arguments passed in to the program, it's as simple as adding:
$ my_program --cnn-mem 1024 [other options]
to your command line arguments. Note that the cnn arguments must come before any other arguments.

These command line arguments should be documented, so I'll leave this issu

[2016-06-15 04:23] #42 closed

[2016-06-15 04:23] #43 closed

[2016-06-16 22:21] yoavg commented on #52
A small addition to this: we observe that setting --cnn-mem to values above 2010 or so always fail. Probably relates to some limits on contiguous memory allocation.

[2016-06-17 00:49] Oneplus commented on #52
@yoavg @neubig it seems the current master has an integer overflow problem on the devices.cc when allocating memory. See this bug fixed in v2 (https://github.com/clab/cnn/blob/v2/cnn/devices.cc#L63) but not sure when will it be merged into master.

[2016-06-18 21:43] yoavg commented on #52
Thanks! is v2 operational already?

[2016-06-19 21:26] neubig commented on #52
Yes, it's basically operational. I've switched my experiments over to v2. There are still a few things that need to be done, but I think we'll be merging it into master sooner rather than later.

[2016-06-20 13:13] olsgaard commented on #50
I too had a lot of problems with installing pyCNN and found most the errors I received of little help, so I unfortunately can't pinpoint the problem you are experiencing. Here are some notes I wrote down when I installed on OSX, hope they can be of help to you:

* The PyCNN install guide recommends latest stable version of Eigen, the README file for CNN recommends latest development build. You mig

[2016-06-20 19:20] neubig commented on #50
Hi @lavelli sorry I missed this. Were you able to compile CNN itself (not PyCNN) properly according to the instructions in the main README.md? If not, try adding the following arguments when you run the cmake command:

`-DBOOST_ROOT:PATHNAME=$HOME/boost_1_60_0 -DBoost_LIBRARY_DIRS:FILEPATH=$HOME/boost_1_60_0/lib`

[2016-06-20 21:31] neubig commented on #28
This is (finally!) almost finished in v2. There are still a few of the more rarely-used functions that don't have CUDA implementations yet, but things are mostly working. If you're interested in working on this, check out the v2 branch, which may be merged into master soon.

[2016-06-20 21:36] neubig opened #59 "Segfault on CUDA when using GCC 4.9.3 and optimization -O2"
Currently, when using cnn on CUDA, compiling with GCC 4.9.3, segfaults occur when using the default optimization setting of -O2. This is not a problem on GCC 4.8.*, but may be a problem on other versions of GCC.

We don't currently know the cause, but a patch fixing the bug would be welcome. If you want a quick fix, find the line including `APPEND CUDA_NVCC_FLAGS` in `cnn/CMakeLists.txt` and chang

[2016-06-20 21:36] olsgaard commented on #50
I've been having problems installing pyCNN on Ubuntu 12.10. Adding those arguments made cmake, when building CNN, look for boost in a completely different folder (`/usr/include/` where the default 1.49 version is, instead of in the home directory where I have compiled newer versions)

If I run the cmake command as in the README.md it works, but I get an error when running `make -j 2`.

* With boos

[2016-06-20 21:38] neubig commented on #50
Hmm, could you additionally add: `-DBoost_NO_BOOST_CMAKE=TRUE -DBoost_NO_SYSTEM_PATHS=TRUE` and see if this makes any difference?

[2016-06-20 21:59] neubig opened #60 "Compiling time is slow"
Compiling time for cnn is slow. We should try to move includes of the heavier libraries (boost, etc.) from .h files to .cc files.

[2016-06-20 22:00] neubig commented on #52
Information about command line options has been added to README.md

[2016-06-20 22:00] #52 closed

[2016-06-21 14:04] olsgaard commented on #50
Thank you for your quick response.

Adding `-DBoost_NO_SYSTEM_PATHS=TRUE` helped and made CNN compile without errors. After that I ran `make` and `make install` in the pycnn folder and added `export LD_LIBRARY_PATH=/home/mads/cnn/pycnn` to my environment in accordance with `INSTALL.md`, without any errors. However, importing pyCNN in python fails.

    pyexamples/$ python xor.py
    Traceback (mos

[2016-06-21 21:25] neubig commented on #50
OK, you'll also need to add the location of the boost libraries to your LD_LIBRARY_PATH:
`export LD_LIBRARY_PATH=/home/mads/cnn/pycnn:/path/to/boost/lib`

[2016-06-22 00:43] olsgaard commented on #50
When you mention it, it makes perfect sense. Thank you very much for your help, it did the trick!

[2016-06-22 01:19] neubig commented on #50
Great! Instructions noting such have been added to README.md in the v2 branch.

[2016-06-22 01:19] #50 closed

[2016-06-22 04:51] neubig opened #61 "Compile fails on Travis CI"
Currently compile fails on Travis CI. This should be fixed.

[2016-07-16 10:36] riyazbhat opened #65 "CPU you selected does not support x86-64 instruction set"
I have the following CPU config;
lscpu
Architecture:          x86_64
CPU op-mode(s):        32-bit, 64-bit
Byte Order:            Little Endian
CPU(s):                6
.
.
.

But when I try to make ``cnn``, i get  an error message saying ``CPU you selected does not support x86-64 instruction set``.

Here is the complete error log:
make VERBOSE=1
/usr/local/bin/cmake -H/home/riyaz/GIT_Projects/cNN

[2016-07-19 10:10] neubig commented on #65
Thanks for the issue report! Unfortunately I've never encountered this, and unless we can reproduce it it will be hard for us to debug. If you figure out a fix to the problem we'd be happy to incorporate a pull request though.

[2016-07-25 07:42] Adoni opened #67 "Problems when update lookup parameters in parent process"
I try to use `sgd->update()` in parent process to update lookup parameters. However, it doesn't work. When I use `sgd->update()` in child process, it works well. This problem is caused by that the variable `non_zero_grads` in model is not shared. So parent process will not update lookup parameters because this variable is empty.

[2016-07-25 07:50] neubig commented on #67
Hi @Adoni , thanks for the bug report. Are you talking about when you're using the multi-process framework (included in the `mp.h` file)? Could you attach some minimal example code so we can take a look at it?

[2016-07-25 08:37] Adoni commented on #67
Hi @neubig, I didn't use the `mp.h` file, which is update in child process. My work cannot use this file directly so I write a multi-process program, which update in parent process. I will try to write a minimal example to make it recur.

[2016-07-25 09:04] neubig commented on #67
If this is something that you wrote on your own, you'll probably have to fix the problem on your own. This will probably involve passing information about `non_zero_grads` in each child process to the parent process. If you do so, you could combine add all elements of `non_zero_grads` in each child process to `non_zero_grads` in the parent process before running the update. As this is something th

[2016-07-25 09:04] #67 closed

[2016-07-28 19:41] dhgarrette opened #68 "overly aggressive nonzero-component assertion"
In `model.h`, `LookupParameterStorage` contains the [following field](https://github.com/clab/cnn/blob/v2/cnn/model.h#L114):

    // gradients are sparse, so track which components are nonzero
    std::unordered_set<unsigned> non_zero_grads;

In `model.cc`, `LookupParameterStorage::g_squared_l2norm_dev` contains the [following assertion](https://github.com/clab/cnn/blob/v2/cnn/model.cc#L342):

[2016-09-01 10:16] honnibal opened #70 "Sparse update for embedding matrix technically incorrect for momentum (but probably better)"
Hi,

I noticed this issue in my own implementation, and remembered that your solvers also use a sparse update implementation for the embedding matrix. I thought I'd drop you a note.

The issue is that most momentum-based solvers involve some sort of exponential decay on the momentum vector. In my implementation, this decay was being applied unevenly, because the solver would only be called for wor

[2016-09-02 02:47] neubig commented on #70
Hi Matt,
Thanks for the heads up on this! I'm pretty sure your analysis is correct, but it may be a while before we actually have some time to go in and fix and/or document it.

[2016-09-06 22:02] vered1986 opened #71 "Segmentation fault in save (v2)"
Saving any non-empty model results in "Segmentation fault (core dumped)":

The following code produces this error:

[code]

The first save operation works well, and the second causes a segmentation fault. It also happens when `bilstm_builder = BiRNNBuilder(1, 2, 100, m, LSTMBuilder)` is replaced with a lookup table initialization.

Thanks in advance!

[2016-09-06 22:04] yoavg commented on #71
thanks for the report. does this happen also with the non-gpu version?

[2016-09-06 22:07] vered1986 commented on #71
No, the same code worked when I replaced gpycnn with pycnn.

[2016-09-06 22:15] yoavg commented on #71
thanks, I will look into it.

On Wed, Sep 7, 2016 at 1:08 AM Vered Shwartz <notifications@github.com>
wrote:

[2016-09-08 12:16] vered1986 opened #72 "Error in PickNegLogSoftmax"
I'm trying to use pickneglogsoftmax_batch (using gpycnn, v2) and get the following error:

python: /home/vered/cnn/cnn/nodes.cc:1380: void cnn::PickNegLogSoftmax::forward_dev_impl(const MyDevice&, const std::vector<const cnn::Tensor*>&, cnn::Tensor&) const [with MyDevice = cnn::Device_GPU]: Assertion `pvals->size() == fx.d.batch_elems()' failed.

With the following code:

[code]

where the shape o

[2016-09-08 16:35] rasoolims opened #73 "Question: how to get averaged parameters?"
Hi,

Thanks for the great library.

I was wondering if this library support averaging? I mean, maintaining an averaged parameter that is going to be used in decoding.

Thanks

[2016-09-08 17:06] neubig commented on #73
Hi @rasoolims . I think this feature might be something nice to have, as there have been some reports that this helps stabilize accuracy in a manner similar to ensembling. This could conceivably be done by adding capability to create copies of models, or add models together (with some weighting factor). However, this isn't implemented at the moment. If someone is interested in implementing it we'd

[2016-09-09 00:47] neubig commented on #72
Actually, (batch_size * outputdim) is the wrong thing to do here. Each Tensor object has a special "batch" dimension, so it needs to be of size ([outputdim, 1], batch_size) where batch_size corresponds to this batch dimension. Creating lookup inputs in this shape is supported through lookup_batch, as in minibatch.py. If you actually want to create non-lookup input with minibatches, this is support

[2016-09-09 11:40] vered1986 commented on #72
Thanks!

I did originally call lookup_batch, but then fed these vectors into LSTMs, concatenated their outputs and used that as the input of another hidden layer, with some reshapes along the way. So it's either a lack of pycnn support, or wrong usage on my side.

Anyway, I'm currently using ```pickneglogsoftmax``` for each instance and summing them up, which works well, though I suppose slower.

[2016-09-09 13:52] neubig commented on #72
If that's the case, this shouldn't cause an error. If you can create a minimal example that reproduces the error I can take a look and try to debug.

[2016-09-09 14:02] #65 closed

[2016-09-09 15:14] vered1986 commented on #72
Here is an example code that produces an error:

[code]

The output size seems to be wrong after the operations I applied, so ```pickneglogsoftmax_batch``` raises an error (and again, if I reshape ```output``` to (15, 1) I get the first error I mentioned).

Thanks!

[2016-09-09 19:55] neubig opened #74 "CUDA compile often fails with error about -fPIC"
When compiling with the CUDA backend, compile often fails with the following error:

[2016-09-09 20:51] neubig commented on #74
Fixed in commit: https://github.com/clab/cnn/commit/b39e16e2879df7f8043b192caaaf71b8d58cd78e

[2016-09-09 20:51] #74 closed

[2016-09-12 18:47] neubig opened #75 "Error on batched affine transforms for batch size > 32"
Currently if you try to do the backward step of an affine transform for minibatch sizes greater than 32 you may get a memory error or segmentation fault. This is related to the following Eigen upstream issue:

http://eigen.tuxfamily.org/bz/show_bug.cgi?id=1295

[2016-09-13 11:41] neubig commented on #75
Fixed through fix to upstream.

[2016-09-13 11:41] #75 closed

[2016-09-13 18:13] datquocnguyen opened #76 "Find pycnn.so, but wrong architecture"
Hi,
It seems like I got pycnn built successfully. But an error of "wrong architecture" showed up when running example files.
Do you have any idea to fix this issue?
Thank you very much.

=== pycnn$ make install ===
...
...
39 warnings generated.
++ -bundle -undefined dynamic_lookup -arch i386 -arch x86_64 -Wl,-F. build/temp.macosx-10.11-intel-2.7/pycnn.o -L. -L$ORIGIN/./ -lcnn_shared -o build/lib.

[2016-09-14 10:39] datquocnguyen commented on #76
I fixed it.
I am not sure what happened on my computer so that pycnn.so  in the directory "$PATH_TO_CNN/pycnn/" is 32-bit lib, but pycnn.so in the directory $PATH_TO_CNN/pycnn/build/lib{.*}/" is 64-bit lib. The solution is to replace the 32-bit pycnn.so by the 64-bit pycnn.so.

[2016-09-14 10:39] #76 closed

[2016-09-15 01:05] rasoolims opened #77 "Adam updates"
Hi,

I see a small difference in Adam update from the original algorithm in the paper. Here you increment variable t per parameter update while I think it should be per update round.
https://github.com/rasoolims/cnn/blob/master/cnn/training.cc#L266

[2016-09-18 11:12] talbaumel opened #78 "Weird EIGEN Error While Installing PyCnn V2.0"
Hi, I'm trying to install PyCnn 2.0 on MacOS
This is the error I'm getting:

/Users/talbaumel/cnn/eigen/unsupported/Eigen/CXX11/src/Tensor/TensorChipping.h:152:5: error:
      static_assert failed "YOU_MADE_A_PROGRAMMING_MISTAKE"
    EIGEN_STATIC_ASSERT(NumInputDims >= 2, YOU_MADE_A_PROGRAMMING_MISTAKE);
    ^                   ~~~~~~~~~~~~~~~~~
/Users/talbaumel/cnn/eigen/Eigen/src/Core/util/Stati

[2016-09-18 11:42] neubig commented on #77
This has been fixed in the v2 branch, I'd suggest transitioning to the v2 branch.

[2016-09-18 11:44] neubig commented on #78
I wasn't able to reproduce this with the latest version of Eigen and cnn on El Capitan. Would you mind providing the version numbers of eigen, cnn, clang, and cnn v2?

[2016-09-18 11:52] talbaumel commented on #78
I'm using Sierra, it might have something to do with that
All other libraries are also the latest

[2016-09-19 11:37] talbaumel commented on #78
I tried installing pycnn V1 from scratch, the CPU went smoothly
After executing:

cmake .. -DBACKEND=cuda -DCUDA_TOOLKIT_ROOT_DIR=/Developer/NVIDIA/CUDA-7.5/
make -j 4

I got the following errors:

make[2]: *** [cnn/CMakeFiles/cnncuda_shared.dir/cnncuda_shared_generated_gpu-ops.cu.o] Error 1
make[2]: *** Waiting for unfinished jobs....
CMake Error at cnncuda_generated_gpu-ops.cu.o.cmake:263 (messa

[2016-09-20 20:57] neubig commented on #78
v1 will be deprecated very soon so I'll focus on v2. I don't have sierra at hand, but once I get my hands on a sierra machine I can try to debug. Of course, if you fix the problem yourself a patch would be appreciated.

[2016-09-20 20:58] neubig opened #80 "PyCNN should compile with main make"
Currently PyCNN and the main CNN make are separate, but they should be integrated into a single cmake file.

[2016-09-20 21:00] neubig opened #81 "Support custom initialization of parameters"
Sometimes we want to initialize parameters in ways other than the standard. It would be nice to have a way to specify custom initializers that did this for us.

[2016-09-20 21:06] neubig opened #82 "Require specification of the variable that forward/backward computation should target"
Currently, cnn calculates forward values and backward derivatives with respect to the last variable in the computation graph. However, we want to calculate values or derivatives with respect to a particular variable, and this might not be last in the graph. This change should make it necessary for the user to explicitly choose the variable that is used as the target of forward, or start of backwar

[2016-09-20 21:08] neubig opened #83 "Switch linkage from static to dynamic"
Currently cnn compiles twice per backend device, once for a static library and once for a shared library. This takes unnecessary compile time and is not clean, so it should be fixed.

[2016-09-20 21:12] neubig opened #84 "Better model saving/loading"
Currently, cnn models use model the boost serialization library to perform model saving/loading. This is easy, but only works if you use the same version of boost to save/load files. Ideally, we can create a version of model saving that works across boost versions, perhaps by creating a custom boost serializer that reads/writes the parameters appropriately in text format.

[2016-09-21 17:35] neubig opened #85 "DyNet needs documentation!"
There is very little documentation and comments for dynet, except for the examples. It would be really nice to have this. Perhaps we can add comments to the code in doxygen format, etc. to facilitate automatic creation of documentation.

[2016-09-21 18:02] neubig opened #86 "--dynet options having to be at the beginning of the command line is confusing"
When running programs compiled with --dynet, the command line options having to be at the beginning of the command line options is confusing. It'd be better if we didn't have this restriction.

[2016-09-22 12:22] neubig commented on #85
The chainer tutorial documents would be a good reference here:
http://docs.chainer.org/en/stable/tutorial/index.html

It looks like they used Sphinx.

[2016-09-22 23:11] yoavg opened #88 "lookup parameters initialized to zeros (v2)"
The lookup parameters seem to be initialized to zeros instead of random values.

[code]

[2016-09-22 23:25] yoavg opened #89 "assertion failure during update if no lookup is performed (v2)"
When a lookup parameters is added to a model, it must be queried at least once before a model update or code crashes with assertion failure.

the error message:
[code]

code:
[code]

[2016-09-22 23:35] dhgarrette commented on #89
Related to #68 ?

[2016-09-22 23:48] yoavg commented on #89
oh, yes, this seem to be the same bug.

I disagree with your assessment that defining a lookup table and not looking up anything is a programmer error though. could be that different lookup tables are used in different sentences (say you are doing some multi-task setup and have per-task tables)

[2016-09-23 15:26] pmichel31415 commented on #85
This looks good I'll try to set up sphinx and submit a PR

[2016-09-24 11:33] neubig commented on #85
Awesome, that would be great.

[2016-09-28 19:23] neubig opened #90 "DyNet should have coding style conventions, and document them"
Currently DyNet has very few coding style conventions. Currently the only ones are basically that indents should be two spaces, and that functions should be snake case? These should be made more clear and documented if necessary.

[2016-09-28 21:55] redpony commented on #89
It definitely shouldn't be a programmer error. This is a bug. :)
On Fri, Sep 23, 2016 at 12:48 AM Yoav Goldberg <notifications@github.com>
wrote:

[2016-09-30 16:40] esalesky commented on #52
It seems to be the case that the order of the cnn args also matters. I'm using v2 and seeing that the --cnn-mem arg is ignored unless preceded by cnn-gpus or cnn-gpu-ids; it'll just use 512. Can see with the example:

[code]

[2016-09-30 16:44] esalesky commented on #52
It seems to be the case that the order of the cnn args also matters. I'm using v2 and seeing that the --cnn-mem arg is ignored unless preceded by cnn-gpus or cnn-gpu-ids (will use 512 default) and those two args will fail if they follow cnn-mem. Can see with the xor example:

[code]

[2016-10-05 10:10] neubig commented on #68
Sorry this took so long, but this should be fixed here: https://github.com/clab/cnn/commit/de997e01dc585f559bac203e0b1c84ff9b9c1bb9

[2016-10-05 10:10] #68 closed

[2016-10-05 10:10] neubig commented on #89
Sorry this took so long, but this should be fixed here: https://github.com/clab/cnn/commit/de997e01dc585f559bac203e0b1c84ff9b9c1bb9

[2016-10-05 10:10] #89 closed

[2016-10-05 14:20] neubig opened #91 "Create a node for general tensor contractions"
It would be nice to be able to multiply (contract) tensors of any dimension, parameterizing the axes that we would like to multiply.

[2016-10-05 14:46] neubig opened #92 "Multi-device support"
Currently, cnn supports running computation on _either_ CPU or GPU, based on the setting of the -DHAVE_CUDA flag. It would be better if a single program could utilize both CPU and one or more GPUs within the same program. The framework for this is mostly there, minus a few remaining issues:

- [x] There are a number of places, mainly in the parameters and tensor operations that are still hard-code

[2016-10-08 14:36] neubig commented on #60
This has been significantly improved in the newest version of v2

[2016-10-08 14:36] #60 closed

[2016-10-09 15:49] nsantacruz commented on #71
Note, I'm also getting a segmentation fault even when using pycnn using the same code in v2.
[code]

[2016-10-09 16:12] yoavg commented on #71
Try the current master branch of clab/dynet.
It is v2, with the fix for the current bug.
Let us know if you still have problems.

The installation instructions for the python module in this branch may not be 100% accurate, but will be fixed in the coming days.

[2016-10-09 16:14] nsantacruz commented on #71
Thanks. Can I just switch branches? Or do I need to reinstall? I know that the v2 branch requires the updated version of eigen.

[2016-10-09 16:18] yoavg commented on #71
any change requires a re-install (because you will need to recompile the
cpp parts).

The following should probably work:

git clone https://github.com/clab/dynet.git
hg clone https://bitbucket.org/eigen/eigen
cd dynet
mkdir build
cmake .. -DEIGEN3_INCLUDE_DIR=../eigen -DPYTHON=`which python`
-DBACKEND=cuda
make -j 2
cd python
python setup.py install

On Sun, Oct 9, 2016 at 7:14 PM, Noah Santacruz

[2016-10-10 07:19] nsantacruz commented on #71
I'm getting
[code]

when running `make -j 2`
I know I can get rid of this error/warning by including `-Wno-narrowing` in the compiler flags, but I can't find where to add that in the makefile. I'm running OSX

[2016-10-10 07:58] yoavg opened #93 "model saving and loading is broken"
One of the latest changes broke the model loading mechanism: loading a saved model results in a boost input stream error exception.

(this happened at: a6d937dcd820ed871c8e91d40fb35b740eecdf3c )

To reproduce: run
[code]

[2016-10-10 12:59] #83 closed

[2016-10-10 12:59] #82 closed

[2016-10-10 13:00] #81 closed

[2016-10-10 13:00] #77 closed

[2016-10-10 13:01] #28 closed

[2016-10-10 13:01] #25 closed

[2016-10-10 14:25] neubig commented on #93
Confirmed. This needs to be fixed ASAP, and model write/read also need unit test coverage.

[2016-10-11 00:52] neubig commented on #93
Fixed by https://github.com/clab/dynet/commit/f2c60e8d5ffd609c84bd8c02b767b33f9830a6fe

[2016-10-11 00:52] #93 closed

[2016-10-11 02:44] neubig commented on #71
Hi @nsantacruz, could you try again with the latest version. If you still are having problems, could you delete the whole build directory to build from scratch, then when you run make, do `make VEBOSE=1 &> make.log` and attach the `make.log` file to your response? Thanks!

[2016-10-11 07:01] nsantacruz commented on #71
Attached the make log file. Again, it seems to have been the same `narrowing` C++ error. Thanks again.
[make.txt](https://github.com/clab/dynet/files/521118/make.txt)

[2016-10-11 07:05] MalcolmSun opened #94 "More comments and documents"
Hi, I'm interested in this project. Unfortunately, because of the lack of code comments, I have to spend much time understanding the code. I do hope the project can have more comments in code files and more complete documents which can help others have a general understanding of the project.
Thanks in advance.

[2016-10-11 12:09] neubig commented on #94
Hi @MalcolmSun, thanks for sending the issue! We certainly agree, but this is a duplicate of https://github.com/clab/dynet/issues/85
We're going to start with commenting all the functions that people can use.

[2016-10-11 12:09] #94 closed

[2016-10-11 12:58] #61 closed

[2016-10-11 13:01] neubig opened #97 "Tensor contraction and inverse tests are failing"
Currently, 3 tests in the test suite fail: contract3d_1d_gradient, contract3d_1d_1d_gradient, inverse_gradient. These result in failure in Travis CI.

These tests should be examined, and it should be made clear whether this is a problem in the test or in the code.

[2016-10-11 13:31] neubig opened #98 "When using GPU, memory usage on CPU and the accompanying message is confusing"
When using GPU, if memory is set using --dynet_mem, the memory on the GPU is set properly, but DyNet additionally allocates 512MB of memory on the CPU and sends a message indicating so. This unneeded allocation and confusing message should be fixed.

[2016-10-11 13:38] neubig commented on #71
This is potentially fixed by this patch: https://github.com/clab/dynet/commit/7fbde7c63452deff265969477adb0e7b2c5f4047

Could you download this and try again?

[2016-10-11 13:42] neubig commented on #72
OK, I've reproduced this and will try to fix it soon. Thanks for the easy-to-reproduce example.

[2016-10-11 13:45] neubig commented on #88
This is confusing, and needs to be either be fixed or documented. But I guess we need to decide what the ideal behavior is first.

[2016-10-11 13:50] redpony commented on #88
LookupParameters should also be initialized with random values or whatever the dynet default is- lookup params are no more special than any other params.

[2016-10-11 23:09] neubig commented on #97
Resolved, and Travis CI is passing.

[2016-10-11 23:09] #97 closed

[2016-10-11 23:22] neubig commented on #88
OK, fixed in this commit: https://github.com/clab/dynet/commit/b0041d78bd593f7956cefed0bf41d1fecc402334

[2016-10-11 23:22] #88 closed

[2016-10-12 11:30] neubig commented on #71
I'm guessing that this fixes the compile problem, so I'm going to close this bug. If the problem still exists, let's create a new issue with a more descriptive name.

[2016-10-12 11:30] #71 closed

[2016-10-12 11:36] neubig commented on #72
Hmm, this is because of the reshape here. dynet treats the number of minibatches as a special dimension, so the reshape needs to not be a normal (10 x minibatchsize) dimensioned matrix, but a (10x1) matrix, with the special "minibatch" dimension be equal to minibatchsize. I'm not exactly sure how to do this in the python version though...

[2016-10-12 15:23] yoavg commented on #72
How would you do it in the cpp version?

[2016-10-12 15:25] neubig commented on #72
Dim({10}, minibatchsize)

[2016-10-12 16:10] yoavg commented on #72
is Dim({10}) and Dim({10}, 1) equivalent? (batch size 1?)

On Wed, Oct 12, 2016 at 6:25 PM, Graham Neubig <notifications@github.com>
wrote:

[2016-10-12 16:12] neubig commented on #72
Yes.

[2016-10-12 16:41] yoavg commented on #72
I pushed batch size support in reshape (and in Dim in general).
The code now works with the following change:
[code]
Still need to document it, though.

(also, may still be buggy when converting to numpy array, this may need a bit more work)

[2016-10-12 18:35] yoavg opened #99 "reshape with batch size zeros out values"
Following #72 , I encountered the following unepexted behavior in reshape (CPU):
(not sure if the bug is in `reshape` or in `as_vector`)

[code]

[2016-10-13 06:34] nsantacruz commented on #71
Thanks a lot. That fixed my issue

[2016-10-13 08:49] vered1986 commented on #71
Hi,
I installed the new version following the instructions in [PYINSTALL.md](https://github.com/clab/dynet/blob/master/PYINSTALL.md) (currently the CPU version; the instructions for the GPU version haven't been updated). Now I get the segmentation fault whenever I call save:

[code]

I get the following error:
[code]

Thanks!

[2016-10-13 08:52] vered1986 commented on #72
Thank you! The example code seems to work now.

[2016-10-13 15:14] neubig commented on #85
Started a stem of some documentation here:
https://github.com/clab/dynet/blob/master/doc/index.md

I think one easy way to proceed is by commenting the code, then creating a script to automatically convert the comments into `.md` format for use in these files.

[2016-10-13 15:38] rasoolims opened #100 "How to add dropout to a specific layer in python"
I am using pyCNN:

[code]

How can I explicitly have one of the layers with a pre-defined dropout probability?

Thanks,
Mohammad

[2016-10-15 21:24] vered1986 commented on #72
Sorry, I might have closed this bug too soon. Though there is no exception now, I can't seem to get the loss to decrease between iterations (which previously worked well with my workaround). I printed the value of ```lstm_outputs``` after the reshape, and it is a zero matrix. It happens also in the example code.

I'm not sure if it's a bug in the conversion to numpy array (when calling ```print ls

[2016-10-16 12:34] yoavg commented on #100
First, you seem to be using a v1 model, please migrate to v2.

As to your question, use the `dropout` operation:
[code]

[2016-10-16 12:36] #100 closed

[2016-10-16 12:37] yoavg commented on #72
this is lilkely related to #99
@neubig , can you take a look?

[2016-10-16 12:41] yoavg opened #104 "rate decay in Trainer not set?"
The learning rate decay in training is set according to:
[code]
https://github.com/clab/dynet/blob/master/dynet/training.h#L27

However, from what I can see `eta_decay` is never initialized.

[2016-10-16 17:28] honnibal commented on #84
I found the Boost version stuff the trickiest part of installing the library.

Is it possible to remove the dependency on Boost altogether? Does Eigen need Boost deeply, or only for serialization?

If the Boost dependency could be dropped, the library could be packaged for PyPi, so that "pip install dynet" would work.

[2016-10-17 13:17] neubig commented on #84
Model saving/loading relies on boost, so until this issue is resolved, the
dependency to boost definitely cannot be removed. Serialization is the main
place where it's being used, but it looks like there is also code for
threaded computation and calculation of the digamma function that uses
boost and may not be trivial to remove.

Of course, reducing reliance on external libraries is generally a g

[2016-10-19 13:00] neubig opened #108 "DyNet init function is not easy to use"
Currently, the DyNet "init" function takes command line arguments as-is, and is not straightforward to access programmatically. It would be better to have a structure containing the options that  can be passed to the initializer (while maintaining the compatibility with the current interface).

[2016-10-19 16:50] Oneplus opened #110 "reallocate memory when dynet_load_model cause double memory consumption."
I happen to find there is a large memory consumption when I load a model with dynet_load_model. The workflow of my code is like:

[code]

I see line 201 in tensor.cc:

[code]

which means each time we load a model (or more exactly, a tensor), no matter whether the memory has been allocated, we still want some memory from the pool. It ok if the model is small but when the model is large, doubling t

[2016-10-19 19:51] neubig commented on #110
Yes, this should be fixed. @armatthews do you think there's any easy solution?

[2016-10-19 20:51] neubig commented on #99
Should be fixed by: https://github.com/clab/dynet/commit/0252d00ac2f6e2d12b85825914092d9cb5f675f0

[2016-10-19 20:51] #99 closed

[2016-10-19 21:00] neubig commented on #72
I've confirmed that this works now, due to the fix of https://github.com/clab/dynet/issues/99

[2016-10-19 21:00] #72 closed

[2016-10-20 14:13] MalcolmSun opened #113 "how to handle the error 'dynet/build/python does not exist' when compile dynet?"
When I install the python dynet module following the instruction http://dynet.readthedocs.io/en/latest/python.html , I recieve the CMake Error:'dynet/build/python does not exist'.
I am not  familiar with cmake and have tried a few ways, but it stilll doesn't work. How can I handle this error? Thanks in advance.

[2016-10-20 16:33] rasoolims opened #114 "Attempt to use a stale expression. + Question: multiple LSTMs for one sequence?"
Hi,

I want to model more than one lstm per sentence by modeling different (syntactic) dependency paths.
[code]

But when I use the lstms, it is fine for the first dependency path, but for the second one it gives me this error:

[code]

I know that I have to call renew_cg() after each update in training but I have to use the LSTM multiple times per dependency path. How can I solve this?

Thanks

[2016-10-20 16:35] yoavg commented on #114
How do you use them?

Can you provide a minimal but complete example to reproduce the error?

[2016-10-20 16:39] rasoolims commented on #114
This is the actual function. The first item in the for loop is fine but the second item throws that error:

[code]

[2016-10-20 16:46] yoavg commented on #114
A stale expression means an expression that was left from before a `renew_cg()`.
You probably have some of these somewhere, but I don't see how it is related to using several LSTMs.

It is really hard to read your example at it has a many external dependencies outside of the code (for example, what is sentence, what is sentence.entries, when do you call renew_cg, etc).

Please produce a *minimal b

[2016-10-20 17:56] pmichel31415 commented on #104
It's initialized in the initialization list with the default value (0), see [this stack overflow question](http://stackoverflow.com/questions/14259602/default-values-in-c-initializer-lists) for reference.

[2016-10-20 18:06] yoavg commented on #104
Initialization to 0 means that rate decay has no effect. I still consider it a bug.

[2016-10-20 18:18] rasoolims commented on #114
I fixed the issue by removing extra variables (e.g. rword.bb_head_vec in that snippet) (sorry it is so tough to create a minimal example because I wanted to change someone else's code). I am not sure why this stale problem had happened when having extra unused variables.

[2016-10-20 21:28] pmichel31415 commented on #85
Once #116 is merged, here's a TODO list :

- [ ] Fill reference manual for all useful functions
 - [x] Optimizers
 - [ ] Operations
 - [ ] Builders
 - [ ] Minibatching
 - [ ] Multiprocessing
- [ ] Write contribution guidelines
 - [x] documentation guidelines
 - [ ] coding guidelines

[2016-10-20 22:54] #114 closed

[2016-10-21 01:39] MalcolmSun commented on #113
I have found the reason. This issue can be closed. Thanks!

[2016-10-21 01:46] #113 closed

[2016-10-21 22:02] odashi commented on #108
I saw that currently there are 2 codeblocks to parse commandline args (one is in `initialize()`, and another is in `initialize_gpu()` which is called from the former).
They attempt to consume same args like `--dynet-mem`, and this behavior looks kind of confusing.
I think it might be better to integrate both to single codeblock as well as separating commandline parsing and actual configurations.

[2016-10-21 22:10] odashi commented on #108
Oh thanks, new code look better!

[2016-10-21 22:23] neubig commented on #86
Resolved by https://github.com/clab/dynet/pull/117

[2016-10-21 22:23] neubig commented on #108
Resolved by https://github.com/clab/dynet/pull/117

[2016-10-21 22:23] #108 closed

[2016-10-22 02:51] pmichel31415 commented on #98
Seeing this now I think this was also fixed in #117

Can't check right now though

[2016-10-22 03:00] neubig commented on #98
Yes, it was, thanks!

[2016-10-22 03:00] #98 closed

[2016-10-22 03:01] #104 closed

[2016-10-22 20:39] honnibal commented on #73
I've found averaging really useful. I've not run nearly as many neural network experiments as you guys, but what I've seen so far is that averaging removes the need for the really expensive part of the training — squeezing out that final 0.5% of accuracy.

It can be implemented very easily by modifying the optimizer. You just add another shadow parameter. I'll send a pull request if I have time, b

[2016-10-23 04:18] zhang-wen opened #119 "segmentfault ---------------"
hello, everyone, i try to invoke the load_array function of a Parameters type like this,

i from _gdynet import *
attention_w1.load_array(numpy_val), but it show segment fault, somebody can fix this problem ? appreciate for this ...

and i fount another problem, i try to run cpu_vs_gpu.py which is ok, even i do not add --dynet-gpu command.
CPU time: 0.525084018707
GPU time: 0.013307094574

but whe

[2016-10-23 04:42] zhang-wen opened #120 "issue: dynet is out of memory (--dynet-mem and error messages should be documented better)"
no matter whether i use gpu or cpu, i always get following error:

dynet is out of memory, try increasing with --dynet-mem (current capacity: 3494903808)

even i use 1024 memory by --dynet-mem, still got above issue, is it 1024MB or 1024KB by --dynet-mem 1024 ?

[2016-10-23 07:00] yoavg commented on #119
re load_array, we'll check.

re speed -- for small matrices the overhead of using the GPU is not worth it. Try increasing the size of the layers in rnnlm.py

[2016-10-23 07:08] yoavg opened #121 "python's Parameters.load_array not implemented for GPU"
The  python binding has a method of initializing the parameters with a numpy array.
This is currently not supported for the GPU.

[2016-10-23 07:42] zhang-wen commented on #119
thank you for reply.  the init_from_array function of lookup_table Parameters works well, but there are some problems for as_array()

another issue:
i implement an lstm-attention model by using dynet, however, if i increase the size of the size of the
layers and weights, after it update several times, it always shows following error:

Loss[713.869873047], Upd[42.8563950062s], AvgSents/batch[3511/8

[2016-10-23 07:48] zhang-wen commented on #121
m = dy.Model()
n = numpy.asarray([1,2,3])
w = m.add_parameters(n)

you mean this? i have tested it, it doesn't work for cpu and gpu.

[2016-10-23 08:56] yoavg commented on #121
This is not how `add_parameters` is supposed to be used.
This bug report is about `load_array` not working on the GPU.

[2016-10-23 09:33] zhang-wen commented on #121
okay, i see. thank you.

[2016-10-23 11:01] zhang-wen opened #122 "Layer Normalization"
hello, guys, do implementations of run or lstm in  dynet use Layer Normalization Technique which can speed run Training (make earlier convergence) , if not, i suggest that you guys try it, thanks.

[2016-10-23 11:41] yoavg commented on #121
Python initialization now uses the new cpp initialization API.
https://github.com/clab/dynet/blob/master/python/CHANGES.md#parameter-initialization

[2016-10-23 11:41] #121 closed

[2016-10-23 11:43] yoavg commented on #119
re load_array, it is now deprecated, and there is a new API:
https://github.com/clab/dynet/blob/master/python/CHANGES.md#parameter-initialization

see the newest version.

re memory problem, please open in a separate issue.

[2016-10-23 11:43] #119 closed

[2016-10-23 18:35] zhang-wen opened #123 "mini-batched AffineTransform in Python (needs documentation)"
if i use the result of lookup_table to be the parameter of add_input(), it works fine;
s = s0.add_input(from_lookup_table), works well

however, if i construct a vector or matrix myself, the shape is the same with lookup_table result. it doesn't work, such as:
s = s0.add_input(dy.matInput(hid_sz, batch_sz))
s = s0.add_input(expr0)
error:
terminate called after throwing an instance of 'std::invalid

[2016-10-24 02:11] neubig commented on #122
You're referring to this, right?: https://arxiv.org/abs/1607.06450

This is not implemented, but it'd be nice to have. If you want to implement it @zhang-wen , we'd certainly appreciate a pull request.

[2016-10-24 02:39] zhang-wen commented on #122
yes, it is that paper.
need to implement by C++ ?

[2016-10-24 02:43] neubig commented on #122
Yes, C++ would be better. If that is not possible a prototype in Python might also be sufficient to allow us to translate it into c++.

[2016-10-24 02:44] neubig commented on #73
We would certainly really appreciate a pull request for this, where averaging is an option that we pass to each optimizer.

[2016-10-24 02:46] neubig commented on #120
This should be documented better, but the number for --dynet-mem is MB. Try setting it to a higher value than 1024. I'll keep this open as an enhancement for better documentation.

[2016-10-24 03:07] zhang-wen commented on #122
https://github.com/ryankiros/layer-norm/blob/master/layers.py
actually this contains an implementation on theano and torch, which is probably implemented by Jamie Ryan Kiros.
you can see the ln() function, but i think if you add Layer Normalization in your network framwork, it still need some coding, because the Layer Normalization is applied on the weights and bias of lstm, gru or run.

[2016-10-24 04:37] zhang-wen commented on #120
thanks a lot, i still does not solve this issue, even i set it to be 5000MB which, i am sure, is enough large for my task, but it still show this memory error after training for a while, i am not sure whether should i free some memory after a while, have this interface ?

[2016-10-24 04:50] zhang-wen opened #124 "is there interface to construct a RNNState object by using vector or numpy.ndarray"
importing dynet in python, i try to change the intermedia state of lstm by some calculations, but after calculation between some parameters and s.h()[-1].npvalue(), how can i still return a RNNState object to continue to be a input of the lstm.

following is my code to covert state s,

[code]

i try to invoke

[code]

to change the s, but failed, because the returned hidden_dy is just a <type '_gd

[2016-10-24 06:19] yoavg commented on #124
I do not understand exactly what you are trying to achieve and what is the problem. Can you perhaps send a smaller, minimal and complete code fragment that demonstrates it?

[2016-10-24 06:41] zhang-wen commented on #124
sorry about unclear description, i actually want to change the state of lstm layer, see a simple example code here:

    from _gdynet import *
    m = Model()
    builder = LSTMBuilder(1, 10, 10, m)
    s0 = builder.initial_state()
    s = s0.add_input(vecInput(10,))
    ws = parameter(m.add_parameters((5, 10)))

    s1 = s.add_input(s.output())  # no problem here

    new_s = ws * s     # problem

[2016-10-24 07:19] yoavg commented on #124
If you are trying to set the state vector within the RNNState, could `get_h` and `set_h` help?

[2016-10-24 07:19] yoavg commented on #124
If you are trying to set the state vector within the RNNState, could `get_h` and `set_h` help?

[2016-10-24 08:28] zhang-wen commented on #124
exactly, you are right, this is what i want.
but i h() actually return outputs of each layer, i need set_s i think. but there are not set_s function for RNNState yet.

[2016-10-24 23:27] Oneplus commented on #110
@neubig I tried to fix this but I am afraid there seems no easy solution. The most difficult part is that dynet model serialize the `vector<ParameterStorage*>` and `vector<LookupParameterStorage*>`. That means the boost::serialize module would automatically allocate new ParameterStorage and it cannot keep track on the old (by old I mean the ParameterStorage* already allocated) ParameterStorage.

S

[2016-10-25 02:33] zhang-wen opened #125 "in dynet, dot_product function is not supported to calculate matrix"
the parameter of dot_product function must be vector ?

[2016-10-25 18:25] neubig commented on #104
In the past, this was set to 1e-5, correct? I'm actually not sure what the
most reasonable default value is. 0 is certainly the most intuitive.

There are also strong arguments for having the default behavior do at least
some regularization if this is consistently better though. It might be
something that we need to empirically justify though, and is probably
highly task/data dependent?

On Thu, O

[2016-10-25 18:52] neubig commented on #104
But probably explicit initialization would be better than implicit
initialization. It would prevent this issue from coming up again.

On Thu, Oct 20, 2016 at 1:56 PM, Paul Michel <notifications@github.com>
wrote:

[2016-10-25 19:07] yoavg commented on #124
Yes, this needs to be implemented, also in the C++ part. Should be easy though. Do you feel like sending a pull request?

[2016-10-25 19:21] yoavg commented on #104
just to be clear -- the bug was that we had default init to 0, and no place to change the value later. Now that it is set by the user on construction, I think its fine.
(+ that's not for regularization, but for learning rate decay)

[2016-10-25 19:23] zhang-wen commented on #124
sure, but i am not very familiar with C++, i can try. and another problems, it is not reasonable that the set_h() function return a RnnState,
i must invoke like this:
    new_s = s.set_h([(expr,)])
i think s should change even after invoking:
    s.set_h([(expr,)])
but now, after invoking s.set_h(), the state s do not change.

[2016-10-25 19:35] pmichel31415 commented on #124
Hey I can try and handle that. If I understand correctly set_h has a common interface for all builders/states, i.e. same for RNN and LSTMs.
Currently for LSTM it only updates h and not c (the cell state). I'll try to change this in the C++ code and add set_s in cython (never used cython before though but will try).

[2016-10-25 20:05] zhang-wen commented on #124
yes, i have looked at the c++ code, RNNBuilder is the father struct of SimpleRNNBuilder, GRUBuilder and LSTMBuilder, the %set_h% function has been implement in RNNBuilder, but not %set_s% function.

[2016-10-25 20:16] yoavg commented on #124
Thanks @pmichel31415 , that'd be great.
The cython part should be easy if you just follow the structure of the existing set_h functions in the .pxd and .pyx files.

[2016-10-26 06:10] zhang-wen commented on #124
[code]

i got a new state `s1n`, however
`s1n.s()`  will produce following error:
[code]

print s1n.s()[0].npvalue() produce following error:
terminate called after throwing an instance of 'std::invalid_argument'
  what():  Bad dimensions for AffineTransform: [{3} {3,3} {3} {3,3} {3} {3,3} {3,3}]

`s1n` is indeed RNNState type, what is the problem ?

[2016-10-26 14:33] pmichel31415 commented on #124
Hey, I think the C++ implementation of set_h was faulty because it didn't update the cell state of the lstm.
I tried to correct this, can you check that it works (cf #127, including last commits)?

For me the following code works now :

    from dynet import *
    m = Model()
    builder = LSTMBuilder(1, 10, 10, m)
    s0 = builder.initial_state()
    s = s0.add_input(vecInput(10,))
    ws = param

[2016-10-26 14:42] zhang-wen commented on #124
ok, i have not tried your code yet, however, i modified the code locally, i try to add some other function. but thank you very much. i am implementing an attention model by using dynet, there are lots of problem, hope we can keep in touch with each other. 👍

[2016-10-26 14:43] zhang-wen commented on #124
and i am trying to learn the c++ and Cython code, maybe i need to change them.

[2016-10-26 14:48] zhang-wen commented on #124
@pmichel31415  yes, you are right, i took a look at the C++ code yesterday, i found there is a problem in the `set_h`, because the state have proceeded, and the outputs of each layer have been assigned values, but the cell memories of each layer are not assigned, so if you use the new state returned by `set_h`, there will be problems, but the line of your code `print s1n.s()[0].npvalue()` can run,

[2016-10-26 15:04] jzlianglu opened #129 "installation error"
I'm trying to install this toolkit but have the following problems. Note that I have installed the development version of Eigien as hg clone https://bitbucket.org/eigen/eigen/.

[llu@cpu0 build]$ cmake .. -DEIGEN3_INCLUDE_DIR=./eigen -DBOOST_ROOT:PATHNAME=/home-nfs/llu/boost160 -DBoost_NO_BOOST_CMAKE=TRUE -DBoost_NO_SYSTEM_PATHS=TRUE -DBoost_LIBRARY_DIRS:FILEPATH=/home-nfs/llu/boost160/lib/

-- Th

[2016-10-26 15:09] neubig commented on #129
Thanks! We'll need to confirm this in our own environment, but this needs to be fixed.

[2016-10-27 14:59] neubig commented on #123
DyNet does batching differently from other libraries. When you do input, you need to not specify a matrix with "hid_sz x batch_sz" dimensions, but create a vector with "hid_sz" dimensions, that has a special mini-batch dimension with size "batch_sz". I'm not sure how to do this in Python though, maybe @yoavg knows?

This needs to be documented, related to #85 , but I'll leave this open in case oth

[2016-10-27 15:01] neubig commented on #125
If this is the case, this can be fixed easily.

[2016-10-28 08:51] zhang-wen opened #131 "CUDA support for Average calculation"
hi, gays , i take a look at the c++ code in nodes.cc, i found there are not GPU support for Average function yet, so i try to add the CUDA support by using following code, but it does not work, can not compile successfully.

anybody can tell me how to implement ? @neubig @pmichel31415

[code]

[2016-10-28 12:07] zhang-wen opened #132 "dynet is out of memory, ...."
DEBUG:nmt:each step lstm output => <type '_gdynet.Expression'> (32, 80)
dynet is out of memory, try increasing with --dynet-mem (current capacity: 1746927616)
run.sh: line 2: 20454               python $1 --dynet-gpu --dynet_mem 5000 --dynet-gpu-ids 2

i try to run a lstm model, but i always get above problem even i set --dynet_mem to be 5000m, i do not know why. can anyone help me to solve this p

[2016-10-28 12:17] neubig commented on #120
Are you using Python? If so, are you calling the renew_cg() function? If not, you need to call the renew_cg() function every time you start a new training example. If you are calling this function, could you please provide a minimal working example of your code and the data that causes it to crash?

[2016-10-28 12:18] neubig commented on #132
Duplicate of https://github.com/clab/dynet/issues/120

[2016-10-28 12:18] #132 closed

[2016-10-28 12:45] zhang-wen commented on #120
yes, @neubig , i am using Python. i call renew_cg() function every time i start a new batch training.
i implemented a lstm attention for nmt, the code is little bit complicated, and the training data is about 1.8M sentence pair, so i can provide the code and data, how can i do this ?

[2016-10-28 12:49] neubig commented on #120
Well if you're doing mini-batches for a complicated model on large data, 5,000MB of memory still might not be enough. I usually use 12,000MB to train my full models. Perhaps you need to try reducing your minibatch size or increasing the amount of memory you can allocate. You can also try specifying memory like "--dynet_mem 2000,2000,1000" which will allocate 2000MB for the forward step, 2000MB for

[2016-10-28 13:01] zhang-wen commented on #120
thank you so much. i have been perplexed by this issue for a long time, i will try according to what you said. However, i have trained the same model by using Theano, the memory training use is less than 5000M, i think 5000M is enough.

my code here:
https://github.com/zhang-wen/dynmt.git , but i did not upload training data, so you can not run my code. can you help me to check `upd_loss_wbatch_wi

[2016-10-28 13:25] neubig commented on #120
Sorry, I don't have time to debug code in a big separate toolkit like this, but if you can come up with a minimal example (50 lines or so, with the associated data) where dynet uses more memory than the corresponding theano code we might be able to do some optimization.

[2016-10-28 22:24] zhang-wen commented on #120
hi, @neubig , i have come up with a minimal example based on your rnnlm.py example, the small code is here:
https://github.com/zhang-wen/dymem-test.git
you just need to run: (i allocate 8000M memory)
`sh run.sh runlm.py`
after about 10 seconds, you will get following error:
dynet is out of memory, try increasing with --dynet-mem (current capacity: 2795503616)
hope you can figure out this issue, th

[2016-10-28 22:37] neubig commented on #120
Thanks! For reference, how much memory does theano use with similar settings on this data?

[2016-10-28 22:49] zhang-wen commented on #120
it is different, for this demo code, i just make the vocabulary size larger, i set the output size of lstm unit to be the size of large vocabulary, actually i do not know where it is reasonable.
the training data of this rnnlm demo is just one sentence (about 20 training samples, no batch), but in my real task, the training sample is 18M sentence pair, even using batch, it is much larger than this

[2016-10-29 11:02] zhang-wen commented on #120
i set the memory to be 10,000M which is the upper limit of our sever , still not enough ...

DEBUG:network:one column words in each batch loss => <type '_gdynet.Expression'> (1,) [ 300.40194702]
dynet is out of memory, try increasing with --dynet-mem (current capacity: 3494903808)
run.sh: line 2: 55268                python $1 --dynet-gpu --dynet_mem 10000 --dynet-gpu-ids 2

[2016-10-29 21:13] zhang-wen opened #135 "PickNegLogSoftmax::forward not yet implemented for multiple columns"
i found following the code in nodes.cc:

`throw std::runtime_error("PickNegLogSoftmax::forward not yet implemented for multiple columns");`

when using batch, it does not support the multiple tensor yet, which may affect my training speed. guys, is it easily to implement for multiple columns ?

[2016-10-31 06:07] trevorcohn commented on #59
I'm seeing this bug with the current version of Dynet, compiling against CUDA 8.0 and GCC 5.4.0. The -O1 workaround dodges the segfault.

[2016-10-31 14:05] neubig commented on #59
@trevorcohn thanks for the note! We merged a fix to check the GCC version and switch to O1 for more recent versions: https://github.com/clab/dynet/pull/133

[2016-10-31 18:56] #59 closed

[2016-10-31 22:40] trevorcohn commented on #59
Thanks @neubig. Does O1 come attract much of a speed penalty cf O2 (inlining, loop unrolling etc)? Or is this immaterial given the real time is spent bossing around the GPU using CUDA?

[2016-10-31 23:04] jpraher commented on #129
I could reproduce the issue both with clang 3.8 and gcc 6.2.1, compiling and linking works fine when using eigen 3.3-rc1: http://bitbucket.org/eigen/eigen/get/3.3-rc1.tar.bz2

My CPU is an i7-3520M CPU w/ AVX vector extensions.

It looks as if this is due to partially redundant VECTORIZED implementations.
To testify I defined  EIGEN_DONT_VECTORIZE and then the development version of eigen version

[2016-11-01 14:28] danielhers opened #136 "Inconsistent invalid argument exceptions"
I'm using the Python bindings and I [use](https://github.com/danielhers/ucca/blob/dynet/parsing/classifiers/nn/feedforward.py#L45) `reshape` to change a batch of embeddings into one long vector.
The same code sometimes works fine and sometimes fails with the [error](https://travis-ci.org/danielhers/ucca/jobs/172277222) `Bad arguments to Reshape: {3200}, {10X32}`.
In the same network I [use](https:

[2016-11-01 17:49] jzlianglu commented on #129
Yes, using this version of eigen, and a lower version of boots (v1.53) can solve this problem. Thanks for the reply.

[2016-11-01 19:38] neubig commented on #136
Just to confirm, what is the problem here? That the error messages are different?

[2016-11-01 19:41] neubig opened #137 "DyNet should not use assert() for error handling"
DyNet uses assert() for error handling in some places that can be triggered by incorrect usage. This causes the program to unrecoverably crash if one of these occurs. These should instead throw a catchable exception so the user can do proper error handling.

[2016-11-01 19:42] danielhers commented on #136
No, the problem is that there are errors at all - as far as I know, I'm
passing the parameters correctly, and indeed it usually runs without
errors...

On Tue, Nov 1, 2016 at 9:38 PM Graham Neubig <notifications@github.com>
wrote:

[2016-11-01 19:43] neubig commented on #129
Hmm, this is a workaround but it'd be nice to have a fix. Could this be fixed by filing a bug report to the Eigen upstream? If so, it'd be great if you could create a minimal example and send it to them.

[2016-11-01 19:46] neubig commented on #136
Multiplying a 200x1 vector and another 200x1 vector is not a valid operation. You'll need to either take the transpose of the first (i.e. dot product), or the transpose of the second (i.e. Kronecker product). For reshape, the product of all of the dimensions must be the same before and after reshaping, and it looks like the product of the first and second are different (3200 and 320). Try to check

[2016-11-02 10:00] taggg opened #138 "MomentumSGDTrainer in python does not work properly"
Sorry if this is known issue or the API is being dropped.

I just transitioned my code from cnn to dynet and MomentumSGDTrainer does not work properly in Python. You can still call it but it does not seem to work as it should. I switched to AdamTrainer and it works as expected.

[2016-11-02 12:31] odashi opened #139 "Throwing exceptions or aborting"
DyNet basically aborts the program when some fatal errors occurred (e.g. OOM).
However, this behavior is sometimes not desirable because abort() deprives users of opportunities to deal with these problems themselves.
Would you like to switch all abort() terminations to throwing an exception if possible?

If the library would like to keep the current behavior, it may be possible to add an Boolean p

[2016-11-02 12:56] neubig commented on #139
Yes, I think it's a great idea to replace all places where we abort or assert with exceptions. I think it may be a good idea to create one macro that allows us to throw an exception with a message, and another macro that allows us to check a condition, then throw an exception with a message if the condition is false. Changing all the error handling in DyNet at one time would be a big task, but I w

[2016-11-02 12:57] neubig commented on #138
Could you be a bit more specific? What do you expect, and what are you seeing?

[2016-11-02 16:07] rasoolims opened #140 "dynet speed vs pycnn speed?"
Hi,

I was using pyCNN and it was pretty fast (training time per 100 sentences was about 8 seconds). When I use the same code with Dynet (after small compatibility changes to my code), it is now about 45 seconds per 100 seconds. Is this a natural thing?

Thanks

[2016-11-02 16:13] yoavg commented on #140
Shouldn't happen. What did you change?

[2016-11-02 16:13] yoavg commented on #140
Shouldn't happen. What did you change?

[2016-11-02 16:13] yoavg commented on #140
Shouldn't happen. What did you change?

[2016-11-02 16:13] yoavg commented on #140
Shouldn't happen. What did you change?

[2016-11-02 23:22] rasoolims commented on #140
I did another evaluation and realized that the problem is with the dropout (the only part that I added). That's actually from the Bist parser code:

[code]

The change is only drop-out on self.hidLayer:

[code]

Am I applying drop-out incorrectly?

Thanks

[2016-11-03 00:12] taggg commented on #138
OK. I found that parameters order in cnn and dynet is different when calling MomentumSGDTrainder (as with other optimizers):

From training.h:

cnn:
explicit MomentumSGDTrainer(Model* m, real lam = 1e-6, real e0 = 0.01, real mom = 0.9) :

dynet:
explicit MomentumSGDTrainer(Model* m, real e0 = 0.01, real mom = 0.9, real edecay = 0.0) :

The problem was I was calling MomentumSGDTrainer with older pa

[2016-11-03 00:12] #138 closed

[2016-11-03 05:13] yoavg commented on #140
Do you find that the dropout was faster in pycnn than in dynet? or is it just very slow in general?

[2016-11-03 14:34] neubig commented on #137
Duplicate of https://github.com/clab/dynet/issues/139

[2016-11-03 14:34] #137 closed

[2016-11-03 14:34] neubig commented on #136
I'm going to close this. If there's a valid issue, I'll reopen.

[2016-11-03 14:34] #136 closed

[2016-11-03 14:36] neubig opened #141 "Encoder-decoder example contains unnecessary complexity"
The encoder-decoder example in the examples directory has some non-standard operations (passing through an additional RelU layer between the encoder and decoder, etc.). This is confusing for beginners, so it should be  fixed to a more canonical implementation that just passes the state between the encoder and decoder.

[2016-11-03 15:09] danielhers commented on #136
Thanks. I suppose it is probably a problem with my code but I didn't have time to debug it yet.

[2016-11-03 16:05] rasoolims commented on #140
Never tried that on PyCNN. But now I am sure it is the problem with just dropout. Because that is the only difference.

[2016-11-04 16:03] jzlianglu opened #142 "save model with MKL"
Hi developers,

I installed my dynet with boost 1.53, and can save the model. However, if I install dynet with MKL using the same version of boost, I cannot save the model during training, as it said

saving models...
terminate called after throwing an instance of 'std::invalid_argument'
  what():  Serializing dictionaries is only supported on versions of boost 1.56 or higher

I cannot install dyn

[2016-11-04 16:06] neubig commented on #142
Are you sure that the only difference is whether you're using MKL or not? This error should always be thrown if you try to serialize a dictionary, regardless of whether it's using MKL or not.

[2016-11-04 16:12] #140 closed

[2016-11-04 16:38] jzlianglu commented on #142
Hi Graham,

Sorry, I was confused. The toolkit that I can save model during training was implemented in cnn, not in dynet. I have translated it into dynet, and cannot save model either with or without MKL. The main problem is that I cannot install dynet with higher version of boost. The version that I used to install cnn is boost v1.60.

Thanks,
Liang

[2016-11-04 16:45] neubig commented on #142
So this is a side-effect of https://github.com/clab/dynet/issues/129 I guess. I hope we can fix this soon, but it's difficult for me to do unless I can reproduce it, which I can't at the moment.

In the mean time, the work-around is to avoid serializing DyNet dictionaries in your code. (In lamtram I'm not using the dictionary serialization code, and just writing the dictionary out myself.)

Graham

[2016-11-04 16:45] #142 closed

[2016-11-04 17:23] odashi commented on #139
OK, I am just thinking about similar implementations to do that.
I also guess that this issue is actually related on the error-handling policy of DyNet, and it is better to be written in some documents for all application developers, e.g., what kind of exceptions would be thrown from the functions.

[2016-11-04 19:51] neubig commented on #139
I definitely agree. The need for coding conventions is a known issue (https://github.com/clab/dynet/issues/90), and we have a place in the doc reserved for this. Feel free to add to this doc if you'd like. I'll also try to fill it in soon.

[2016-11-05 23:12] neubig commented on #85
I rearranged the operations and started documenting some of them, hopefully this will be done soon.

[2016-11-06 04:44] jiyfeng opened #143 "Missing the file "treelstm.h"?"
It is listed in the file "CMakeLists.txt", but not in the "dynet" source code folder.

[2016-11-06 09:16] danielhers commented on #143
@armatthews perhaps you forgot to `git add` this file in your commit 08e7057?

[2016-11-06 14:34] danielhers commented on #110
@Oneplus I would like to use the workaround you suggested. Is it possible to manually free the memory used by a model?

[2016-11-06 14:36] danielhers commented on #122
Is *batch* normalization implemented?

[2016-11-06 14:38] neubig commented on #122
No, neither of these are implemented, but we'd be happy to have a pull request!

[2016-11-06 14:46] danielhers opened #145 "Copy model using Python binding without save/load"
In order to do early stopping I am training my model on my training set and evaluating on the development set after each iteration, eventually keeping only the model with the highest development set score.
For that I need to keep a copy of my model, which is not updated as I keep training the original.
Currently I save the model to a file and immediately load it to achieve this functionality, but

[2016-11-06 14:50] neubig commented on #145
I think having the ability to copy the model would be nice, so I'll mark this an enhancement.

But why don't you just save the model every time you achieve the best development score? I don't understand the necessity to keep it in memory.

[2016-11-06 14:54] danielhers commented on #145
Thanks. I want to evaluate the best model on the test set at the end of the run. But I guess what you suggest does make more sense than keeping two models in memory.

[2016-11-06 16:47] Oneplus commented on #110
@danielhers currently, there is no API in `dynet::Model` that allow you to fully free the memory (or more precisely, return the memory to the memory pool). In C++, you can just `Model* m = new Model` and `delete m` at last. I am not sure what happens if you `del m` in python. But it's worth to try.
@neubig can we add an API to `dynet::Model` like `Model.pruge()` that allow users to fully free the

[2016-11-06 17:56] fmacicasan opened #146 "Instalation issue"
Hello,

I'm trying to install dynet on my local machine and I keep getting an error while importing dynet in python.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "dynet.py", line 17, in <module>
    from _dynet import *
ImportError: dlopen(./_dynet.so, 2): Library not loaded: @rpath/libdynet.dylib
  Referenced from: /dynet-base/dynet/build/python/_dynet.so
  Rea

[2016-11-06 19:02] danielhers commented on #143
Fixed by 60cceec951cf25e0d86e433a2ecca4a0e077ec7d...

[2016-11-06 19:29] #143 closed

[2016-11-07 06:59] jcyk commented on #100
Hi, but how to properly handle it during test time ?
Can you please give an example using python? @rasoolims @yoavg

[2016-11-07 10:57] duyvuleo opened #147 "Update specific parameters in SGD trainer"
In SGD trainer, is it possible to update specific parameters (presumably their indices known in advance)???

For example:
vector<size_t> indices({1,2,5});
Trainer* trainer = SimpleSGDTrainer(&model);
trainer->update(indices);

Trainer only offers one update() function which will update all parameters once.

[2016-11-07 15:25] jkkummerfeld opened #148 "Warnings during build, including minor bug in examples/segrnn-sup.cc"
While building the current version I had a few warnings, one of which looks like a bug:

[code]

This is referring to the if statement at the end of this function:

[code]

Currently the if statement will always be true as `i` is positive, and will be at `yz_pred.size()-1` after the loop. I suspect it should be `i == 0` rather than `i >= 0` but haven't looked into the SegmentalRNN code yet to unde

[2016-11-07 15:29] neubig commented on #147
This might be nice to have.

One way you can do this in the existing code is by doing the inverse: using the const_parameter and const_lookup expressions when inputting nodes to the computation graph will prevent them from being updated, so you can just call const_* for all but parameters 1,2,5. This will be a bit slower, but it should be sufficient for many cases.

[2016-11-08 05:12] duyvuleo commented on #147
Using const_parameter and const_lookup_parameter ones will be not comfortable in my situation.

Also, I tried to directly add the the following function into the SimpleSGDTrainer class. However, I always got the "Segmentation fault (core dumped)" error message in the update_rule() function.

void SimpleSGDTrainer::request_param_update(int p_index)
{
  //gscale should be reused from update() step

[2016-11-08 07:39] jcyk opened #152 "Support custom initialization of lookup parameters"
Now the **python** **API** `parameters_from_numpy()` only works for normal parameters.
Is there any way to initialize a lookup parameter with custom values?
I suggest there should be some thing like  `lookup_parameters_from_numpy()`, as pretrained word embeddings are commonly used in NLP.

[2016-11-08 11:21] yoavg commented on #152
`L.init_row(row_num, vec)`

[2016-11-08 11:31] duyvuleo opened #153 "Embedding matrix of LookupParameter"
I implemented the following code to get the embedding matrix of a LookupParameter:

`cnn::LookupParameter p_wr_W_ = model.add_lookup_parameters(VOCAB_SIZE, {HIDDEN_DIM}); `
`// ... initialize p_wr_W_`
`std::vector<cnn::expr::Expression> vEs(VOCAB_SIZE);`
`for (int i = 0; i < VOCAB_SIZE; i++)`
	`vEs[i] = cnn::lookup(cg, p_wr_W_, i);`
`cnn::expr::Expression  return_we_matrix = concatenate_cols(vEs);

[2016-11-08 16:37] pmichel31415 opened #154 "LSTM builder is not the standard LSTM"
After looking at the code in lstm.h, it seems that the LSTMBuilder cell has the following update rule :
![imgtemp-rtc2r2-1](https://cloud.githubusercontent.com/assets/10391785/20528799/9a25d48c-b09b-11e6-8df6-7f97cd859a49.png)

Which is not the common update rule :

![imgtemp-ffi3s1-1](https://cloud.githubusercontent.com/assets/10391785/20528795/96a89092-b09b-11e6-9191-7f6bc5132c81.png)

(i.e. in

[2016-11-08 16:39] neubig commented on #154
I've heard that the motivation is the results in this paper: https://arxiv.org/abs/1503.04069

But I agree that this should be documented.

[2016-11-08 19:31] pmichel31415 commented on #154
I see. I started documenting the lstm.

I also started implementing a vanilla LSTM. Would it be interesting to have it in the form of two optional parameters `coupling` and `peepholes` in the constructor? With default values `true` for compatibility.

[2016-11-08 20:20] bsharpataz opened #155 "cosine similarity"
first of all -- I'm very new to issue writing, so.... here goes...

I was trying to implement a fairly simple architecture in dynet and got stuck on doing a cosine similarity (I'll essentially be creating two composite vectors from embeddings and comparing them with a hinge ranking loss in the final architecture). I see the implementation of dot_product, and esum, etc, but without the L2 normaliza

[2016-11-08 21:24] yoavg commented on #154
the LSTMBuilder is quite central. I agree that it would be good to add
these, just need to ensure that:
- no speed penalty
- the values are saved / loaded with the model
- we remain backward compatible with saved models

On Tue, Nov 8, 2016 at 9:31 PM, Paul Michel <notifications@github.com>
wrote:

[2016-11-09 02:54] zhang-wen opened #156 "slow training"
hello, every one,

i create a MT model with following configurations:

[code]

user parameters are:

[code]

totally 29 weights parameters, i update once for each batch with batch size 80,

[code]

but i test the time, the result is as following, it take too much time, i think.

[code]
are there something wrong with my training ? why is it so slow ?
it perplex me for a long time .
any reply will b

[2016-11-10 18:12] neubig opened #157 "dynet_viz is broken"
From mailing list:

I ran the attention.py code by adding a last line to

pc.print_graphviz()

After running, I get the following message,

Traceback (most recent call last):
  File "attention.py", line 158, in <module>
    train(model, "it is working")
  File "attention.py", line 149, in train
    loss = get_loss(sentence, sentence, enc_fwd_lstm, enc_bwd_lstm, dec_lstm)
  File "attention.py", lin

[2016-11-10 18:33] neubig opened #158 "Some Functions Still not Implemented on GPU"
Some functions that are not implemented on GPU should be implemented if possible.

- [ ] RestrictedLogSoftmax
- [ ] TraceOfProduct
- [x] SelectRows
- [ ] MatrixInverse
- [ ] LogDeterminant
- [ ] KMaxPooling
- [ ] Sparsemax/SparsemaxLoss

To do so, take a look at the implementations in `nodes.cc`, and either write them in Eigen's GPU-supported Tensor library, or write a custom CUDA kernel.

[2016-11-11 07:53] gmulcaire commented on #146
I had a similar issue: same ImportError, though the corresponding warning was different:

[code]

This seems to be because `_dynet.so` looks for `libdynet.dylib` at `@rpath/libdynet.dylib` which doesn't work unless `/path/to/dynet/build/dynet` is in `@rpath`. You can update it with `install_name_tool -change @rpath/libdynet.dylib /path/to/dynet/build/dynet/libdynet.dylib _dynet.so` (and then verif

[2016-11-11 12:58] carschno commented on #157
Just adding `--dynet-viz` on the unmodified code (i.e. no call to `print_graphviz()`) does the same.

[2016-11-11 13:10] yoavg commented on #157
Yes. The wrapper class for RNN needs to be modified by adding support for the `s` operation. Easy change, but I won't have time for it until Monday. You can give it a shot though, basically copy-pasted the `h` code with the required changes.

[2016-11-11 13:15] yoavg commented on #157
Sorry, both `s` and `h` needs to be added to RNNState in dynet_viz.py

[2016-11-11 14:41] carschno commented on #157
It does not seem so easy after all. I began by adding this line to `dynet_viz.py` in class `RNNState`:

    def s(self): return self.builder.get_s(self.state_idx)

However, this leads to another issue in `_RNNBuilder` in `dynet_viz.py`: the class does not have an attribute `thisptr` which is used in `get_s()` as well as in many other methods, which results in an `AttributeError`.
As far as I see,

[2016-11-11 15:48] yoavg commented on #157
I will take a closer look when I have the time, in a few days. In the meantime, maybe @dhgarrette can help.

[2016-11-11 18:59] Oneplus opened #159 "L2 regularization might be buggy"
Hi, seeing that dynet uses global decay to implement sparse l2 regularizer. great work! But there seems still some problem.

To my understanding, the `L2WeightDecay` represents the `s_t` in the sparse sgd update methods:
![image](https://cloud.githubusercontent.com/assets/745499/20225536/c0e06e62-a7f8-11e6-9194-586400be2fd3.png)

If that is right, the `L2WeightDecay.update_weight_decay()` seems fo

[2016-11-12 07:18] ZhangShiyue opened #160 "rnnlm on GPU problem"
Hi,

I am a dynet user. I have some difficulties in using dynet, and I am really confused. I need your help.

I tried to run "examples/rnnlm" and "rnnlm/lm" on GPU and CPU. I got a surprising result. For "examples/rnnlm", GPU is about 10 times slower than CPU, while for "rnnlm/lm" GPU is about 10 times faster than CPU. As for data, I just use "examples/example-data/train-hsm.txt" as both train and

[2016-11-12 13:45] yoavg commented on #160
Check the matrix sizes. CPU is much faster than GPU for small matrices.

[2016-11-12 13:45] #160 closed

[2016-11-12 17:38] danielhers opened #161 "BiRNNBuilder does not support saving"
I have a model with a `BiRNNBuilder`, and when I'm trying to save it I'm getting:

    Cannot save model component of type <class '_dynet.BiRNNBuilder'>

Looks like the builder does not support saving.

[2016-11-12 21:39] yoavg commented on #161
True. Create a pull request and I'll merge it.

On Sat, Nov 12, 2016, 19:38 Daniel Hershcovich <notifications@github.com>
wrote:

[2016-11-13 01:52] ZhangShiyue commented on #160
Yes, you're right. I was a little mislead by the notation:
unsigned INPUT_DIM = 8;  //256
unsigned HIDDEN_DIM = 24;  // 1024
 I thought they should be 2^8, 2^24. I even haven't check that...
Anyway, you're right. Thanks a lot!!! : )

[2016-11-13 02:04] ZhangShiyue commented on #160
Yes, you're right. I was kind of mislead by the notation, 2^8=256... Such a silly thought..
unsigned INPUT_DIM = 8;  //256
unsigned HIDDEN_DIM = 24;  // 1024
Anyway, thanks a lot!!!

[2016-11-13 09:05] danielhers commented on #161
@yoavg I'm trying to make the `BiRNNBuilder` extend the `Saveable` interface, but then the `_save_one` and `_load_one` methods try to `pickle` the sub-components to the `pyk` file, which doesn't work. Are RNNBuilders even supported as sub-components of a user-defined component?
I don't understand when the `pyk` file is ever used. Aren't all parameters and builders written to the `pym` file anyway?

[2016-11-13 09:29] danielhers commented on #161
I implemented a separate case in `_save_one` and `_load_one` for the `BiRNNBuilder`, but I think it might be more elegant to make it extend the `Saveable` interface instead. The problem with this is that the builder layer sub-components are saved in a list of tuples rather than directly as attributes, and `Saveable` assumes that any non-picklable sub-component is a direct attribute of the object.

[2016-11-13 10:12] memeda commented on #104
OH MY GOD, I found it again 😭 ;
I'm so silly to always call `update_epoch` with imaging that the learning rate will decay from the `scale` to zero.
I'd like to suggest that `update_epoch` API should be deprecated, and just using `update(scale)` to let the user set the scale handly as they like.

[2016-11-13 14:51] honnibal opened #164 "Efficiency of Python API on GPU?"
Hi,

I've been playing with the Python BiLSTM tagger example. I've refactored it a little and changed it to minibatch the training steps. The output of this looks reasonable, but I'm seeing poor performance on GPU (about 2x slower than CPU. Dynet seems to be picking up the GPU correctly:

[code]

Looking at the way the Python API works, it seems like the data will be copied to and from the device

[2016-11-13 18:45] silvianacmp opened #165 "Installation Issue"
Hi there,

I am trying to build DyNet and can't succeed. (gcc version: 5.4.0, Ubuntu version: 16.04)
When I run "cmake .. -DEIGEN3_INCLUDE_DIR=eigen" I get the following log:

Determining if the pthread_create exist failed with the following output:
Change Dir: /home/silvianacmp/dynet/build/CMakeFiles/CMakeTmp

Run Build Command:"/usr/bin/make" "cmTC_81cff/fast"
/usr/bin/make -f CMakeFiles/cmTC_81

[2016-11-14 14:46] ZhangShiyue opened #166 "MKL problem"
Hi,

I meet a problem when using MKL. I have built dynet given DMKL_ROOT. I hope it could use multi cpu cores to speed up, but it seems that only one core is using, and setting MKL_NUM_THREADS environment variable is no use either.

Here is the COMMAND I ran:
cmake .. -DMKL_ROOT=/nfs/disk/perm/tools/intel/parallel_studio_xe_2013/composer_xe_2013_sp1.0.080/mkl/
make -j 4
./examples/encdec --dynet-s

[2016-11-16 03:31] jeniyat opened #167 "Model can not be created"
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
AttributeError: 'module' object has no attribute 'Model'

[2016-11-16 11:29] yoavg commented on #167
This looks like a bad installation. Hard to debug with no further info.

[2016-11-16 11:29] #167 closed

[2016-11-16 11:33] yoavg commented on #164
Where do you think the copying to device happens?

If you do happen to provide a minimal example in which C++/GPU is substantially faster than python/GPU, I could try and take it from there.

[2016-11-16 11:54] honnibal commented on #164
Apologies — I see my assumption didn't make sense. I should've thought this out more carefully.

The behaviour I'm currently seeing is:

    $ time DYNET_GPU=0 python examples/spacy_dynet_lstm.py ~/data/ud-treebanks-v1.3/UD_English/en-ud-train.conllu ~/data/ud-treebanks-v1.3/UD_English/en-ud-dev.conllu models/
    real	0m16.491s
    user	0m16.412s
    sys	0m1.644s

    $ time DYNET_GPU=0 python ex

[2016-11-16 11:57] yoavg commented on #164
What's the difference between the first and second commands?

[2016-11-16 12:03] honnibal commented on #164
Pasted wrong...The second command should have `DYNET_GPU=1`. Fixed.

[2016-11-16 12:16] honnibal commented on #164
I think the forward pass should be minibatched now, but the performance is the same.

[2016-11-16 12:20] yoavg commented on #164
I have very little knowledge of the GPU implementation (that was really @neubig 's work), but pretty sure that if we have unneeded copies they are not on the python bindings side . I did notice many times that small matrices are noticeably slower on the GPU than the CPU.
(did batching improve your CPU speed somewhat, btw?)

[2016-11-16 12:27] honnibal commented on #164
Hmm, okay. I'll try playing with the dimensions.

A theory: this example has 20k embeddings. Maybe the lookup parameters dominate the run-time for this code, and the GPU is not better than the CPU at this. I'll play around with this and see.

[2016-11-17 09:53] danielhers commented on #161
@yoavg I created a pull request.

[2016-11-17 16:54] pcyin opened #168 "Error compiling python bining"
Hi, I got the following Cython error `Return with value in void function` when installing dynet with python binding:

[code]
Any suggestions? Thanks!

[2016-11-17 18:22] yoavg opened #169 "add python to the documentation"
Currently, the documentation is about the c++ modules.

Would be nice to be explicit about this, and also add links to some of the python resources.
While these are not yet very nice or exhaustive, we do have some useful resources:

https://github.com/clab/dynet/blob/master/python/CHANGES.md
https://github.com/clab/dynet/tree/master/pyexamples
https://github.com/clab/dynet/tree/master/pyexamples/t

[2016-11-17 18:26] #161 closed

[2016-11-17 19:49] neubig commented on #168
I wasn't able to reproduce this compile error, but could you try removing the two "void"s from dynet.pyx?

[2016-11-17 19:51] neubig commented on #166
I've heard previously that DyNet using MKL works on multiple threads fine. I'm not sure why it's not working here?

[2016-11-17 20:02] neubig commented on #164
Your net size looks pretty small, so it may just be the case that you won't be getting much benefit on GPU, because the overhead of launching operations is relatively high. If you're curious about where the GPU is spending it's time, you can try to run the nvprof tool, and paste a log here.

[2016-11-17 20:07] neubig commented on #156
Sorry, we're going to need more info. Why do you think this is taking too long? For example, if this is much slower than other MT toolkits with the same parameters, then please send the commands that you used to run both of the toolkits and we can start to know if this is a bug or not.

[2016-11-17 20:09] #152 closed

[2016-11-17 20:10] neubig commented on #153
No, but there should be. I'll mark this as an enhancement.

[2016-11-17 20:14] neubig commented on #165
Sorry, I don't know why you'd be missing the pthread library on Ubuntu. I'm pretty sure it comes standard. Tell us if you figure it out though.

[2016-11-17 20:17] neubig commented on #159
I haven't checked the math carefully on this but I suspect you are probably right. There are other issues with optimizers (https://github.com/clab/dynet/issues/70) so we may have to re-think the way things are implemented.

[2016-11-17 20:19] neubig commented on #155
Do you mean that just calling
    dot_product(x, y) / squared_norm(x) / squared_norm(y)
doesn't work?

Of course, we should have a node to calculate cosine similarity, so I'll make this an enhancement.

[2016-11-17 20:30] Oneplus commented on #159
Hi, the formula on sparse sgd is directly copied from the sgd tricks paper.
So there shouldn't be problems in that part. For the Adam part, my
derivation is problematic because the \hat(v) is related with historical
theta so it's not sparse update at all.

I found it difficult for the adaptive sgd algorithms to have any sparse sgd
update form because they record the history. there might be some
ap

[2016-11-17 20:45] pcyin commented on #168
Problem solved by updating Cython from 0.22 to 0.25.

Meanwhile, I find on mac OS X, the `rpath` might not be set correctly to `~/build/dynet/`, where `libdynet.dylib` exists. This will give error `Library not loaded: @rpath/libdynet.dylib` when `import dynet`. And this could be solved by adding the following line to `.bash_profile`:

`export DYLD_LIBRARY_PATH="$DYLD_LIBRARY_PATH:/path/to/dynet/bu

[2016-11-17 20:46] #168 closed

[2016-11-17 20:52] pcyin commented on #168
@neubig Issue #146 could be solved by exporting `DYLD_LIBRARY_PATH`.

[2016-11-17 20:54] neubig commented on #146
@yoavg do you think we need to add instructions about `export DYLD_LIBRARY_PATH=/path/to/dynet/build/dynet/:$DYLD_LIBRARY_PATH` to the python doc?

[2016-11-17 21:03] yoavg commented on #146
This is definitely an option. I guess the real solution is to figure out
how to fix this for all users *without* the need to specify the path (as it
works for me and many others now), but I think it is probably not worth the
effort. So I'd add something like: "on some systems, you need to specify..."

On Thu, Nov 17, 2016, 22:54 Graham Neubig <notifications@github.com> wrote:

[2016-11-17 21:14] neubig opened #170 "Batch manipulation operations"
It would be nice to have operations that allow you to do things like
* concat_batch: concatenate multiple expressions into a single batched expression
* pick_batch_elements: pick only a subset of the elements from a batched expression

[2016-11-17 21:21] yoavg commented on #170
+1, but I'd also add:

- concatenate_batch should also work for concatenating batched expressions
into larger batched expression
- special expression for picking the first k items of a batch: this common
use case can have an efficient impl.

On Thu, Nov 17, 2016, 23:14 Graham Neubig <notifications@github.com> wrote:

[2016-11-18 07:21] zhang-wen commented on #156
okay, sorry about that, actually i am not very sure, let me think about this and try to construct some examples

[2016-11-18 11:28] ZhangShiyue commented on #166
I have solved that. It's ok after I "export MKL_DYNAMIC=FALSE".

[2016-11-18 11:28] #166 closed

[2016-11-18 11:31] zhang-wen commented on #156
i use theano before, but i think dynet is easier to debug than theano, so now i want to use dynet.

for same parameters:
i run my MT system by theano command:

` THEANO_FLAGS=mode=FAST_RUN,device=gpu0,floatX=float32,lib.cnmem=5000, python main.py`

the forward and update time for one batch (batch size is 80) is about:
`Update time[3.806s] `

and by dynet command:

`python main.py --dynet-gpu --dyn

[2016-11-18 12:44] neubig commented on #156
Yes, if you use the lookup_batch function it will be much much faster.

[2016-11-18 18:01] vered1986 opened #171 "Masking for minibatches with RNN"
I'm trying to train an LSTM with minibatches. I've been using the [tutorial example](https://github.com/clab/dynet_tutorial_examples/blob/master/tutorial_rnnlm_minibatch.py) which is very helpful. I have a question about the masking, which I think should be different in my use case. In the tutorial, the loss is computed at each timestamp (when predicting the next word), and the loss is masked. In

[2016-11-18 19:27] pmichel31415 commented on #169
So there are detailed guidelines in the documentation, under the "contributing" section [here](http://dynet.readthedocs.io/en/latest/doc_style.html)

TL;DR

If you want to write a tutorial you can directly modify the documentation source in [doc/source](https://github.com/clab/dynet/tree/master/doc/source) (careful, this uses rst markup, but you can convert from markdown using pandoc).

If you wan

[2016-11-18 23:29] odashi opened #172 "Error when using composites of parameter and batch"
I met an error when trying to use a concatenated value consisting of a parameter and a batch input. Following code reproduces the error:
[code]
I guess this code should work, but it dies due to an Eigen assertion error when the program reached at `cg.backward()`. If I swapped the 6th line for `i2 = input(cg, {30}, vector<float>(30));` then it looks to be working fine.

[2016-11-19 23:39] honnibal commented on #164
GPU outpaces CPU at 300 hidden, 300 word vector dimension with this model. Closing this.

I'll make a PR when I finish the example, in case it's of interest. I think it'll be nice to have a Python example with minibatching.

[2016-11-19 23:56] #164 closed

[2016-11-20 00:23] neubig commented on #164
Yes, I think a Python mini-batching example would be good!

[2016-11-20 00:27] honnibal commented on #164
Btw, do you guys regularly use minibatching in your experiments? I was checking the repos from your recent parsers, and I couldn't find minibatching anywhere!

[2016-11-20 00:50] zhang-wen commented on #171
i also use masking in my system, i think following code will be helpful for you.

[code]

[2016-11-20 01:21] neubig commented on #164
Minibatching is used extensively in my machine translation toolkit: https://github.com/neubig/lamtram
Parsing is not as easy to minibatch because the structure of the network can change between every training example (although it is possible with some tricks).

[2016-11-20 03:13] srajana opened #173 "Python Dynet module compilation failure"
Hey,

I have been trying to run this code that used pycnn and when I faced a lot of issues, I decided to work with DyNet instead and change the code to use DyNet wherever it had pycnn previously. I am following the installation instructions on http://dynet.readthedocs.io/en/latest/python.html. My cmake command seems to have had no failures and found all the required files but make fails with an er

[2016-11-20 03:50] elikip opened #174 "DyNet Compilation Error"
Hi,

I am trying to install dynet on my laptop and get the following error while running 'make':

Could please advise on how to proceed from this point?

[2016-11-20 08:08] danielhers commented on #174
This is because of a bug with Eigen: https://bitbucket.org/eigen/eigen/commits/0e78c04fea691588a7c882826c6523447a3bd66a#comment-4027909
Try checking out an older commit:

    cd eigen
    git reset --hard 25c392f

[2016-11-20 08:14] danielhers commented on #173
I think you need to upgrade your Cython:

    pip install --upgrade cython

[2016-11-20 08:46] zhang-wen commented on #156
hi @neubig  is following network a large network ?
it spends about 20s for updating one batch (80 sentences).
i am not sure whether it is normal .
i heard you have a large model to train, how about your speed, can i make a comparison ?

[code]

[2016-11-20 10:09] vered1986 commented on #171
Thanks @zhang-wen! It seems to be exactly what I need, but I get a NotImplementedError:
```File "/dynet.pyx", line 669, in _dynet.Expression.__mul__ (dynet.cpp:19271)```
I think it is because ```curr_state``` and ```new_state``` are state objects that cannot be multiplied by an expression. Can you please share a minimal working example / the code that created ```curr_state``` and ```new_state```?

[2016-11-20 13:17] neubig commented on #174
The problem in the Eigen upstream should be fixed now.
https://bitbucket.org/eigen/eigen/commits/eb30762a5baef5f9e67c43aab64129726e079c35

[2016-11-20 13:17] #174 closed

[2016-11-20 21:12] pcyin opened #175 "Mini-batched input in python"
Hi, I am trying to create a mini-batched input of shape (batch_size, data_dim). E.g., the following code has `x` with shape (batch_size=3, data_dim=3). However, this gives me an error `uncaught exception of type std::invalid_argument: Mismatched input dimensions in Sum: [{3,2} {2}]`

[code]

I checked `dynet_viz.py` and I'm not sure if mini-batched input is supported by the python bining. Any sugg

[2016-11-20 22:33] srajana commented on #173
Thank you, that fixed the issue! and now 'make' succeeds. But when I try to run the examples, I get the following error:

Snehas-MacBook-Pro:python sneharajana$ cd $PATH_TO_DYNET
Snehas-MacBook-Pro:dynet sneharajana$ cd pyexamples
Snehas-MacBook-Pro:pyexamples sneharajana$ python xor.py
Traceback (most recent call last):
  File "xor.py", line 1, in <module>
    from dynet import *
  File "build/bd

[2016-11-20 22:57] pcyin commented on #173
refer to #146

[2016-11-21 02:52] zhang-wen commented on #171
oh, i think you can not directly use state object to multiple, instead of that, you should call state.h() of state.s() to get the expression first, then multiple the mask expression.

actually i do not use the LSTMBuilder, i implement a GRU unit myself, like this:

[code]

[2016-11-21 05:49] zhang-wen opened #176 "Time-consuming backward function"
hi, guys,

i have a following network parameters and structure:

[code]

i train it on GPU and use mini-batch,  batch size is 80, i test the time of `forward` calculation, `backward` calculation and `update` calculation by using following code:

[code]

i found a problem, as the increasing of sentence length, it makes sense that all three times increase, the time of `forward` calculation and `upda

[2016-11-21 08:27] vered1986 commented on #171
I see, thank you!

[2016-11-21 10:27] vered1986 commented on #171
I think I've found a way to do it externally without changing the LSTM code. In case anyone else needs it, it seems to work (not sure how efficient it is, though).

[code]
It's supposed to return the last actual output for each training instance in the batch.

[2016-11-21 10:27] #171 closed

[2016-11-21 11:40] neubig commented on #176
Thanks for the report! Although it's conceivable that backward could take more time than forward, it does seem a bit strange that it's taking about 4x the time of forward. Do you have some example code/data that we could debug this with?

[2016-11-21 12:43] zhang-wen commented on #176
i have code and data, but the network is a little complicated and data is a little large , i can put it on github, you can run it directly, is that easy for you guys to debug ?

[2016-11-21 12:48] zhang-wen opened #177 "is there max-out API for one dimension ?"
i have following code to get a 3-D matrix with batch size is 4

[code]

the shape of batch_emb is (2, 3, 4)

i want to get the result of
[code]

it there this API for Expression ?

[2016-11-21 13:22] neubig opened #178 "Mini-batched "sum" operation is not working as expected?"
There have been reports that the mini-batched sum operation is not working properly. This needs to be investigated.

[2016-11-21 13:59] zhang-wen opened #179 "API for clipping gradients by L2 regularization ?"
i want to normalize the L2-norm of the gradient of the cost function each time to be at most a predefined threshold of 1, when the norm was larger than the threshold

is there clip_gradients (L2 regularization) API for python ?

[2016-11-21 14:03] danielhers commented on #176
I don't know if it's related (perhaps related to #120), but `backward` also consumes a lot of memory: I'm training a BiLSTM model, and using [memory_profiler](https://pypi.python.org/pypi/memory_profiler) I found that `backward` takes an additional 10~20MB in each call. Does that make sense?

[2016-11-21 14:24] zhang-wen commented on #176
yes, you are right, backward takes additional memory, but i do not know why. @neubig told me that using "--dynet_mem 2000,2000,1000" is a better choice in #120

[2016-11-21 14:25] pmichel31415 commented on #179
sgd = new SimpleSGDTrainer(&model);
    sgd->clip_threshold = 1;

Is that what you're looking for?

[2016-11-21 14:32] zhang-wen commented on #179
yes, exactly, but no API in python.
is it easy to implement the API in python ?

[2016-11-21 14:34] pmichel31415 commented on #179
Shouldn't be too hard, I'll look into it

[2016-11-21 15:01] pmichel31415 commented on #179
Now that I think of it there is a flag to enable/disable clipping altogether in c++, it would eb a good idea to access it from python.

One way of doing this would be to disable clipping whenever a negative value is passed to `set_clip_threshold` instead of creating new accessors/setters.

What would be better @yoavg ?

[2016-11-21 15:04] yoavg commented on #179
does it make sense for set_clipping_threshold(0) to disable clipping?

[2016-11-21 15:29] pmichel31415 commented on #179
I think it makes sense if this is specified in the docs.

[2016-11-21 16:03] zhang-wen commented on #179
it works, thank you !

[2016-11-21 16:03] #179 closed

[2016-11-21 17:21] rasoolims commented on #155
It seems that the python version does not have the squared_norm and also the sqrt functions.

[2016-11-21 18:18] pmichel31415 commented on #178
Is it a python-only bug? I haven't had any problem in c++

[2016-11-21 18:19] neubig commented on #178
To be accurate, this only applies to "sum(a,b,c)" and not "a + b + c". I've only had a report and not had time to investigate it yet. It will affect both c++ and python if it is indeed a bug.

[2016-11-21 22:20] neubig commented on #146
This was probably fixed by this commit: https://github.com/clab/dynet/commit/aa03883a18d80984c02c9469058275a66e865839

[2016-11-21 22:21] neubig commented on #173
This was probably fixed by this commit: https://github.com/clab/dynet/commit/aa03883a18d80984c02c9469058275a66e865839

Could you try it out and close the issue if so?

[2016-11-21 22:24] neubig commented on #176
@zhang-wen if you have the data, code, and command used to run it, this will make it easier to debug. Alternatively (and more likely to get a quick response), if you can run `nvprof` on the program and see if there are any particular CUDA calls that are easting up most of the time, that might help us pinpoint more exactly.

[2016-11-21 22:42] neubig commented on #70
It is now possible to optimize using a dense update that considers momentum exactly correctly, and the behavior is (nominally) documented: https://github.com/clab/dynet/commit/3b60eec570672a3b5088e21b3849deaeb980ab18

[2016-11-21 22:42] #70 closed

[2016-11-21 23:04] neubig commented on #177
There is the `kmax_pooling` expression, but its axis is not configurable. Being able to configure the axis is something that would be nice to have, so a pull request would be welcome.

[2016-11-21 23:09] neubig commented on #175
Actually, while python supports lookup_batch, etc., I don't believe it has something like support for regular batch inputs yet. We're working on an easy-to-use API and it should be ready soon, along with documentation.

[2016-11-21 23:24] yoavg commented on #175
until we have the nicer API (and documentation), you can try with this temporary workaround which I believe should work:

[code]

[2016-11-21 23:38] zhang-wen commented on #176
@neubig sounds nice, i will put the data , code and run script on github, and let you know, and i will also try to run nvprof, let you know if i have some results.

[2016-11-22 01:09] neubig commented on #178
Hmm, minimal unit tests were not able to reproduce the problem. Setting to "needs more info" for now.
https://github.com/clab/dynet/commit/cfa20d4cd95fd98a8ff7044cb30c46a3010612cb

[2016-11-22 02:31] zhang-wen commented on #176
@neubig hi, i just do once update for one batch, and i use `nvprof` to profile the memory usage, following command:

`nvprof --print-api-trace python main.py --dynet-gpu --dynet_mem 3000,6000,1000 --dynet-gpu-ids 1 -DHAVE_CUDA`

maybe because my network size is kind of large, it output lots of logs, actually i do not understand the meaning of the log, i can show you some of the log, and there are

[2016-11-22 12:22] yoavg commented on #154
After staring at the code (admittedly without pen and paper at hand, I'm commuting), I am pretty sure the code implements something else than what's written above -- for example $o_t$ uses $c_t$ (`ct[i]`) and not $c_{t-1}$ (`i_c_tm1`), and `tanh` is applied twice (it is also applied on $c_t$ just prior to computing $h_t$.

[2016-11-22 15:00] pmichel31415 commented on #154
@yoavg yes you are right this is my mistake, I'll update the original post.

I've been working on implementing the aforementioned options to the LSTMBuilder, but I'll put it on hold until the dropout PR is merged.

[2016-11-22 15:18] yoavg commented on #154
this may affect the dropout PR, as I may be introducing dropout in an un-intended place (or effectively introducing it twice) -- and may not be.

[2016-11-22 18:56] yoavg opened #186 "non-standard dropout behavior"
The `dropout` node implementation is non-standard: it drops nodes with prob (1-p) but also multiplies the remaining nodes by 1/(1-p) to compensate. This is indeed very convenient as you don't have to do anything special at test time (other than not applying dropout), but I'd imagine 99% of the users (those who don't wrote the function or looked closely at its code) don't know this, and will apply

[2016-11-22 19:07] zhang-wen opened #187 "error about batch"
no error when i train my model on GPU, but if i train it on CPU, there is an error here:

Eigen::Map<Eigen::Matrix<float, -1, -1> > dynet::Tensor::operator*(): Assertion `d.batch_elems() == 1' failed.

i debug, error happens for calling `backward`

[2016-11-22 19:14] neubig opened #189 "Python attention example is broken?"
The Python attention example (https://github.com/clab/dynet/blob/master/pyexamples/attention.py) is probably broken, as it doesn't look like it is re-inputting the generated output to the decoder LSTM. This is an important part of attentional models, and probably should be fixed.

[2016-11-22 19:18] neubig commented on #186
I'm actually a pretty big fan of the current implementation, and probably with proper documentation of the dropout expression we can minimize confusion? I'd vote for keeping it as it is. I'm going through and documenting all the expressions, and will get to the dropout-related ones soon.

I also think that the "unorthodox things" documentation is a great idea, including the simplified LSTM impleme

[2016-11-22 19:19] neubig commented on #187
Please give us more information and a minimum reproducible example.

[2016-11-22 19:19] neubig commented on #176
No, this is not enough. We'd need to see that aggregate statistics of which methods are taking more time.

[2016-11-22 19:34] yoavg commented on #189
if I remember correctly this code is by @talbaumel .
Tal, can you fix this?

[2016-11-22 19:37] yoavg commented on #186
We can keep the current behavior, but it must be documented in a VERY visible way, with huge bold red letters in flushy fonts.

(and batching should probably also be part of the unrothodox page)

[2016-11-22 20:11] talbaumel commented on #189
It inputs the previous decoder state not the output
Do you want me to replace it?

[2016-11-22 20:38] talbaumel commented on #189
Done, added a pull request

Thanks!

[2016-11-22 21:09] neubig commented on #189
https://github.com/clab/dynet/pull/190

[2016-11-22 21:09] #189 closed

[2016-11-22 21:25] neubig commented on #172
Fixed by this commit: https://github.com/clab/dynet/commit/5ce7e53edb4a9edc7057e29ce2c6523c441b6f49

[2016-11-22 21:25] #172 closed

[2016-11-22 23:16] gmulcaire commented on #146
[`aa03883`](https://github.com/clab/dynet/commit/aa03883a18d80984c02c9469058275a66e865839) worked for me.

[2016-11-23 00:53] pondpremt commented on #139
Not sure if this is the same problem, but I was playing with dynet in ipython shell, and mismatched input dimensions cause the shell to abort. Would be nice if it only just threw an error:

[code]

[2016-11-24 17:29] neubig opened #191 "Better organized examples, and parity between C++ and Python"
At the moment, the examples that are implemented are kind-of random, and there is no parity between the Python and C++ examples. I think we should re-organize the example section to make sure that:

1. The examples cover all the functionality of DyNet and demonstrate interesting things that it can do.
2. All examples are simple and canonical. For example, they don't contain anything that would be

[2016-11-25 14:24] vene commented on #159
It's possible to do correct sparse updates for adagrad, the original paper discusses it in context of l1 regularization in [section 5.1](http://www.jmlr.org/papers/volume12/duchi11a/duchi11a.pdf). Two example implementations including both l1 and l2 (for the two different forms of adagrad, namely composite mirror descent vs primal-dual SG) are available in [lazygrad](https://github.com/timvieira/l

[2016-11-25 16:05] neubig commented on #186
OK, added an unorthodox page here: http://dynet.readthedocs.io/en/latest/unorthodox.html

Dropout documentation is pending.

[2016-11-25 16:33] zeeeyang commented on #186
As far as I know,  the current implementation of dropout is so called **inverted dropout**. Some descriptions can be found at [http://cs231n.github.io/neural-networks-2/#reg](http://cs231n.github.io/neural-networks-2/#reg). Hope this information is useful for the documentation of the Dropout Node.

[2016-11-25 17:11] neubig commented on #159
We had an offline discussion about this, and while it is possible to modify the way we do training in order to ensure that L2 functions correctly with these optimizers, we would have to make significant changes to the programming interface. While this bug is not fixed, we made three changes:
- Renamed "L2" to "weight decay" in the command line option to emphasize that this is not L2.
- Added some

[2016-11-25 17:11] #159 closed

[2016-11-26 13:40] #173 closed

[2016-11-26 14:24] neubig commented on #85
@pmichel31415: Do you think that we can use BibTeX in readthedocs? I took a look briefly but wasn't familiar enough with how readthedocs works to figure out how to do it.

[2016-11-27 08:54] KiroSummer opened #192 "Error in gpycnn model parameters load_array"
When I try to use gpu, I get a error "Segmentation fault (core dumped)"
My code is here, very simple:
[code]
My code use the pycnn is ok, but when I convert to gpycnn, it will crash and will catch such problem
"Segmentation fault (core dumped)"

By the way, the line with __load\_ array__  can cause the error.
Did I use gpu model parameters with the wrong function?

Could you help me deal with it?

[2016-11-27 10:34] gaoyuze opened #193 "ERROR IN BUILDING PYTHON DYNET"
I run under the instructions, and all process worked out right, but when I test the python module, I got an error saying:
 "File "dynet.py", line 17, in <module>
    from _dynet import *
ImportError: libboost_program_options.so.1.59.0: cannot open shared object file: No such file or directory"

the process as follows:
` ` `

-bash-4.3$ cd $HOME
-bash-4.3$ mkdir dynet-base
-bash-4.3$ cd dynet-base/

[2016-11-27 13:35] fmacicasan commented on #146
I also updated to latest dynet and i managed to successfully build and import dynet in python.

Thanks!

[2016-11-27 14:41] danielhers commented on #193
Try setting `LD_LIBRARY_PATH` to `/usr/local/lib`

[2016-11-27 21:14] mitchellstern opened #196 "Left multiplication of a matrix by a vector"
DyNet currently supports matrix-vector multiplication, but does not support vector-matrix multiplication.

For example, we can multiply a 2x3 matrix and a length-3 vector to obtain a length-2 vector,
[code]
but we cannot multiply a length-2 vector and a 2x3 matrix to obtain a length-3 vector,
[code]

Using `dynet.transpose`, we can write
[code]
but `dynet/expr.h` mentions that `transpose` is an O(

[2016-11-28 03:30] neubig commented on #196
At the moment, I believe the most efficient way to do this would be `result = dy.transpose( dy.transpose(v) * w )`. Transposing matrices is expensive, but transposing vectors is cheap.

I think vector-matrix multiply may be something that people might want though, so we could potentially add support for this, either through the standard multiplication operation (which I sort-of hesitate to do, bec

[2016-11-28 04:47] chaitanyamalaviya commented on #123
Is there any workaround to this for Python? I am facing the same issue as reproduced above while minibatching.

[2016-11-28 05:12] mitchellstern commented on #196
Thanks for the tip! However, transposing the result back seems to give a 3x1 matrix:
[code]
Is there any easy (and efficient) way to convert this back into a vector? `dynet/expr.h` mentions that `dynet.reshape` is O(1) in the forward pass but O(n) in the backward pass.

To be more specific about my intended use case, bilinear scoring functions have been applied successfully in machine translation

[2016-11-28 08:22] danielhers opened #198 "Test Python bindings on Travis CI"
As far as I understand, `.travis.yml` currently only compiles the C++ library and runs C++ tests.
It should also install the Python bindings and run Python tests.
Both 2.7 and 3.5 should be [specified](https://docs.travis-ci.com/user/languages/python/#Choosing-Python-versions-to-test-against) in order to test both.

[2016-11-28 08:36] gaoyuze commented on #193
Hi~,danielhers,Thank you very much, I changed the path, and copied the generated  `libdynet.so`  into /usr/local/lib, then solved this error.

[2016-11-28 08:36] #193 closed

[2016-11-28 08:39] danielhers commented on #193
@gaoyuze actually, I think it's better to set `LD_LIBRARY_PATH` to `/usr/local/lib:/home/yzg/dynet-base/dynet/build/dynet` rather than copying `libdynet.so`.

[2016-11-28 10:41] neubig commented on #198
Yes, this is a good idea!

[2016-11-28 14:28] neubig commented on #192
Hi @KiroSummer, just one sanity check: does this error still happen when you comment out the `import pycnn as C` line?

[2016-11-28 14:49] yoavg commented on #192
Hi, this looks like the previous version of cnn/pycnn, which we know has incomplete GPU support, and is generally not supported.

Could you please try this with the new version (dynet) in this repo?

[2016-11-28 16:50] pmichel31415 commented on #85
I'll take a look later this week

[2016-11-28 20:07] neubig commented on #78
@talbaumel Is this issue resolved now? If so, can you close it?

[2016-11-28 21:47] talbaumel commented on #78
I installed the latest DyNet version using this manual (http://dynet.readthedocs.io/en/latest/python.html) on the os x 10.12

The CPU version worked great
The GPU version didn't (CUDA installed and using  GeForce GT 750M)
Same machine is running Theano with GPU support

I can recreate the error but I don't think it's readable

Btw, on my mac while following the instructions I had to change the eig

[2016-11-28 21:51] neubig commented on #78
Hmm, OK. Thanks for checking anyway. This'll have to wait until someone else can replicate, but my Mac doesn't have an nvidia GPU so we're stuck for now.

[2016-11-29 13:22] KiroSummer commented on #192
Hi, @neubig , I tried your suggesstion, but it still doesn't work and cause the same error.
And I decide to try with dynet@yoavg. : )

Thank you for your help!

[2016-11-29 13:23] KiroSummer commented on #192
Hi, @neubig , I tried your suggesstion, but it still doesn't work and cause the same error.
And I decide to try with dynet. @yoavg  : )

Thank you for your help!

[2016-11-29 15:47] mitchellstern opened #201 "Inconsistent usage of pointers and references"
As it stands, most of the builder classes in `dynet/` use `Model*` in their constructors, whereas most of the builder-like classes in `examples/` use `Model&`. On the other hand, `ComputationGraph`s are largely used as references throughout the code base, whereas there are a small number of pointers (some of which are unused, as in `dynet/treelstm.h`). There's even a mismatch in the current versio

[2016-11-29 22:45] neubig commented on #201
Thanks for taking a look and offering to help with this! It is indeed related to missing coding guidelines of https://github.com/clab/dynet/issues/90 .

I propose that we use the following as the coding standard for pointer vs. reference in DyNet, and welcome any pull requests to fix things:
http://stackoverflow.com/a/114351

[2016-11-29 22:46] neubig commented on #90
As a start, I propose that we use the following as the coding standard for pointer vs. reference in DyNet:
http://stackoverflow.com/a/114351

[2016-11-30 19:01] neubig commented on #123
Just FYI, you can find an example of minibatched input here: https://github.com/clab/dynet_tutorial_examples/blob/master/tutorial_rnnlm_minibatch.py

Better documentation is pending.

[2016-12-01 04:13] chaitanyamalaviya commented on #123
I managed to get it to work now! Thanks!

[2016-12-01 12:32] neubig commented on #86
We've had a report that this is apparently still not fixed in the Python bindings.

[2016-12-01 23:30] nsaphra opened #203 "Python - Library flags ignored when preceded by custom argparse flags"
For the following program `tmp.py`, in Python 2.7.5:

[code]

Memory is allocated correctly by dynet in the following invocation:
[code]

However, the same flag is ignored in the following invocation:
[code]

[2016-12-02 01:03] yoavg commented on #203
I tried both invocation orders and the memory gets set correctly in both.

[code]

[2016-12-05 01:35] chaitanyamalaviya commented on #203
I think this might be a python version issue. I had the same issue on Python 2.7.6, but there was no issue with Python 2.7.10.
A similar issue has been raised on the python bug tracker too: https://bugs.python.org/issue23058

[2016-12-05 10:42] nsaphra commented on #203
I'm running 2.7.5, so that sounds like it might be right.

[2016-12-05 11:46] yoavg commented on #203
Somewhat off topic for this list, but try docopt, I find it more pleasant
than argparse (and, apparently, less buggy)

On Mon, Dec 5, 2016, 12:42 Naomi Saphra <notifications@github.com> wrote:

[2016-12-05 21:56] pmichel31415 commented on #85
So I've been looking around a little bit for references and it doesn't seem very practical in doxygen and/or sphinx (there's basically no canonical way to include bibtex references in sphinx).

I think the best solution is to keep adding references manually. In Doxygen you can add a link to the article (that's what I did in `training.h`) with `[article](link)`.

Or we could add a link to a "refere

[2016-12-06 12:48] #203 closed

[2016-12-07 15:55] pmichel31415 commented on #201
@mitchellstern are you currently working on this? I can start working on it later this week so let me know what I can do

[2016-12-07 16:01] mitchellstern commented on #201
Thanks for offering to help! I started making some changes to this effect earlier this week -- let me get back to you here in the next day or two with an update and we can see whether it would make sense to parallelize.

[2016-12-11 09:23] mitchellstern commented on #201
@pmichel31415: I've made an initial pass at this in #207. I tried to be fairly comprehensive, but please feel free to supplement wherever needed in case I missed something.

[2016-12-11 10:18] mitchellstern opened #208 "Unused `edecay` parameter in `AdadeltaTrainer` and `AdamTrainer` constructors"
Currently the `AdadeltaTrainer` and `AdamTrainer` constructors ignore their `real edecay = 0.0` learning rate decay parameters. Is this intentional? If so, the documentation should be updated accordingly, and perhaps these parameters should be removed altogether since the base class constructor has the same default value.

[2016-12-12 00:49] neubig commented on #208
Thanks for the report! Fixed here:
https://github.com/clab/dynet/commit/8889f15be064098e3fd535b5ae464c73a8ef45aa

[2016-12-12 00:49] #208 closed

[2016-12-12 19:41] neubig commented on #201
This has been fixed in: https://github.com/clab/dynet/commit/97867c5e29a0be7bf7a893c9cf78224b89fc9a15

Thanks @mitchellstern !

[2016-12-12 19:41] #201 closed

[2016-12-12 20:11] neubig commented on #139
This problem has been noted in the coding style conventions: http://dynet.readthedocs.io/en/latest/code_style.html

This will need a concentrated effort to fix, and we welcome any contributions.

[2016-12-12 20:13] neubig commented on #90
Coding conventions are documented here: http://dynet.readthedocs.io/en/latest/code_style.html

Of course, this may be made more complete in the future, but I think this is a good enough start to close this issue.

[2016-12-12 20:13] #90 closed

[2016-12-12 20:16] neubig commented on #141
Fixed by this: https://github.com/clab/dynet/pull/204

[2016-12-12 20:16] #141 closed

[2016-12-12 20:17] #192 closed

[2016-12-12 20:20] neubig commented on #186
OK, this has been documented on the dropout page: http://dynet.readthedocs.io/en/latest/operations.html#_CPPv2N5dynet4expr7dropoutERK10Expression4real

[2016-12-12 20:20] #186 closed

[2016-12-12 20:21] neubig commented on #165
No word on this, so I'm closing, but feel free to re-open if necessary.

[2016-12-12 20:23] neubig commented on #187
No word on this, so I'm closing, but feel free to re-open if you can create an example.

[2016-12-12 20:23] #187 closed

[2016-12-12 20:26] neubig commented on #156
Sorry about the late reply. Looking at the size of this net, I think I've gotten over 1000 words/sec on GPU on nets that are slightly smaller than this, so your speeds definitely sound too low. If you're using CPU, then maybe the speeds are reasonable.

[2016-12-12 20:39] neubig commented on #86
This was an error with some versions of upstream python: https://bugs.python.org/issue23058

Upgrading to Python 2.7.10 will probably fix the problem.

[2016-12-12 20:39] #86 closed

[2016-12-13 02:22] gaoyuze opened #209 "Error in loading the saved model in python API"
Hi, Dear developers:

When I load the saved model using python API, I cannot load it successfully:
It occur an error as blow:

[code]

Could you kindly tell me how to fix it ?
I have checked my boost version, and it is a version of 1.61, I don't know if i have to change to another version

[2016-12-13 02:37] neubig commented on #209
Thanks for the report. Can you provide a minimal python script that allows us to reproduce the problem?

[2016-12-13 03:22] gaoyuze commented on #209
Yes, thank you.
 I used a parser [https://github.com/elikip/bist-parser](url) which is based on your former pycnn, when I trained the model and run the test_data, it occured the error above, I changed the pycnn API into py_dynet API, it also occurs the error above.
I am not sure if they have the same reason resulting the same error, but I prefer to use the (pycnn-based) one to make comparisons if

[2016-12-13 21:23] silvianacmp commented on #165
The problem was actually giving a relative path to Eigen. It worked with the absolut path to the Eigen folder.

[2016-12-14 02:39] gaoyuze commented on #209
Thanks for your help

I recompile the libcnn_shared.so, it seems the error occurs in the library, not the boost, the problem has been solved

Thanks yoavg!

[2016-12-14 02:39] #209 closed

[2016-12-14 10:37] yoavg opened #213 "python examples"
The new org structures of the examples where the C++ and Python versions are mixed is annoying for users who only care about one of the languages. This would have been better if we had python versions of all the examples, but as it stands now a user needs to hunt and peck for the python examples.

Any chance of reverting back the old organization, where the first division was by language and not b

[2016-12-14 13:46] pmichel31415 commented on #213
OK I'll submit a pull request with two separate folders within the example folder, does that seem OK?

[2016-12-14 13:51] yoavg commented on #213
yup, that'd be great.

[2016-12-19 11:48] #213 closed

[2016-12-21 11:57] vered1986 commented on #187
I've had the exact same problem. and I didn't manage to reproduce it with a minimal example, but eventually I solved it. My problem was that somewhere along the computation I tried accessing row/columns/cells in expression objects like I do with numpy matrices, and it returned unexpected outputs. I ended up reshaping the matrices to vectors and accessing cells linearly using row-major order. I'm n

[2016-12-21 15:09] neubig commented on #187
@vered1986 If you think there is genuinely a bug in indexing definitely open a separate issue! Note that DyNet uses column-major order, not row-major order though.

[2016-12-21 15:53] yv opened #218 "Simplify/robustify LogSoftmax backward calc"
The gradient value for logsoftmax should be something like "grad - sum(grad)*softmax(x)" (which Theano and TensorFlow use).
[code]
or, in cnn1
`float off_diag_sum = -(*fx).binaryExpr(*dEdf, FWeightedError()).sum();`
where FWeightedError calculates `expf(t) * d / expf(t)`, which is `d` in most cases and **nan** in cases where t is large and negative, (which means the nan will propagate and clip_gra

[2016-12-21 17:56] vered1986 opened #219 "Matrix indexing"
Hi,

I'm trying to access a cell/row/column in a matrix expression the same way I do with numpy matrices, but I get unexpected output.

For example, I create a model and input a batch:

[code]

If I take, for example, the first row or the first cell ([0,0]) from the numpy matrix, this is the output:

[code]

If I try to access rows, columns or cells directly from the expression object, the results

[2016-12-21 18:05] yoavg commented on #219
Currently, the [i] operation on expressions calls pick(e, i), expecting e to be a vector.

It would indeed be useful to have it look at the dimension and call matrix row selection, if the cpp API supports this (I think it does but not sure).

[2016-12-21 18:08] yoavg commented on #196
This is not a solution, but for your use case can you do

[2016-12-21 18:08] #196 closed

[2016-12-21 21:57] yoavg commented on #219
Hmm.. there are `select_rows` and `select_cols` in this cpp version, which are now callable also from python. But they accept lists and return arrays, not single rows. I will look into in in more depth tomorrow.

[2016-12-22 03:41] MalcolmSun commented on #219
I find the functions ` select_rows` and `select_cols` in expr.cc may not meet expectations, both of them will make the computation graph changed `x.pg->add_function<SelectRows>({x.i}, rows));`. This is confusing because we just want to get value from `output` with specified index.

[2016-12-22 08:16] mitchellstern commented on #196
I think your reply may have gotten cut off. Could you repeat your suggested workaround?

[2016-12-22 12:17] mitchellstern opened #220 "Floating point bug in logistic function"
When the input to the function `logistic(x) = 1 / (1 + exp(-x))` is large and negative (say below -100), `exp(-x)` will overflow and the resulting value should be 0. However, I'm instead getting the following results.

MacBook Pro running OS X El Capitan:
[code]

EC2 c4.4xlarge instance, default Ubuntu AMI (Ubuntu Server 16.04 LTS (HVM), SSD Volume Type - ami-b7a114d7):
[code]

In particular, I'm

[2016-12-22 19:55] mitchellstern commented on #220
For reference, I've tried the above code on a few other non-EC2 machines running Ubuntu and haven't been able to replicate the bug, but have seen the buggy behavior on every EC2 instance I've tried. Let me know if you need any more details to reproduce the issue.

[2016-12-22 20:50] mitchellstern commented on #220
Update: It's possible this is related to newer versions of g++. Correct behavior was observed on Ubuntu machines with g++ 4.8.4, 4.8.5, and 4.9.4; the erroneous behavior was observed on Ubuntu machines with g++ 5.4.0 and 5.4.1.

[2016-12-22 20:57] neubig commented on #220
Thanks for the report @mitchellstern ! This sounds like it might be a bug with Eigen. I don't have time to look at this immediately, but if you could look at the underlying code in nodes.cc, cut it out, and create an example that uses only Eigen (no DyNet) and fails similarly, then it could be reported to the Eigen people and fixed. If not, I'll take a look when I have time, probably not for a wee

[2016-12-22 22:57] yv commented on #220
1) this seems to be a by-product of vectorization, as you can do
[code]
and the 9th element is not using the vectorized code. Dynet compiles code with "-march=native", which turns on (AVX-something) vectorization in Eigen. A minimal C++ example would be
[code]
which you can compile with `g++ -I . bla.cc -std=c++11 -march=native -Ofast -o bla` or get the assembly code with `g++ -I . bla.cc -std=c++

[2016-12-23 12:07] neubig commented on #220
Great sleuthing @yv ! Do you have any idea of the speed implications of -ffinite-math-only? If they are negligible then maybe we can pull this as-is. Otherwise, we might only enable it for problematic versions (with a warning at compile time)

[2016-12-23 22:33] yv commented on #220
Ok, I've built a sample corpus based on the NLTK MASC corpus (which a liberal license and some English words in it), and used the train_encdec example with the first/second 2500 updates as a measuring yardstick.
[code]
Case 1: -Ofast (all optimizations enabled)
[code]

Case 2: (-Ofast with -fno-finite-math-only)
[code]

Case 3: (-O3, no fast-math)
[code]
So there is a ~1.5% difference (with no gua

[2016-12-24 19:50] neubig commented on #220
@yv Thanks for the tests! I agree the +1.5% is a reasonable tradeoff, and finite-math-only probably isn't a good idea in the first place, as the functions we use should probably be able to handle +inf/-inf. I'll go ahead and incorporate the pull request.

[2016-12-24 19:51] #220 closed

[2016-12-24 19:52] mitchellstern commented on #220
Thanks a bunch for helping resolve this, @yv!

[2016-12-25 04:46] chaitanyamalaviya opened #224 "Initializing lookup matrix"
Hi everyone,

Is there a way to initialize the dynet lookup matrix with a numpy matrix?
I know that the lookup parameter object does not support item assignment, but I was hoping there would be a workaround to this.
Would appreciate any help!

[2016-12-25 07:33] mitchellstern commented on #224
Currently DyNet supports two methods of initializing `LookupParameters` from a `numpy` array:
[code]

[2016-12-25 08:22] chaitanyamalaviya commented on #224
Thanks a lot!

[2016-12-25 09:16] yoavg commented on #224
When were initializers added to add_lookup_parameters?

I recall that I left it out on purpose, because the init_from_array() method was sufficient.

The current behavior, requiring the the embeddings to be arranged in columns, looks like a buggy/counterintuitive behavior to me. It is also inconsistent with initializing regular parameters, when we do not require this transpose.

[2016-12-25 09:21] mitchellstern commented on #224
Evidently they were added in https://github.com/clab/dynet/commit/1ec1c82e9ebb296896e4457ae24269314fb3f8ff.

[2016-12-25 11:29] shaltielshmid opened #226 "can't initialize python RNN initial state"
When initializing RNN state from vectors (`lstm.initial_state_from_raw_vectors`) or from expressions (`lstm.initial_state(state.s())`) things do not get initialized when a state was already initialized from this builder in the current computation graph. See example below.

[code]

[2016-12-25 11:30] yoavg commented on #226
Confirmed, this is a real bug.

[2016-12-25 15:12] mitchellstern commented on #226
I've encountered this behavior too, but thought it was an artifact of the underlying C++ `RNNBuilder` only supporting a single initial state per computation graph. I don't think you can call `start_new_sequence()` on an `RNNBuilder` multiple times within a single computation graph, since that clears the underlying state DAG of `RNNPointer`s and would lead to state index clashes.

In the meantime,

[2016-12-25 15:25] mitchellstern commented on #226
Some possible alternatives to the current behavior might be:
  * Keep things as they are now, but issue a warning or raise an exception if the cached `self._init_state` being returned was created with a different `vecs` argument than the one passed to the current call of `initial_state()`.
  * Maintain an internal dummy root state, and allow for multiple effective initial states using a strategy l

[2016-12-25 16:14] yoavg commented on #226
thanks @mitchellstern ! I like the second option -- having an internal root state, and using set_s internally when vectors are requested. The user should not care about the weirdness of the underlying c++ implementation if possible.

[2016-12-30 09:28] #218 closed

[2016-12-30 09:29] neubig commented on #178
A new implementation of sum has been created, and it works appropriately on mini-batches, so this is probably not an issue in the most recent code.

[2016-12-30 09:29] #178 closed

[2017-01-04 11:51] pmichel31415 opened #229 "2d Conv and Pooling"
Albeit Dynet is primarly intended for NLP applications, I think it would gain traction if it supported vision specific operations such as 2d conv and pooling (which, to my knowledge, it doesn't).

I have no experience with efficiently implementing these ops in cuda/eigen so if anyone knows/can provide pointers I'd be glad to help.

[2017-01-04 11:56] neubig commented on #229
I agree that would be useful! (The 1D convolutions could also use love as well... I believe they work, but haven't been tested extensively for speed/correctness.)

For the operations on Eigen tensors, the unit tests are the best documentation, so I'd recommend taking a look at `unsupported/test/cxx11_tensor_convolution.cpp` in the Eigen directory.

[2017-01-04 13:51] neubig commented on #154
An alternative VanillaLSTMBuilder is now available, documentation in the "Unorthodox Things" section as of this commit: https://github.com/clab/dynet/commit/7935e794d45607460a4bd5c528f82fd3cf682ce9

[2017-01-04 13:51] #154 closed

[2017-01-04 13:52] neubig commented on #156
Recently there have been a number of speed improvements to DyNet (particularly on GPU with mini-batches). If slow training is still an issue, I'd suggest trying the newest version, and if you're still having problems there is probably something up with the implementation.

[2017-01-04 13:52] neubig commented on #176
Recently there have been a number of speed improvements to DyNet (particularly on GPU with mini-batches). If slow training is still an issue, I'd suggest trying the newest version, and if you're still having problems there is probably something up with the implementation.

[2017-01-04 15:06] neubig opened #230 "Better support for saving/loading some, but not all parameters"
Currently it is not easy to save/load only some of the parameters in the model. It would be nice to have an interface that made this easier.

This is partially related to: https://github.com/clab/dynet/issues/84

[2017-01-05 16:23] pmichel31415 opened #231 "Struct and class names don't appear in doc"
So I've tried to correct this bug a few times to no avail

Basically the sphinx generated doc doesn't show the name of a class/struct as it should (see picture) :

![screenshot from 2017-01-05 11-20-27](https://cloud.githubusercontent.com/assets/10391785/21687985/37f9535e-d339-11e6-9c90-0a8925c16d69.png)

if anyone with previous knowledge on doxygen/breathe/sphinx knows more any help would be welc

[2017-01-05 22:37] neubig opened #233 "Out-of-memory messages are cryptic"
Currently out-of-memory messages are hard to understand because they don't explain the concept of DyNet's fine-grained memory management explained here: http://dynet.readthedocs.io/en/latest/commandline.html

If possible, the message should explain which memory pool ran out of memory, and add a pointer to this doc.

[2017-01-06 14:17] redpony commented on #229
I agree convolutions should be a priority feature. And an example
implementation of one of the models/tasks from (
http://aclweb.org/anthology/D/D14/D14-1181.pdf) would be nice to have. The
implementations should be extremely simple with Eigen since they have added
compete support for convolutions as part of the TensorFlow changes.

On Wed, Jan 4, 2017 at 11:56 AM, Graham Neubig <notifications@git

[2017-01-07 21:10] callsty commented on #165
neubig you need to reopen, it's a bug.
Thx silvianacmp.

[2017-01-08 08:40] HITalexwang opened #234 "How to use UnidirectionalTreeLSTMBuilder in dynet ?"
I'm trying to build an TreeLSTM using dynet with UnidirectionalTreeLSTMBuilder in `treelstm.cc`, however I can't understand how to call the add_input function, and it seems that there are no examples.
The `TheirTreeLSTMBuilder::add_input` in https://github.com/clab/dynet/blob/dynamictreelstms/cnn/theirtreelstm.cc#L121 is comprehensible, the thing I don't understand about the new version is that it

[2017-01-09 15:22] neubig commented on #234
Hi @HITalexwang, thanks for the issue. We're currently considering simplifying the interface for TreeRNNBuilder related things. This might not be ready immediately, but we'll try to add a simplified interface and examples soon.

[2017-01-11 20:55] neubig opened #236 "1D Convolutions not Expected Functionality (Kim 2014)"
(Edited for clarity)
We were taking a look at 1D convolutions now, and it looks like they aren't doing what we would expect according to Kim 2014: http://aclweb.org/anthology/D/D14/D14-1181.pdf

For example, for conv1d, we would expect:
* Input X is a {L,M} matrix.
* There are N filters F, each of size {L,O}.
* The computation result Y is an {N,M-O+1} matrix. Y_{i,j} is equal to the dot product of

[2017-01-12 08:29] MalcolmSun commented on #236
Hi @neubig , does L, M represent the length of each word vector and the length of input sentence respectively? According to Kim 2014: http://aclweb.org/anthology/D/D14/D14-1181.pdf, I think Y[i][j] may be equal to the dot product of filter F[i] and matrix slice X[:,j:j+O] instead of X[:j,j+O].

[2017-01-13 11:43] nsaphra opened #237 "Saveable subclasses trying to save Model"
Is this intended behavior?

Shouldn't Model just be ignored?

If I include the model as an attribute of a Saveable subclass, even when it is not included in get_components, it throws an error indicating that it is attempting to save the model anyway.

Traceback:
[code]

Minimal example:
[code]

[2017-01-13 12:25] yoavg commented on #237
Thanks!

This is currently both the intended behavior **and** an annoying bug (or at least a confusing behavior).

The way saving works is by:
- components (returned by `get_components`) are handled by the dynet loading/saving mechanism.
- **everything else** (things in the object's dict) is handled by python's pickling mechanism (components are specifically removed from the pickling in `__getstat

[2017-01-13 12:44] yoavg commented on #237
Actually, upon more thought, I think the proper way to address this in Python would be to have your own class have its own __getstate__ method that will first call the Saveable __getstate__ and then remove whatever else there is to be removed. And this should probably be documented.

[2017-01-13 18:36] emanjavacas opened #238 "Python Attention Example Correctness"
I am currently working through the examples to get familiar with this interesting library and I've noticed that currently the decode method of the attention network requires the output sequence as input.
Once it decodes a character, the decoder is fed the embedding of the last character in order to proceed.
Wouldn't this mean that the network is always being passed the correct output embedding (in

[2017-01-13 18:57] pmichel31415 commented on #238
In the probabilistic setting it makes sense : you want to maximize the conditional likelihood P(y_m,...,y_1 | x_n,...x_1) where x is the input sequence and y the output.

You decompose it as
![codecogseqn 1](https://cloud.githubusercontent.com/assets/10391785/21941551/4d544966-d997-11e6-8af4-a6250623688e.gif)

(Actually you look at the log likelihood)

Now at each timestep
![codecogseqn 2](https:/

[2017-01-13 18:58] yoavartzi opened #239 "Weird dimension changing behavior"
I noticed a weird behavior when adding two matrices. The dim() seems to be fine, as much as I understand how to read it, but the value() is a vector. The screenshot says it all. This is happening with the most recent version (just updated).

![image](https://cloud.githubusercontent.com/assets/3289873/21941718/27d4a84c-d998-11e6-8f0d-0fbe57be503d.png)

[2017-01-13 19:06] yoavg commented on #239
Confirmed. I will look into it in the following days. Thanks!

[2017-01-13 19:36] yoavg commented on #239
This appears to be a C++ level thing. For some reason the ndims are set to 1 after the addition.

Code example:
[code]

[2017-01-13 19:40] emanjavacas opened #240 "dynet-viz results in typeerror in call to trainer"
Whenever I switched on the `--dynet-viz` flag, I get following error:

[code]
However the code runs normally otherwise.
Any hints?

[2017-01-13 19:44] emanjavacas commented on #238
Yes, that's indeed very helpful!
I kind of got confused with the fact that the attention example calls `decode` to a function that actually does decoding AND computes the loss, and calls `generate` to another one that does decoding too but no loss.
In fact, decoding is done differently at testing (calling the loss-computing `decode` function) than at testing (where the decoding of `generate` is us

[2017-01-13 19:44] #238 closed

[2017-01-13 20:08] yoavg commented on #238
Hi, thanks for noticing, I agree the current naming is a bit confusing -- if you create a pull request with an alternative naming we'll merge it.

[2017-01-13 20:13] neubig opened #242 "Attention Example is Not Efficient, Needs Greedy Decoding"
Currently the attention example is not very efficient, particularly on GPUs. For example, this for loop could be changed so it only does a single matrix multiplication (which can be done only once per sentence):
https://github.com/clab/dynet/blob/master/examples/python/attention.py#L75

Also, here the attention model is randomly generating examples instead of selecting the best one, which is more

[2017-01-13 20:16] yoavg commented on #240
The visualization mock code was not up-to-date with recent changes in trainer, should be fixed now.
Try and close the issue if it is indeed the case.

[2017-01-13 20:18] emanjavacas commented on #238
I guess the decoding logic could be factored out to a function that optionally takes the output sequence, and then if the output sequence is given it does use the true targets for the recursion (otherwise it just uses the prediction). And then the loss can be computed inside the `get_loss` function.

I actually have code that does this as I describe, so I could create a pull request if something l

[2017-01-13 20:40] emanjavacas commented on #240
I rebuilt dynet (also the c++ library) and rerun it and that issue seems to be gone.
However another one shows up:

[code]

[2017-01-13 20:50] yoavg commented on #240
ok, the viz model definitely needs some love. I will look into it in the coming days.

(in case you are interested in how it works, dynet_viz.py has mock objects for all the components in DyNet, that don't perform any computation but instead know how to display themselves nicely. These need some updating because of some updates in DyNet that were not updated in the viz module)

[2017-01-13 20:51] yoavg commented on #238
I'll merge this, but note also #242 , which may be related or even conflicting? (I didn't look at the current attention example code yet)

[2017-01-13 20:56] emanjavacas commented on #238
Yeh, I don't think it will be conflicting. I will create the pull request tomorrow, since it's already beer o'clock at my latitude.

[2017-01-14 19:50] kecsap opened #244 "MNIST example crash with CUDA"
The MNIST example works fine in CPU mode, but it crashes with CUDA. I tested under Ubuntu 16.04: CUDA 8.0+nvidia-375 driver+Geforce GTX 1050 Ti.

[dynet] Device Number: 0
[dynet]   Device name: GeForce GTX 1050 Ti
[dynet]   Memory Clock Rate (KHz): 3504000
[dynet]   Memory Bus Width (bits): 128
[dynet]   Peak Memory Bandwidth (GB/s): 112.128
[dynet]   Memory Free (GB): 4.0764/4.23304
[dynet]
[dyne

[2017-01-14 20:38] yoavartzi opened #245 "KMaxPooling not implemented on CUDA"
Can you implemented the forward/backward passes for KMaxPooling on CUDA?

I get this error when using it:
![image](https://cloud.githubusercontent.com/assets/3289873/21957908/78e4a700-da6f-11e6-8c12-b1b29d9a81be.png)

[2017-01-14 21:10] yoavartzi opened #246 "Intel MKL-DNN open source library"
Any plans to support Intel MKL-DNN open source library?
https://github.com/01org/mkl-dnn

They claim to have similar functionality to MKL, but it's open source. Unfortunately, they do say the API is different.

Thanks

[2017-01-14 21:35] neubig commented on #245
See also: https://github.com/clab/dynet/issues/158

KMaxPooling is not trivial on GPU because the KMax operation is not implemented in Eigen (AFAIK), and not super-easy to write a CUDA Kernel for. This is something that would be nice to have though.

[2017-01-14 21:39] yoavartzi opened #247 "CMake requires the full Eigen path in some environments"
In some environments, the [installations script](http://dynet.readthedocs.io/en/latest/python.html) fails. CMake seems to require the full path for Eigen, and not the relative one. I couldn't figure out why it happens in some environments and not others. Maybe worth adding a note.

[2017-01-14 21:46] yoavartzi commented on #245
There are some implementation of convolutional nets using Eigen ([this one](https://github.com/TorontoDeepLearning/convnet/blob/4ae77c04e898643bb476e0604fab5682f23069d7/cudamat/cudamat_conv_others.cu#L3685) came up). Any chance some code can be adapted from there?

Personally, I am more interested in MaxPooling rather than KMaxPooling.

[2017-01-15 17:50] zhang-wen commented on #156
@neubig  hi , you are welcome, i will try again and test the training speed, let you know,  thank you very much.

[2017-01-16 10:28] emanjavacas commented on #242
I've been looking into this example and I've also done some refactoring (see PR #243) which does not affect the issue you mention - I would have time to do what you propose though and perhaps add it to the standing PR, although I'd probably need some help here with dynet matrix operations.

For a) I imagine this will imply a matrix-matrix-multiply of matrix `w1` (repeatedly concatenated `n` times

[2017-01-16 12:24] neubig commented on #246
I think the answer to this is basically "we likely won't be supporting it unless Eigen supports it". Currently the way we use MKL is by telling our up-stream matrix/tensor math library Eigen to use MKL, and make no changes to the DyNet code itself. In interest of ease of maintenance this is probably the best we can do, but if you or someone else wants to step up and both: 1) provide convincing ben

[2017-01-16 12:26] neubig commented on #165
I'm going to close this issue in favor of the more direct one here: https://github.com/clab/dynet/issues/247
(I do agree this is a bug though, and we'll try to fix, or at least document, it)

[2017-01-16 12:26] #165 closed

[2017-01-16 13:12] talbaumel opened #248 "Better mini-batching documentation regarding dimensions"
I'm trying to create an attention based RNN that uses batches
But I'm having a weird multiplication error

_attention_weights = matrix size of lstm_length*batch_size
input_vectors = a lstm_length items list each item is state_size*batch_size_

When running the following code:
output_vecs = [vector*attention_weights[i, batch_len] for i, vector in enumerate(input_vectors)]
I get the error:
_libc++ab

[2017-01-16 14:00] callsty commented on #165
Thank you neubig for your work :)

[2017-01-16 14:34] neubig commented on #248
First, I've added some slightly better doc on minibatching, so please take a look here, this may clear things up and solve your problem:
http://dynet.readthedocs.io/en/latest/minibatch.html

As a separate problem, this error message is confusing because the description of the dimensions is not very verbose. `{10x2}` actually means "a length 10 vector over two sentence", while you're interpreting i

[2017-01-16 14:42] neubig commented on #242
Thanks, this would be great!

For a), this basically means we calculate `w1dt = w1 * dy.concat_columns(input_vectors)` once at the beginning of the sentence, then replace: the loop over `attention_weight = v*dy.tanh(w1*input_vector + w2dt)` with a single `attention_weights = v*dy.tanh(dy.colwise_add(w1dt, w2dt))`

For b), yes that's right (although I wouldn't call argmax sampling).

[2017-01-16 14:57] talbaumel commented on #248
Thanks, any idea how I can multiply them?
When iterating over _attention_weights_ I received a vector of correct length but only one value was correct and the were zeros

Example:
_[a.npvalue() for i,a in zip(input_vectors, attention_weights)]_
Will return:
_<class 'list'>: [array([[ 0.46245694,  0.        ]]), array([[ 0.53754306,  0.        ]])]_
When _attention_weights_ doesn't contain any zero

[2017-01-16 15:18] jkkummerfeld commented on #148
Brief update - the main point of this issue is still true. However, the first two warnings (` warning: private field 'cg' is not used`) are no longer present.

[2017-01-16 15:54] neubig commented on #148
Thanks! I haven't gotten around to doing this, but I'll be happy to incorporate a pull request.

[2017-01-16 16:28] pmichel31415 commented on #244
Hi, thank you for spotting this.

Seems like the problem occurs on the pickneglogsoftmax node.

Unfortunately I have no access to a GPU right now so I can't diagnose this further.

One thing you can try  is changing pickneglogsoftmax for log + softmax nodes to see if the problem persists.

If you find the solution a pull request will be appreciated

[2017-01-16 16:59] kecsap commented on #244
Can you advice how can I do it by modifying mlp.h? When I read the source codes, it seemed to me that pickneglogsoftmax() is the only usable loss function because this is the only one which takes two arguments to calculate a difference.

[2017-01-16 17:28] pmichel31415 commented on #244
I was thinking of decomposing like this :

    Expression p = softmax(y)
    Expression p_picked = pick(p,labels)
    Expression losses = - log(p_picked)

Then you can see which part is at fault

[2017-01-16 21:57] kecsap commented on #244
After recompiling the latest master, the crash disappeared.

[2017-01-16 21:57] #244 closed

[2017-01-17 04:17] yoavartzi opened #252 "Saveable with a list or Parameter trying to pickle the Parameter objects"
I have an MLP class (see below) with a flexible number of hidden layers. The Parameter objects of the hidden layers are stored in a list. When saving, it tries to pickle the items in `self._hidden_layers` and `self._hidden_layers_bias`. This throw an exception.

[code]

[2017-01-17 11:11] leondz opened #253 "Install on Linux fails with "static assertion failed: YOU_MADE_A_PROGRAMMING_MISTAKE""
Trying to install on Ubuntu 16.04 LTS, with a Thinkpad T430 (NVidia card disabled), cmake runs fine but make fails.

To reproduce:

$ git clone https://github.com/clab/dynet.git
$ cd dynet
$ cmake .
$ make

Error log follows - any ideas?

[code]

[2017-01-17 13:24] neubig commented on #253
Hmm, I wasn't able to reproduce with the latest version of DyNet using the latest versions of g++ and cmake on Ubuntu 16.04:

g++ --version

cmake --version

It worked for both the latest version of Eigen and the one specified in the installation instructions. Do any of these settings look different than yours?

[2017-01-17 14:42] leondz commented on #253
My g++ and cmake versions matched those precisely, though I'd missed installing Eigen (revision 346ecdb as recommended) on this machine. Now the build completes. Thanks.

[2017-01-17 14:42] #253 closed

[2017-01-17 16:03] neubig commented on #246
I'm going to close this for now, just because it's not likely to happen unless there is a champion, but if a champion arrives I'll be happy to consider it :)

[2017-01-17 16:03] #246 closed

[2017-01-17 16:05] neubig commented on #236
@MalcolmSun Thanks for the catch. I just had gotten my slice notation wrong. I've fixed the original post.

[2017-01-17 21:16] napsternxg opened #255 "Setting dynet memory in jupyter notebook, using an API"
I couldn't find a way to set the memory of dynet in jupyter notebook. I have resorted to the following hack:
[code]

Is there a better way to set the memory while working from the notebook?

[2017-01-18 10:32] stepelu commented on #247
I confirm it's failing on latest OSX + brew.

[2017-01-18 15:24] neubig commented on #247
Haven't had time to try this, but maybe this could solve the problem? http://stackoverflow.com/questions/39027269/cmake-convert-relative-path-to-absolute-path-with-build-directory-as-current-d

Pull requests welcome!

[2017-01-18 21:40] pmichel31415 commented on #255
Hi,

I'm working on making this available like in the c++ code, expect a pull request by tomorrow if everything goes well.

[2017-01-19 13:56] neubig opened #260 "Need Python Batching Example"
This should be added to the official DyNet examples:
https://github.com/neulab/dynet-benchmark/blob/master/dynet-py/rnnlm-batch.py

[2017-01-20 22:50] pmichel31415 opened #262 "Glorot initialization not quite right for sigmoids and ReLUs"
I think the Glorot initialization is not quite right for sigmoids, and in general for any function that does not satisfy

![codecogseqn 2](https://cloud.githubusercontent.com/assets/10391785/22168023/f4952236-df37-11e6-9fd9-781b2bf1bca3.gif)

near 0. which is true for the tanh but not for the sigmoid (![codecogseqn 3](https://cloud.githubusercontent.com/assets/10391785/22168056/2e838258-df38-11e6-

[2017-01-20 23:02] neubig commented on #262
Nice catch! Yes, I think we should fix this. If I remember correctly a lot of other toolkits separate the Glorot and He methods, right? Eventually (maybe not necessarily in this issue?) we'll probably want to add HeNormal as well.

[2017-01-22 10:40] zhang-wen commented on #156
@neubig  hi, neubig, can you show me your training code ? i try the newest version, but it is the same , very slow, may be my code have some problems, because i use mask, what do you mean by 1000 words/sec, it includes the time of forward , backward and update calculation ?

[2017-01-22 14:53] #148 closed

[2017-01-22 14:55] ikekonglp commented on #148
Thanks! I checked this. It should be a redundant if statement and I put the thing into the main for loop.

[2017-01-22 15:58] jkkummerfeld commented on #148
Ok!

[2017-01-22 22:52] chaitanyamalaviya commented on #233
As a suggested improvement, It would be really nice if out-of-memory messages either said something about the required amount of memory for each pool or if the required amount of memory was automatically allocated without the need for a dynet-mem argument.
There are issues training large models, and I never know whether reducing the minibatch size, or reducing the vocab size/hidden dimension sizes

[2017-01-23 13:11] neubig commented on #233
Yes, these are all good suggestions. Thanks!

I agree that this would be really nice to have, but it's not trivial to implement, especially without making breaking API changes or complicating the interface. It might be possible though, so if anyone is willing to champion this I could talk about the details.

This will be solved to some extent by fixing the error messages. At least you'll be able t

[2017-01-23 14:37] neubig commented on #260
(The main sticking point now is that the code in the above link is totally different from the `rnnlm.py` example in the examples directory now. They should be as similar as possible.)

[2017-01-23 14:41] neubig commented on #156
Sure, here are some reference implementations of machine translation implemented in DyNet:
https://github.com/clab/dynet/blob/master/examples/python/attention.py
https://github.com/neubig/lamtram
https://github.com/odashi/nmtkit

[2017-01-23 14:43] neubig commented on #242
Fixed by https://github.com/clab/dynet/pull/257

[2017-01-23 14:43] #242 closed

[2017-01-23 18:55] chaitanyamalaviya commented on #233
Thanks! I will try your suggestion to add debug messages in exec.cc first.

[2017-01-23 21:25] stefan-it opened #266 "fatal error: mm_malloc.h: No such file or directory on ARM64"
Hi dynet-users,

I tried to compile the latest `dynet` version on ARM64. I got the following error message:

[code]

I could reproduce this error on two ARM64 systems:

* NVIDIA Jetson TX1 with Ubuntu 16.04 and GCC 5.4.0
* ODROID-C2 with Arch Linux and GCC 6.2.1

I guess it has something to do with the following macro defined in `mem.cc`:

[code]

As a temporary workaround I removed the `!_Windows

[2017-01-25 02:56] easonnie opened #268 "python3 gpu make failed"
I was making dynet with GPU (cuda-backend).
`cmake` works fine.
`make -j 2` could not work through.

My system is Ubuntu 16.04.

Any suggestion? Really appreciate!

[code]

[2017-01-25 03:04] neubig commented on #268
It looks like you might be installing with anaconda? I think perhaps anaconda has installed boost, but not the international components for unicode (icu). Could you try to do `conda install icu` and see if this fixes anything? (According to this page you might have to use conda-forge: https://anaconda.org/conda-forge/icu)

[2017-01-25 03:17] neubig commented on #266
It looks like `aligned_malloc` might work on C++11: http://stackoverflow.com/questions/32612881/why-use-mm-malloc-as-opposed-to-aligned-malloc-alligned-alloc-or-posix-mem

Does this work in your environment? (It looks like you have to swap the order of arguments, so be careful to do so)

[2017-01-25 05:39] chaitanyamalaviya commented on #268
I got around this issue by removing the march=native flag from CMakeLists.txt.

[2017-01-25 15:24] MalcolmSun commented on #236
Hi @neubig , I am attempting to modify the 1D convolution operation. To the best of my knowledge, 1D convolution is between two 1D sequences, the convolution in Kim 2014 seems like a 2D convolution operation in computer vision. So I decide to implement 2D convolution function wich supports padding and stride. What do you think about it?

[2017-01-25 15:57] easonnie commented on #268
@neubig
After installing icu `conda install -c conda-forge icu`, I got same error.
[code]
[code]

[2017-01-25 16:08] neubig commented on #268
Hmm, well this:

is indicating that some libraries are not being found (you can see their name in the error message). This is hard for me to debug without being able to reproduce the problem, but you can:
1) Try @chaitanyamalaviya 's proposed solution.
2) Contact the anaconda people about this. It might be a problem with the upstream anaconda environment.
3) Try to install DyNet without using anac

[2017-01-25 16:56] karlstratos opened #270 "abort to exception"
Right now dynet calls abort when it runs into problems , for example: https://github.com/clab/dynet/blob/ddc9253bdc39d2d17b583d9809d08d0835b13f44/dynet/aligned-mem-pool.h#L42.

This is problematic when dynet's being used as part of a larger system.  One way to address it is to replace all abort calls with throw runtime_error (with whatever message printed to sterr) and catch it somewhere else (pos

[2017-01-25 19:40] neubig commented on #270
Yes, this is something that would be excellent to have, but it's a duplicate with this one:
https://github.com/clab/dynet/issues/139

If you're willing to help out with this, we'd really appreciate it!

[2017-01-25 19:40] #270 closed

[2017-01-25 20:26] neubig commented on #236
Hi @MalcolmSun , yes we've had some discussions about this offline and basically the current understanding is this:
1) Kim 2014 is basically a 2D convolution where the height of the filter is equal to the word embedding. So to answer your question, yes it would be sufficient for you to implement the more general class of 2D convolutions, and it would be greatly appreciated.
2) The 1D convolution i

[2017-01-25 20:36] pmichel31415 commented on #236
@MalcolmSun @neubig Just to give my understanding :

I think you should not consider the embedding dimension as the "second dimension" of the convolution.

To me it is more like the number of channels that you have in an image (R, G, B, alpha,...), or like a "depth" and you only "shift" the filter along 1 dimension : the time dimension

So

- 1D dimension = filters have the shape [temporal span]x[

[2017-01-25 20:52] neubig commented on #236
@pmichel31415 Thinking about channels is a good idea. Just putting this out there, but can we make convolutions general where the filter has the same number of dimensions of the input, and convolutions are shifted along all dimensions where the size is less than the input? In the case of channels, the filter width along the "channel" dimension is equal to the number of channels, so we don't do any

[2017-01-25 21:10] dbc148 commented on #236
I like the idea of having it be essentially an n-dimensional convolution, but it still might be a good idea to use it to make conventional conv2d and conv1d operators available for ease of use.  I think we'd have to do this manually, though, along the same way you implemented conv1d but just covering all of the dimensions, as I don't think eigen supports anything higher than conv2d+channels.

[2017-01-26 11:43] elikip opened #271 "Problems with Loading VanillaLSTM Saved model"
Hi,

I am trying to load a VanillaLSTM from a file I saved to the disk earlier. When I attempt to use the LSTM to encode a sequence I get the following error:
  what():  Bad dimensions for AffineTransform: [{400} {400,144} {144} {400,100} {0}]

The python line in my code causing the crash is:
for entry, flstm, rlstm in zip(sentence, fwState.add_inputs(wembds), reversed(bwState.add_inputs(reversed(

[2017-01-26 15:26] pmichel31415 commented on #271
Hi, it seems like the first hidden state of your LSTM fails to initialize. I see 2 resons for this :

- Did you call `.initial_state()` on your two states fw and bw?
- Did you save the model with the same version of Dynet? For ~1 week there was a bug in VanillaLSTM for serialization

[2017-01-26 17:28] elikip commented on #271
Hi, I indeed used the routine you mentioned in the first bullet. I also pulled the lastest version last night and used it both to train and load the model.

[2017-01-26 18:07] pmichel31415 commented on #271
Oh OK then seems like it is a bug. I'll look into it, do you have a minimal code snippet I can use to reproduce the error? Thanks!

[2017-01-26 21:09] elikip commented on #271
The code below produces a different error, but also related to loading a model file containing a VanillaLSTMBuilder.

import dynet as D

 model = D.Model()

 lstm = D.VanillaLSTMBuilder(1, 10, 10, model)
 #lstm = D.LSTMBuilder(1, 10, 10, model) # Uncomment this line for the bug to disappear
 invec = D.inputVector([0.0 for _ in range(10)])

 lState = lstm.initial_state()
 res =lState.add_inputs([in

[2017-01-26 22:07] stefan-it commented on #266
Hi @neubig , thanks for your reply! Here's one possible explanation:

On e.g. Ubuntu the `mm_malloc.h` can be found in the filelist of [libgcc-5-dev](http://packages.ubuntu.com/de/xenial-updates/amd64/libgcc-5-dev/filelist) for *am64*.

For the *arm64* package of `libgcc-5-dev` it's [missing](http://packages.ubuntu.com/de/xenial-updates/arm64/libgcc-5-dev/filelist).

So I tried compiling `dynet` w

[2017-01-27 06:07] keruimin opened #273 "Only single core for DyPy CPU version?"
I installed DyNet (without CUDA) as described in the install doc. It seems that, however, the implementation only use 1 core for computation. Is it possible to take advantage of multi-core in current implementation?

[2017-01-27 12:28] neubig commented on #273
See this post for more information:
https://groups.google.com/forum/#!topic/dynet-users/U9B_wFRJXZ8

We also have an issue open about letting forward and backward run in a threadpool without MKL:
https://github.com/clab/dynet/issues/33

[2017-01-27 12:28] #273 closed

[2017-01-29 11:41] danielhers commented on #252
I tried out your code (in Python 3) but it doesn't work because it's trying to modify a `range` object, which is immutable. Having changed `__init__` to the following:

    def __init__(self, model, in_dim, hid_dim, out_dim, num_hidden, non_lin = dy.tanh):
      self.model = model
      self._input_layer = model.add_parameters((hid_dim, in_dim))
      self._input_layer_bias = model.add_parameters(

[2017-01-29 11:52] danielhers commented on #271
I tried out your code and it runs without an error:

[code]

[2017-01-29 13:16] danielhers opened #274 "boost::archive::archive_exception loading BiRNNBuilder"
The following code fails:
[code]
Getting this error:
[code]
It's not clear from this error message what the problem is, but it seems to happen after initializing the loader ("done 44").

[2017-01-29 13:41] danielhers commented on #274
A version of DyNet from 6 days ago didn't have this problem, so apparently it was introduced since then.

[2017-01-30 15:27] pmichel31415 commented on #274
OK I think I've located the problem, I introduced this bug with the dropout pull request.

As a hotfix I can disable the serialization of a bunch of new fields in LSTMBuilders. This will make it impossible to store different dropout rates but at least it will be backward compatible.

[2017-01-30 17:00] karlstratos opened #278 "free memory allocated by dynet::initialize"
Is there a way to explicitly free all memory allocated to dynet upon initialization? I don't think cleanup() does it.

(#110 says there's no way to free memory allocated to a model, but I'm wondering if there's a way to deallocate everything.)

[2017-01-30 21:28] danielhers commented on #274
I don't mind updating my code, but at least make it clear what should be
changed and make the error message clear. It's not a problem with loading
an old model; it's right after saving it.

On Mon, Jan 30, 2017, 17:27 Paul Michel <notifications@github.com> wrote:

[2017-01-31 15:19] danielhers commented on #274
Thanks, fixed.

[2017-01-31 15:19] #274 closed

[2017-01-31 17:09] neubig commented on #271
@elikip could you give us a bit more info on the environment in which the bug occurs? Version of DyNet, boost, Eigen, compiler, OS.

[2017-01-31 18:40] elikip commented on #271
Sure, sorry for my delayed response.
I think that the error I encountered when running the python code I attached is connected to my Eigen version. The output I received is:

Regarding the first error I mentioned in the thread, it's a little tricky to synthesis a minimal code snippet in which this bug happens. I will do my best and hopefully I will attach such code it to this thread soon.

Regardi

[2017-02-01 15:33] elikip commented on #271
I managed to change the bilstmtagger.py from DyNet's official python examples to work with VanillaLSTMBuilder and got the same error when trying to load the model (when using the old LSTMBuilder the model loads without difficulties):

The code can be downloaded from https://www.dropbox.com/s/xb59atgybzr7efc/bilstmtagger.py?dl=0
I wrote the code quickly, so I am sorry for the code quality.. You can

[2017-02-01 15:41] RobRomijnders commented on #255
How did this end up

[2017-02-01 15:53] pmichel31415 commented on #255
Hi I did a pull request regarding this ( #258 ) but it's still waiting for @yoavg 's approval.

If it's urgent you can clone directly my branch https://github.com/pmichel31415/dynet/tree/python_params (I just put it up to date with the master branch)

[2017-02-01 16:09] pmichel31415 commented on #271
Can you also provide sample data files and your util.py?

[2017-02-01 16:14] RobRomijnders commented on #255
Thanks, trying that now

[2017-02-01 16:21] RobRomijnders commented on #255
I'm getting AttributeError

`AttributeError: 'module' object has no attribute DynetParams`

[2017-02-01 16:25] pmichel31415 commented on #255
Hmm weird it works for me. Have you tried running it from the build/python folder of this fork? If it works then it's probably because your  environment variables point to the master branch

[2017-02-01 16:27] RobRomijnders commented on #255
Thanks for the fast responses!
How would that work? Both
`git clone https://github.com/pmichel31415/dynet/tree/python_params` and
`git clone https://github.com/pmichel31415/dynet/tree/python_params.git`
result in errors for me.

So I ended up doing
`git clone https://github.com/pmichel31415/dynet.git`

[2017-02-01 16:30] pmichel31415 commented on #255
Oh ok i thought it would clone the branch directly my bad.

Then

    git clone https://github.com/pmichel31415/dynet.git
    git checkout python_params

Or maybe

    git clone -b python_params https://github.com/pmichel31415/dynet.git

should do the trick

[2017-02-01 16:31] RobRomijnders commented on #255
Checking that now:)

[2017-02-01 17:06] RobRomijnders commented on #255
Works! Thank you!

[2017-02-01 18:30] pmichel31415 commented on #255
Great. If you ever have the opportunity to test the gpu parameters, let me know if they work, I currently don't have access to a gpu.

[2017-02-01 19:47] DevSinghSachan opened #280 "installation issues on Cuda 8.0"
I am getting the following error on this command
cmake .. -DEIGEN3_INCLUDE_DIR=$PATH_TO_EIGEN -DPYTHON=$PATH_TO_PYTHON -DBACKEND=cuda

Could NOT find CUDA (missing: CUDA_INCLUDE_DIRS CUDA_CUDART_LIBRARY) (found
  version "8.0")

[2017-02-01 19:49] chaitanyamalaviya commented on #280
Did you try adding the -DCUDA_TOOLKIT_ROOT_DIR flag to cmake?
as specified here: http://dynet.readthedocs.io/en/latest/python.html#gpu-mkl-support

[2017-02-01 21:11] RobRomijnders commented on #255
Sure, I'm happy to help too. How could I test that?

[2017-02-01 22:06] DevSinghSachan commented on #280
Yes, I tried, but it didn't work.
Here is the complete error log,
devendra@devendra:~/dynet-base/dynet/build$ cmake .. -DEIGEN3_INCLUDE_DIR=/home/devendra/dynet-base/eigen -DPYTHON=`which python` -DBACKEND=cuda -DCUDA_TOOLKIT_ROOT_DIR=/usr/local/cuda-8.0/
-- Boost version: 1.54.0
-- Found the following Boost libraries:
--   program_options
--   regex
--   serialization
-- Boost dir is /usr/include

[2017-02-01 22:17] pmichel31415 commented on #255
I think running a simple example (like linear regression) with `dyparams.set_requested_gpus(1)`with a GPU enabled build and check that the GPU is actually used would be sufficient.

[2017-02-01 22:17] elikip commented on #271
You can download util.py from the following link: https://raw.githubusercontent.com/clab/dynet/master/examples/python/util.py
I modified the code to generate its own data randomly, so there is no longer need for sample data files. You can use the same link to download the code.

[2017-02-02 02:27] neubig commented on #280
Hi @DevSinghSachan , could you try to set the following environmental variable (assuming you are using bash) `export CUDA_ROOT=/usr/local/cuda-8.0/`, then remove `-DCUDA_TOOLKIT_ROOT_DIR=/usr/local/cuda-8.0/` from your command line?

[2017-02-02 02:30] neubig commented on #278
Hi @karlstratos , generally, this will involve deleting the `Device` objects in the global variable `dynet::devices` (declared in `globals.h`). But actually, looking at the `Device` destructors, they are not implemented, so it's impossible to free memory at this point, and `Device` objects cause a memory leak when they go out of scope. This is definitely not desirable behavior, so I'll mark this a

[2017-02-02 02:31] neubig commented on #268
Hi @easonnie , have any of the above measures worked out?

[2017-02-02 02:59] DevSinghSachan commented on #280
Hello Prof. @neubig .
I tried the above suggested modification, but the same error message is coming as indicated above.
Also, here are the some lines in my .bashrc file
export PATH=/usr/local/cuda-8.0/bin:$PATH
export LD_LIBRARY_PATH=/usr/local/cuda-8.0/lib64:/usr/local/cuda-8.0/extras/CUPTI/lib64:$LD_LIBRARY_PATH

Also, tensorflow 0.12.1 gpu version is working fine with above settings.

[2017-02-02 03:17] neubig commented on #280
@DevSinghSachan Hmm, I'm actually stumped on this one. Could you try to ask people on the cmake mailing list about this, can you create a minimal `CMakeLists.txt` file such as the one on this page:
https://cmake.org/examples/

then add `find_package(CUDA REQUIRED)` to the end and see if this still breaks cmake? If it does, I think you could ask the cmake mailing list and they might be able to help

[2017-02-02 06:54] DevSinghSachan commented on #280
@neubig I was able to fix this problem.
Actually, I installed the CUDA 8.0 using dpkg installer, but someone files in the include directory were missing. So the cmake was showing errors.
I installed the missing lib files using .run installer for cuda-8.0 .
After that, Dynet gpu installation worked fine and I am able to run the gpu codes in dynet.

Thanks!!

[2017-02-02 06:54] #280 closed

[2017-02-02 10:58] yoavg commented on #278
I don't know what your usecase is, but as an (ugly...) work around, you
could initialize dynet in a forked process.

On Thu, Feb 2, 2017 at 4:30 AM, Graham Neubig <notifications@github.com>
wrote:

[2017-02-03 06:56] anglil opened #281 "How to specify the location of Boost libraries"
How to give a custom boost path to Dynet installation?
Thanks. -Angli

[2017-02-03 06:57] neubig commented on #281
http://dynet.readthedocs.io/en/latest/install.html#non-standard-boost-location

[2017-02-03 06:57] #281 closed

[2017-02-03 19:08] chaitanyamalaviya opened #282 "Installation issue on AWS"
I am trying to get dynet-gpu working on an AWS machine using the Deep Learning AMI image. While running make, I face an error when the dynet examples are being linked. After some searching, it seems that the issue may be resolved by adding -lboost-serialization flag to g++. I am using boost version 1.62.0.
I haven't figured out how to fix this yet though. Here is the error log, which is repeated w

[2017-02-04 04:02] neubig commented on #282
Can you try to follow this and send your `make.log` file? http://dynet.readthedocs.io/en/latest/install.html#debugging-build-problems

[2017-02-04 04:30] chaitanyamalaviya commented on #282
Here is the make.log file:
[make.log.txt](https://github.com/clab/dynet/files/752015/make.log.txt)

[2017-02-05 22:45] jkkummerfeld opened #283 "Just-in-time parameter updates"
I noticed in the DyNet paper (https://arxiv.org/pdf/1701.03980v1.pdf) on page 19 that just-in-time parameter updates are mentioned, and Pegasos is cited. Two notes:

1 - My understanding is that AdaGrad does actually require an update to weights with zero gradient. However, they can also be implemented just-in-time as described in [http://aclweb.org/anthology/D/D15/D15-1032.pdf](http://aclweb.org/

[2017-02-05 22:56] neubig commented on #283
Hi @jkkummerfeld . This is something we've talked about, and it would definitely be nice to have. The reason why this ended up getting put on the back-burner because we couldn't think of an easy way to do this without complicating the programming interface. If there's a way that we could do this without making things more complicated for users I think it'd be something worth considering, but I'm n

[2017-02-05 23:12] neubig commented on #282
@chaitanyamalaviya I'm not sure, but I suspect that this might be a problem that is caused by finicky versions of gcc that require a particular ordering of libraries in the command line (you must position a library earlier in the command line than the libraries it uses). I made a new branch that could potentially fix the problem here: https://github.com/clab/dynet/tree/fix-cuda-linker (the `fix-cu

[2017-02-06 04:43] chaitanyamalaviya commented on #282
Thanks for taking a look! I tried the above but the same error persisted..

[2017-02-06 15:44] pmichel31415 commented on #282
FYI I encounter the same problem on my machine (and the fix didn't work).

The following worked however (with cuda 7.5) :

   CC=gcc-4.9 CXX=g++-5 cmake .. -DEIGEN3_INCLUDE_DIR=/path/to/eigen -DBACKEND=cuda

TL;DR : use gcc 4.9 but g++ 5, also compile your programs with g++-5

Hope that helps

[2017-02-06 16:19] pmichel31415 opened #284 "Segmentation fault in Expression::value() CUDA in LSTMBuilder"
I finally managed to install dynet with CUDA but now I get a segfault when I try to retrieve the value of the output of a LSTMBuilder (I seem to have the same problem with VanillaLSTMBuilder).

Here's a minimal example (works when compiled for CPU, not for GPU) :

    #include "dynet/nodes.h"
    #include "dynet/dynet.h"
    #include "dynet/lstm.h"
    #include "dynet/expr.h"
    #include <iostrea

[2017-02-07 04:25] rasoolims opened #285 "Question: padding and LSTM"
Hi,
Do we always need padding for LSTM? For example, if the LSTM output is concatenated to another vector and the concatenated vector is fed to a MLP?
Thanks

[2017-02-07 15:27] yoavartzi commented on #252
I modified it to remove some stuff, and probably broke it. Sorry for it

Maybe the issue was fixed.

[2017-02-07 16:21] pmichel31415 commented on #271
Hi I tried your code and it ran without problem.

I first ran with test=False and saved the model after 100 iterations, then ran with test=True and got :

    [dynet] random seed: 2030827761
    [dynet] allocating memory: 1024MB
    [dynet] memory allocation done.
    loading model
    done 14
    0.626914778857

All this with MLP=True and Vanilla=True

[2017-02-07 23:01] elikip commented on #271
Hmm.. Is it possible that the problem is something related to the Intel MKL package I am using? Did you try to run my script with the same git version as I did? With Intel MKL?

[2017-02-07 23:05] neubig commented on #271
The most likely culprit is the version of Boost, so if people who have run this could confirm the version of Boost that might be helpful.

[2017-02-08 08:01] danielhers commented on #271
I use Boost 1.62, without MKL.

[2017-02-08 14:41] pmichel31415 commented on #271
I use Boost 1.58 without MKL (on ubuntu 15.04)

[2017-02-08 19:40] neubig commented on #84
We are currently considering a YAML-based approach to improving model saving/loading in DyNet. Using a library such as this may be useful: https://github.com/jbeder/yaml-cpp

[2017-02-09 16:02] xunzhang commented on #84
I think YAML format is more readable and easy to maintain as an independent module. By using these popular formats we could also deal with different languages. But I suggest considering some official libraries together with their performance.

Since this work relates to lots of development and refactoring work, please try to give a proposal first(for example, use YAML format..) and then people fro

[2017-02-09 21:03] #247 closed

[2017-02-09 21:27] neubig commented on #84
Thanks for the comment @xunzhang . I did post this in hope of keeping people informed. One thing that we've been thinking about a little bit is whether to rehaul the overall model saving/loading API, or to just do a simple fix of the current code. Here are details of the two options:

--- Simple fix
Probably the shortest path to doing this would be to re-write something very similar to boost::arch

[2017-02-09 23:16] jplalor commented on #268
I had to manually set the boost and icu versions to fix the same error:

[code]

[2017-02-10 08:40] anglil opened #292 "dynet is out of memory"
Hi, I am building a language model using the dynet c++ API. After training the model for a little while, I got the following message:

dynet is out of memory, try increasing with --dynet-mem (current capacity: 178257920)
Aborted

How should I use that argument in the c++ code (How to allocate more memory for backward, forward and parameters, basically)? Thanks.

-Angli

[2017-02-10 09:37] PassStory opened #293 "Does dynet support one GPU now?"
hi, only using one GPU is a little slow, can dynet support one more GPU now?

[2017-02-10 11:00] nsaphra opened #294 "misleading minibatch documentation?"
In the minibatch [documentation](http://dynet.readthedocs.io/en/latest/minibatch.html), the following line appears in the examples:

[code]

I came away with this with the impression that soft max has to be performed before `pickneglogsoftmax`, but I had assumed that the soft max operation happens inside the picking function here. Assuming the intuitive thing that this function combines the soft m

[2017-02-10 12:53] neubig commented on #293
No, unfortunately it doesn't. See this issue: https://github.com/clab/dynet/issues/92

This is something we definitely want to fix, and may be fixing in the near future, but for now I'll close this issue because it's a duplicate.

[2017-02-10 12:53] #293 closed

[2017-02-10 13:16] neubig commented on #292
Hi @anglil , you can take a look here for more info about how to increase memory: http://dynet.readthedocs.io/en/latest/commandline.html

On a related note, I also made the error reporting a bit more verbose so you can now tell which of the three DyNet memory pools is running out of memory. Please pull the latest version for a slightly more easy-to-understand error message.

[2017-02-10 13:16] #292 closed

[2017-02-10 13:17] neubig commented on #233
The original problem has been fixed by this commit:
https://github.com/clab/dynet/commit/9db3d0581b99d4d2aace463d4e0515e0f21d2bb2

DyNet now reports which memory pool ran out of memory, and provides a link to the command line options.

[2017-02-10 13:17] #233 closed

[2017-02-10 14:56] pmichel31415 commented on #294
Yes I think you're right,
this is a double softmax according to the doc on [pickneglogsoftmax](http://dynet.readthedocs.io/en/latest/operations.html#_CPPv2N5dynet4expr17pickneglogsoftmaxERK10Expressionj) (and looking by the implementation too)

[2017-02-10 16:12] neubig commented on #294
Yes, this was a bug. Fixed by: https://github.com/clab/dynet/commit/c1106a1e7fffaa9b3e01f90714dfe0ed3bc205e0

Thanks for pointing it out!

[2017-02-10 16:12] #294 closed

[2017-02-11 17:04] ilkerkesen opened #298 "Installation Problems on Ubuntu 16.04.1 LTS"
Hi all,

I am trying to install DyNet on Ubuntu 16.04.1 LTS by following instructions on the official documentation. However, I am facing with some problems. Thanks to [this issue](https://github.com/clab/dynet/issues/282#issuecomment-277721147), I was able to setup DyNet on my server. However, when I try to run the example mentioned in the docs, I get a _Segmentation Fault (core dumped)_ error. I

[2017-02-12 03:05] neubig commented on #298
It looks like @pmichel31415 also complained of segfaults in the upstream issue, so maybe this is the same problem? If so, it would be very nice to get this resolved.

[2017-02-13 07:37] jihelhere commented on #294
The bug is also present in the technical report on Arxiv (Fig. 1 lines 13 and 14)

[2017-02-13 15:27] iamyoungjo opened #300 "GPU (backend cuda) build problem"
I am having problem on build with BACKEND=cuda. My system is OS X (10.11.6 El Capitan)
cmake works fine, once I do "make -j 4", it returns following error:

As I use GPU in tensorflow without any issues, I doubt that my CUDA setting has not done or something.

I searched similar issues here but I am the only person who's having this issue as it seems.
There's no issue on compilation if I don't put

[2017-02-13 15:43] neubig commented on #300
I was able to replicate this, so I'll try to figure out the problem.

[2017-02-13 16:03] neubig commented on #300
This is potentially fixed by https://github.com/clab/dynet/pull/301

Could you try this out and see if this fixes the problems?

[2017-02-13 16:27] iamyoungjo commented on #300
I just tried, and it shows a different error:

[make.log.zip](https://github.com/clab/dynet/files/771669/make.log.zip)

[2017-02-13 16:40] iamyoungjo commented on #300
Any possibility that I am missing any library? Here'e my sample run for cuda setting validity check.
[cuda_test.log.zip](https://github.com/clab/dynet/files/771711/cuda_test.log.zip)

[2017-02-13 19:08] iamyoungjo commented on #300
@neubig any ideas? I am still stuck in there..

[2017-02-13 20:36] pmichel31415 commented on #231
Fixed by #302

[2017-02-13 20:36] #231 closed

[2017-02-14 01:51] xunzhang commented on #300
@iamyoungjo According to your log, the reason why it is still failing is that the default linking args `-lcublas` could only search in library files from`/usr/lib` `/usr/local/lib`, while the default path for cuda is `/usr/local/cuda/lib`.

A work around should be expending search path using `DYLD_LIBRARY_PATH` under osx, like this:
`export CUDA_HOME="/usr/local/cuda"`
 `export DYLD_LIBRARY_PATH="

[2017-02-14 02:16] xunzhang commented on #300
The default cmake finding results for `CUDA_LIBRARIES` is only cuda rt libraries. https://github.com/clab/dynet/blob/master/CMakeLists.txt#L146

[2017-02-14 02:40] neubig commented on #300
This should be fixed in master by https://github.com/clab/dynet/pull/303

[2017-02-14 02:44] xunzhang commented on #300
@neubig I haven't tested in my linux environment yet, I will do that asap. It should work. I think we should add CI with cuda configuration but I need to test the time to make sure it is not too long. To install cuda, I also need a public place download cuda and cudnn libraries. Let's discuss in another thread later.

[2017-02-14 02:45] neubig commented on #300
@xunzhang It worked on my linux. And +1 to adding cuda compiling to CI.

[2017-02-14 02:49] xunzhang commented on #300
Good to know that. I will do that tmr. @iamyoungjo have a try and please close the issue if latest code solved your problem, thanks.

[2017-02-14 03:09] iamyoungjo commented on #300
First of all, thank you so much for you guys' effort. I just tried and was possible to go through up to 99% but it omitted one error at the last moment.

[make2.log.zip](https://github.com/clab/dynet/files/773048/make2.log.zip)

[2017-02-14 03:35] xunzhang commented on #300
I could successfully build under osx 10.12. You are using osx 10.6?

[2017-02-14 03:47] iamyoungjo commented on #300
I am using 10.11.6 (El Capitan).

[2017-02-14 06:13] iamyoungjo commented on #300
@xunzhang I tried with different compiler but still it gives me the same error. Any workaround or fix to deal with this? I spent whole day with this.

[2017-02-14 15:15] neubig commented on #300
@iamyoungjo Thanks for the patience! I understand the frustration, but also please understand that it's hard for us to debug when we don't have access to a machine that can replicate the problem.

Anyway, it looks like this problem is now stemming from CUBLAS problems when compiling the python library. The relevant lines that are setting the CUBLAS path are here:
https://github.com/clab/dynet/blob

[2017-02-14 15:24] xunzhang commented on #300
I will take a look at it today, finding an osx 10.11 environment and try to reproduce the bug. @iamyoungjo What's your email address, I want head up to you asking more details in a more interactive way. Thanks.

[2017-02-14 15:40] neubig commented on #285
This question is a bit vague. Could you please provide a minimal code example of what you're trying to do?

[2017-02-14 15:42] neubig commented on #268
@jplalor Thanks for this info! It looks like this is the correct solution. I'll reference this in the doc.

[2017-02-14 15:42] #268 closed

[2017-02-14 15:45] neubig commented on #262
Fixed by https://github.com/clab/dynet/pull/295

[2017-02-14 15:45] #262 closed

[2017-02-14 18:18] iamyoungjo commented on #300
@xunzhang dearyoungjo@gmail is my email address. Thanks!

[2017-02-14 21:28] xunzhang commented on #300
I will summarize the offline discussion with @iamyoungjo through Gmail.

I found the issue came out when specifying `-DPYTHON` arg during configuration under osx. After adding this option, I can replicate the bug in my environment. This is another issue not the same as the original proposal one, the root cause for this is that dynet doesn't support python build under osx.

I have fixed it at https

[2017-02-14 21:52] neubig commented on #300
Resolved by https://github.com/clab/dynet/pull/305

[2017-02-14 21:52] #300 closed

[2017-02-15 01:04] neubig opened #308 "Stale expressions should throw error, not segmentation fault"
In Python, when we try to use an expression that has been invalidated by `dy.renew_cg()` we get a segmentation fault. For example, this will crash with a segmentation fault:

    model = dy.Model()
    W_p = model.add_parameters((16,16))
    W = dy.parameter(W_p)
    dy.renew_cg()
    print('W.dim()=', W.dim())

This is confusing, especially for people who are not familiar with the DyNet paradigm

[2017-02-15 02:01] neubig commented on #282
I was able to reproduce this on the AWS Deep Learning AMI, so I'll try to debug when I have another moment.

[2017-02-15 02:55] neubig commented on #282
So the problem appears to be that the deep learning AMI has a broken Boost installation. Two versions of the Boost libraries installed (1.53 in /usr/lib64, and 1.62 in /usr/lib), and when DyNet compiles it was finding the headers from one version 1.62, and the libraries from another 1.53. By removing the libraries from 1.53 I was able to fix the problem.

    mkdir ~/boost-quarantine
    sudo mv /

[2017-02-15 02:57] neubig commented on #298
Is this the same problem as upstream having two versions of boost installed?
https://github.com/clab/dynet/issues/282

[2017-02-15 02:58] xunzhang commented on #282
🍺 I also agree to get rid of boost, I am working on dynet-84.

[2017-02-15 06:38] chaitanyamalaviya commented on #282
I can confirm that the above fix lets dynet-gpu compile successfully. I tried running some of the python examples from the /examples/python directory. I allocate 2GB of memory to dynet. While the examples do not crash during execution, I receive a python error just before the execution terminates, followed by a Backtrace and a Memory Map.
`*** Error in `python': double free or corruption (!prev):

[2017-02-15 06:42] anglil opened #309 "MKL empowered multithreading"
I set MKL_DYNAMIC=FALSE without setting MKL_NUM_THREADS and multithreading works; TOP command shows more than one core is being used. However, once I set MKL_NUM_THREADS to any specific number, multithreading stops working; only one core would be used (CPU% ~ 100%). So my question is, in addition to MKL_NUM_THREADS, what other environment variables need to be set / what other actions need to be ta

[2017-02-15 12:08] neubig opened #310 "libgdynet linked to libdynet (causing double memory free)"
This fix introduced a tricky error: https://github.com/clab/dynet/commit/06b1dd1b97f30feda05284d94554743eb058a286

Basically, `libdynet` should implement everything only on CPU, while `libgdynet` implements things compiled on CPU+GPU, and they are independent of each-other. (Once multi-device support is working properly, `libdynet` will be phased out, and only `libgdynet` will remain, with the opt

[2017-02-15 12:09] neubig commented on #282
Thanks for the confirmation! The double memory free is another issue, so I'll close this one: https://github.com/clab/dynet/issues/310

[2017-02-15 12:09] #282 closed

[2017-02-15 12:39] neubig commented on #309
I'm not sure about this, but @mattr1 may know?

[2017-02-15 13:35] yoavg commented on #308
They do throw an exception in most cases. I see this is not implemented for ".dim()".
I do not have time to do this now (and not working from my own laptop) but the fix should be to add:
[code]
in line 631:
https://github.com/clab/dynet/blob/master/python/_dynet.pyx#L631

[2017-02-15 13:43] yoavg commented on #308
fixed (for .dim()).

[2017-02-15 13:43] #308 closed

[2017-02-15 14:54] neubig commented on #308
Thanks a lot!

[2017-02-15 19:54] neubig commented on #310
This should be fixed now. I will merge pending some more testing. Independent confirmation of working on windows, or mac with CUDA would be appreciated.

[2017-02-15 20:27] neubig commented on #310
Fixed by https://github.com/clab/dynet/pull/311

[2017-02-15 20:27] #310 closed

[2017-02-15 20:49] neubig commented on #284
@pmichel31415 Hmm, I wasn't able to reproduce this. Could you try again with the latest master? If so, maybe we can debug this directly on your machine.

[2017-02-16 01:39] neubig commented on #239
The C++ version of the bug should be fixed by https://github.com/clab/dynet/commit/7f45b7e6b1dd85f510f7e6ce362dfd1e8942b52a

[2017-02-16 02:08] anglil commented on #309
Thanks in advance @mattr1

[2017-02-16 02:20] neubig commented on #239
Looks like the Python is still broken though. Any ideas @yoavg ?

[2017-02-16 02:37] neubig commented on #255
Should be fixed with this: https://github.com/clab/dynet/pull/258

[2017-02-16 02:37] #255 closed

[2017-02-16 03:01] neubig commented on #120
documentation is done, so i'll close this.

[2017-02-16 03:01] #120 closed

[2017-02-16 03:03] neubig commented on #78
CUDA seems to be working on OSX since this: https://github.com/clab/dynet/pull/305

Are things working now?

[2017-02-16 03:24] neubig commented on #139
Fixed by https://github.com/clab/dynet/commit/56e3b7aef59b9f576c4a4780733ca91614ed2520

[2017-02-16 03:24] #139 closed

[2017-02-16 15:15] rasoolims commented on #285
[code]

My question is do I still need to pad the fw and bw lstms? Because they are concatenated to another input and then fed to a MLP.

[2017-02-16 17:20] chanansh opened #314 "segmentation fault at python: "import dynet""
Hi,
I have followed the instructions here: http://dynet.readthedocs.io/en/latest/python.html
* Completion succeed.
* Running `example\train_xor` succeed.
* running `python setup.py install` finished.

Now, when I run `import dynet` in python I get segmentation fault.
I am using Docker with miniconda3
Tried also miniconda and ubuntu.
Get the same result.

[2017-02-16 17:26] neubig commented on #314
Hi @chanansh, sorry. I just realized this bug too. This was introduced in a very recent version, and I'm working on fixing it, but for now the only solution is to revert to a previous version. Please try:

    git checkout 7f45b7e6b1dd85f510f7e6ce362dfd1e8942b52a

and re-do the installation instructions.

[2017-02-16 17:27] pmichel31415 commented on #314
Is this on the latest version of dynet?

Also did you compile with cuda?

It might be linked to a pull request I made I'll take a look after lunch.

[2017-02-16 17:32] neubig commented on #314
@pmichel31415 I believe your intuition is correct, and this is not dependent on CUDA. I'm getting a segmentation fault here, even when compiling on CPU (Python 3.5).

     Invalid read of size 4
       at 0x79CF017: ??? (in /usr0/home/gneubig/usr/local/anaconda3/lib/libstdc++.so.6.0.19)
       by 0x79D0228: std::string::assign(std::string const&) (in /usr0/home/gneubig/usr/local/anaconda3/lib/libs